/*Breakpoints visibility*/
body .is-style-hidden {
  display: none !important;
}

/* mobile */
@media (max-width: 782px) {
  body .is-style-show-tablet {
    display: none !important;
  }
  body .is-style-show-tablet-desktop {
    display: none !important;
  }
  body .is-style-show-desktop {
    display: none !important;
  }
}

/* tablet */
@media (min-width: 783px) and (max-width: 1024px) {
  body .is-style-show-mobile {
    display: none !important;
  }
  body .is-style-show-desktop {
    display: none !important;
  }
  /* multiple buttons in column*/
  body .ce-buttons-column {
    align-items: center !important;
  }
}

/* desktop */
@media (min-width: 1025px) {
  body .is-style-show-mobile {
    display: none !important;
  }
  body .is-style-show-mobile-tablet {
    display: none !important;
  }
  body .is-style-show-tablet {
    display: none !important;
  }
  /* multiple buttons in column*/
  body .ce-buttons-column {
    align-items: flex-start !important;
  }
}

.block-editor-block-list__layout::selection {
  background: var(--wp--preset--color--primary);
}
