.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

strong {
  font-weight: var(--wp--custom--font-weight--medium) !important;
}
/* :root :where(.wp-block-heading) {
  font-family: initial !important;
} */
