.is-style-no-margin {
  margin: 0 !important;
}

.is-style-no-margin > a {
  margin: 0 !important;
}

.is-style-padded {
  padding: var(--wp--custom--spacing--sxxs) var(--wp--custom--spacing--sm);
}

.is-style-horizontal-padded {
  padding-left: var(--wp--custom--spacing--sm);
  padding-right: var(--wp--custom--spacing--sm);
}

@media (min-width: 1024px) {
  .is-style-padded {
    padding: var(--wp--custom--spacing--sl) var(--wp--custom--spacing--sxxl);
  }

  .is-style-horizontal-padded {
    padding-left: var(--wp--custom--spacing--sxxl);
    padding-right: var(--wp--custom--spacing--sxxl);
  }
}
