/*
Theme Name: Comunitats Energètiques Theme v2
Theme URI: https://git.coopdevs.org/coopdevs/comunitats-energetiques/wp-coop-ce-theme-v-2
Template: wp-coop-theme
Author: Coopdevs & Còdec
Description: Child theme boilerplate to be used with WP Coop Theme
Version: 2.0.42
License: GPL-3.0
Text Domain: wpct-ce
*/

@import "assets/css/index.css";
