/*
Theme Name: WP Coop Theme Child
Theme URI: https://gitlab.com/coopdevs/wp-coop-theme-child
Template: wp-coop-theme
Author: Coopdevs & Som Energia
Description: Child theme boilerplate to be used with WP Coop Theme
Version: 0.0.1
License: MIT
License URI: https://gitlab.com/coopdevs/wp-coop-theme/blob/main/LICENSE
Text Domain: wp_coop_theme_child
*/