/* (upper nav) */

#upper-main-nav {
  font-size: var(--wp--preset--font-size--x-small);
}

#upper-main-nav > .wp-block-group {
  gap: 24px !important;
}

#upper-main-nav .header-upper-ov .wp-block-navigation__container li {
  color: var(--wp--preset--color--main);
  font-weight: var(--wp--custom--font-weight--bold);
  padding-right: var(--wp--custom--spacing--sm);
}

/* Language
--------------------------------------------- */
#upper-main-nav .wpml-ls-legacy-list-horizontal {
  padding: 0;
}
#upper-main-nav .wpml-ls ul {
  padding: 0 15px;
  height: 15px;
  border-right: 1px solid var(--wp--preset--color--main);
  border-left: 1px solid var(--wp--preset--color--main);
}
#upper-main-nav .wpml-ls-item {
  height: 23px;
  vertical-align: middle;
}
#upper-main-nav .wpml-ls-link {
  color: var(--wp--preset--color--main);
  /* font-weight: var(--wp--custom--font-weight--bold); */
  font-size: 13px;
}

#upper-main-nav .wpml-ls-item.wpml-ls-current-language a {
  font-weight: 900;
}
#upper-main-nav .wpml-ls-item:first-child a {
  padding: 0 15px 0px 0;
}
#upper-main-nav .wpml-ls-item:nth-child(2) a {
  padding: 0 15px 0px 15px;
}
#upper-main-nav .wpml-ls-item:not(:nth-child(3)) a {
  /* padding: 0 10px 5px; */
  border-right: 1px solid var(--wp--preset--color--main);
}
#upper-main-nav .wpml-ls-item a br {
  display: none;
}

#upper-main-nav .wpml-ls-item:last-child a {
  padding: 0 0 5px 10px;
  border-right: none;
}

#upper-main-nav .wpml-ls-current-language a {
  font-weight: var(--wp--custom--font-weight--bold);
}

/*--------------------------------------------- */

#upper-main-nav .wp-block-social-links .wp-social-link {
  padding: 0 0 0 var(--wp--custom--spacing--sxxs);
}
#upper-main-nav .wp-block-social-links .wp-social-link svg {
  height: 0.9em;
  width: 0.9em;
}
#upper-main-nav .wp-block-social-links li.wp-social-link-x svg {
  transform: scale(0.9);
}

#upper-main-nav .wp-block-social-links li.wp-social-link-mastodon svg {
  transform: scale(0.8);
}
#upper-main-nav .wp-block-social-links li.wp-social-link-facebook svg {
  transform: scale(0.95);
}
#upper-main-nav .wp-block-social-links li.wp-social-link-youtube svg {
  transform: scale(1.05);
}
#upper-main-nav .wp-block-social-links li.wp-social-link-telegram svg {
  transform: scale(1.25);
}
