/* Forms generic styles
--------------------------------------------- */
input {
  border: none;
}

.gform_wrapper {
  color: var(--wp--preset--color--typography);
}

.gform_required_legend {
  display: none;
}

.ginput_container input,
.ginput_container textarea {
  border: none;
  border-radius: 5px;
}

.gfield_consent_description {
  color: var(--wp--preset--color--typography-light);
  font-size: var(--wp--preset--font-size--xxx-small) !important;
  border: none !important;
}

.gform_button {
  border-radius: 5px;
}

.gform_confirmation_message {
  background-color: var(--wp--preset--color--typography);
  border-radius: 5px;
  padding: var(--wp--custom--spacing--sxs);
  color: var(--wp--preset--color--main);
}

.gfield_label {
  margin-bottom: 0 !important;
}

/* Forms alta comunitat and contact
--------------------------------------------- */
#ce-form .gform_wrapper {
  color: var(--wp--preset--color--main-light);
  font-family: var(--wp--preset--font-family--primary);
}

#ce-form .gfield.gfield--type-section {
  border-bottom: none;
  position: relative;
  padding: 0 0 8px 0;
}

#ce-form .gfield.gfield--type-section h3 {
  font-size: var(--wp--preset--font-size--medium);
  color: var(--wp--preset--color--main-light);
  font-weight: var(--wp--custom--font-weight--medium);
  display: flex;
}

#ce-form .gfield.gfield--type-section h3:after {
  overflow: hidden;
  height: 1px;
  content: "\a0";
  background-color: var(--wp--preset--color--main-light);
  flex: 1;
  margin: 0.6em 0 0 25px;
}

#ce-form .ginput_container textarea,
#ce-form .ginput_container input,
#ce-form .ginput_container select {
  border-radius: 10px;
  border: 1px solid var(--wp--preset--color--second-base);
  font-size: var(--wp--preset--font-size--small);
  font-weight: var(--wp--custom--font-weight--regular);
  font-family: var(--wp--preset--font-family--alternative);
  color: var(--wp--preset--color--main-light);
}

#ce-form .ginput_container textarea,
#ce-form .ginput_container input {
  font-size: var(--wp--preset--font-size--small);
}

#ce-form .ginput_container select {
  font-size: var(--wp--preset--font-size--x-small);
  height: 42px;
}

#ce-form .ginput_container textarea {
  resize: none;
}

#ce-form .gfield.gfield--type-checkbox legend {
  font-size: var(--wp--preset--font-size--small);
  font-weight: var(--wp--custom--font-weight--medium);
}

#ce-form .ginput_container.ginput_container_checkbox .gchoice input {
  border-radius: 5px;
  border: 1px solid var(--wp--preset--color--second-base);
  appearance: none;
  width: 20px;
  height: 20px;
  padding: 8px;
}

#ce-form .ginput_container.ginput_container_checkbox .gchoice input:checked {
  background-color: var(--wp--preset--color--brand);
  border: none;
}

#ce-form .gfield.gfield--type-checkbox .gfield_choice_all_toggle {
  display: none;
}

#ce-form .gform_footer.top_label input.gform_button {
  width: 100%;
  border-radius: 100px;
  background-color: var(--wp--preset--color--primary);
  font-size: var(--wp--preset--font-size--small);
  font-weight: var(--wp--custom--font-weight--medium);
}

/* Gform confirmation message */
#ce-form .gform_confirmation_message {
  background-color: var(--wp--preset--color--base);
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;
}

@media (max-width: 1024px) {
  #ce-form .gform_confirmation_message {
    height: 40vh;
  }
}

#ce-form .gform_confirmation_message img {
  margin-bottom: 30px;
}

#ce-form .gform_confirmation_message h4 {
  color: var(--wp--preset--color--main);
  margin: 0;
}

#ce-form .gform_confirmation_message a {
  color: var(--wp--preset--color--main);
  font-weight: var(--wp--custom--font-weight--bold);
  background: var(--wp--preset--color--primary);
  padding: 15px 20px;
  border-radius: 100px;
  margin-top: 30px;
}

