footer.wp-block-template-part a {
  color: var(--wp--preset--color--base);
}

footer.wp-block-template-part
  footer.wp-block-template-part
  .wp-block-navigation.is-vertical
  .wp-block-navigation-item {
  padding: 0 0 20px;
}

footer.wp-block-template-part .gform_wrapper form {
  position: relative;
}

.ce-form-newsletter .gform_wrapper form .gfield_consent_label,
.ce-form-newsletter .gform_wrapper form .gfield_consent_description {
  color: var(--wp--preset--color--base) !important;
}

footer.wp-block-template-part .gform_button {
  background-color: var(--wp--preset--color--secondary);
  color: var(--wp--preset--color--typography);
  margin: 0 !important;
}

footer.wp-block-template-part .gfield_consent_description {
  padding-left: 0px;
  padding-right: 0px;
}

footer.wp-block-template-part .is-style-footer-nav-group .wpml-ls {
  padding: 0;
}

footer.wp-block-template-part .wpml-ls > ul > li > a > br {
  display: none;
}

footer.wp-block-template-part .wpml-ls-item:nth-child(n + 2) {
  border-left: 1px solid;
}

footer.wp-block-template-part .wpml-ls-item a {
  padding: 0 10px;
}

footer.wp-block-template-part .wpml-ls-item:first-child a {
  padding-left: 0;
}

footer.wp-block-template-part .wpml-ls-item:last-child a {
  padding-right: 0;
}

footer.wp-block-template-part .wp-block-social-links {
  flex-wrap: nowrap;
}

footer.wp-block-template-part .wp-block-social-links li {
  padding: 0 0.5rem;
}

footer.wp-block-template-part .wp-block-social-links.is-style-logos-only svg {
  height: 1.1em;
  width: 1.1em;
}

footer.wp-block-template-part .wp-block-social-links li:first-child {
  padding-left: 0px;
}

footer.wp-block-template-part .wp-block-social-links li:last-child {
  padding-right: 0px;
}

footer.wp-block-template-part .ce-legal-nav {
  padding: 0.5rem 0;
}

footer.wp-block-template-part .ce-legal-nav a {
  color: var(--wp--preset--color--second-base-light);
}
