footer.wp-block-template-part a {
  color: var(--wp--preset--color--base);
}

/* footer.wp-block-template-part .is-style-in-container { */
/*   max-width: 500px !important; */
/*   margin: 0 auto; */
/* } */

/* (navigation) (upper) */
footer.wp-block-template-part .wp-block-navigation.is-vertical .wp-block-navigation-item {
  padding: 0 0 20px;
}

/* (form) */
footer.wp-block-template-part .gform_wrapper form {
  position: relative;
}

footer.wp-block-template-part .gform_wrapper form .gform_button[type="submit"] {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10;
}

footer.wp-block-template-part .gform_wrapper form .gfield_consent_label,
footer.wp-block-template-part .gform_wrapper form .gfield_consent_description {
  color: var(--wp--preset--color--base);
}

footer.wp-block-template-part .gform_button {
  background-color: var(--wp--preset--color--secondary);
  color: var(--wp--preset--color--typography);
  margin: 0 !important;
}

/* (lang nav) */
footer.wp-block-template-part .is-style-footer-nav-group .wpml-ls {
  padding: 0;
}

footer.wp-block-template-part .wpml-ls > ul {
  margin-left: 0;
  padding: 0;
  font-size: var(--wp--preset--font-size--small);
}

footer.wp-block-template-part .wpml-ls > ul::before {
  display: none;
}

footer.wp-block-template-part .wpml-ls > ul > li > a {
  color: var(--wp--preset--color--base);
}

footer.wp-block-template-part .wpml-ls > ul > li > a > br {
  display: none;
}

footer.wp-block-template-part .wpml-ls-item:nth-child(n + 2) {
  border-left: 1px solid;
}

footer.wp-block-template-part .wpml-ls-item a {
  padding: 0 10px;
}

footer.wp-block-template-part .wpml-ls-item:first-child a {
  padding-left: 0;
}

footer.wp-block-template-part .wpml-ls-item:last-child a {
  padding-right: 0;
}

footer.wp-block-template-part .wp-block-social-links li {
  padding: 0 10px;
}

footer.wp-block-template-part .wp-block-social-links.is-style-logos-only svg {
  height: 1.1em;
  width: 1.1em;
}

footer.wp-block-template-part .wp-block-social-links li:first-child {
  padding-left: 0px;
}

footer.wp-block-template-part .wp-block-social-links li:last-child {
  padding-right: 0px;
}

#footer-nav-legal li {
  padding: var(--wp--custom--spacing--sminimal) var(--wp--custom--spacing--sxxs);
}

#footer-nav-legal li:first-child {
  padding-left: 0;
}

#footer-nav-legal li:last-child {
  padding-right: 0;
}

