.ce-header {
    -webkit-box-shadow: 0 5px 10px rgb(0 0 0 / 0.1);
    -moz-box-shadow: 0 5px 10px rgb(0 0 0 / 0.1);
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.1);
  }
  .ce-header .current-menu-item a {
    color: var(--wp--preset--color--brand) !important;
  }
  .ce-header .current-menu-item .wp-block-navigation__submenu-container li a {
    color: var(--wp--preset--color--typography) !important;
  }
  
  .ce-header .wp-block-navigation-item.has-child {
    margin-top: 15px;
    padding-bottom: 15px !important;
  }
  .ce-header .wp-block-navigation__submenu-container {
    min-width: 230px !important;
    background-color: var(--wp--preset--color--tertiary) !important;
  }
  .ce-header .wp-block-navigation__submenu-container .wp-block-navigation-item {
    padding: var(--wp--custom--spacing--sxxs) var(--wp--custom--spacing--sm);
    font-size: var(--wp--preset--font-size--x-small);
  }
  .ce-header .wp-block-navigation__submenu-container .wp-block-navigation-item a {
    color: var(--wp--preset--color--typography);
  }

  /*NOU CODI CÒDEC*/
  /*Desktop version*/


  @media only screen and (min-width: 1024px){
    .ce-header .wp-block-group .wp-block-image{
      width: 165px !important;
    }

    .ce-header .wp-block-navigation__container .wp-block-navigation-item:first-child,
    .ce-header .wp-block-navigation__container .wp-block-navigation-item:nth-child(6),
    .ce-header .wp-block-navigation__container .wp-block-navigation-item:nth-child(7), 
    .ce-header .wp-block-navigation__container .wp-block-navigation-item:last-child,
    .ce-header .wpml-language-switcher-navigation-block.wpml-ls-list,
    .ce-header .wp-block-social-links
    {
      display: none;
    
    }
    
    .ce-header .wp-block-navigation .wp-block-navigation__container li:nth-child(3),
    .ce-header .wp-block-navigation .wp-block-navigation__container li:nth-child(4){
      
      border-right: 1px solid var(--wp--preset--color--base);
    }
    .ce-header .wp-block-buttons{
      width: 140px;
    }
    .ce-header .wp-block-buttons .wp-block-buttom__link{
      padding: 0;
    }
  }

   /*NOU CODI CÒDEC*/
  /*mobile version*/
  .wp-block-navigation__responsive-dialog{
    margin-top: 0 !important;
  }
  .wp-block-navigation__responsive-container.is-menu-open{
    padding: 30px !important;
    
  }
  .wp-block-navigation__responsive-container-content .wp-block-navigation__container, 
  .wp-block-navigation__responsive-container-close{
    color: var(--wp--preset--color--base);
    border: none;

  }
  .wp-block-navigation__responsive-container-content{
    align-items: center !important;
    justify-content: space-between !important;
    height: 100vh !important;
    padding-top: 0 !important;
  }
  .wp-block-navigation__responsive-container-content .wp-block-navigation__container{
    display: inline-block !important;
    width: 100%;
  }
  .wp-block-navigation__responsive-container-content .wp-block-navigation__container .wp-block-navigation-item{
    margin:0;
    padding: 0;
  }
  .wp-block-navigation__responsive-container-content > .wp-block-navigation__container:first-child .wp-block-navigation-item:first-child {
    padding: 0;
    position: absolute;
    top: 0;
    
  }
  .wp-block-navigation__responsive-container-content > .wp-block-navigation__container:first-child .wp-block-navigation-item:nth-child(2) {
   margin-top: 70px;
    
  }
  .wp-block-navigation__responsive-container-content > .wp-block-navigation__container:first-child .wp-block-navigation-item:first-child div a{
    padding:0;
  }
  .wp-block-navigation__responsive-container-content > .wp-block-navigation__container:first-child .wp-block-navigation-item:first-child div a img{
    width: 205px;
    height: 47px;
  }
  .wp-block-navigation__responsive-container-content > .wp-block-navigation__container:first-child .wp-block-navigation-item:nth-child(-n+5):not(:first-child){
    font-size: var(--wp--preset--font-size--x-large) !important;
    width: 100%;
    padding: var(--wp--custom--spacing--sm) 0;
    border-bottom: 1px solid var(--wp--preset--color--base);
  }
  .wp-block-navigation__responsive-container-content > .wp-block-navigation__container:first-child .wp-block-navigation-item:nth-child(n+6) {
    display: block;
    float: left;
    width: 33%;
    text-align: center;
    font-size: var(--wp--preset--font-size--medium) !important;
    padding: var(--wp--custom--spacing--sl) 0;
  }
  .wp-block-navigation__responsive-container.is-menu-open .wpml-language-switcher-navigation-block.wpml-ls-list{
    margin-right: auto;
    margin-left: auto;
  } 

  .block-editor-block-list__block.wp-block.wp-block-navigation-item.wp-block-navigation-submenu{
    padding: 0 !important;
  }
  .wp-block-navigation__responsive-container.is-menu-open .wpml-language-switcher-navigation-block.wpml-ls-list .wp-block-navigation-item{
    padding:  0 var(--wp--custom--spacing--sxxs);
  }
  .wp-block-navigation__responsive-container.is-menu-open .wpml-language-switcher-navigation-block.wpml-ls-list .wp-block-navigation-item .wp-block-navigation-item:first-child{
    border-right: 1px solid var(--wp--preset--color--base);
  }
  .wp-block-navigation__responsive-container.is-menu-open .wpml-language-switcher-navigation-block.wpml-ls-list .wp-block-navigation-item ul{
    display: flex;
    padding: var(--wp--custom--spacing--sxxs) 0;
    
  }
  .wp-block-navigation__responsive-container.is-menu-open .wpml-language-switcher-navigation-block.wpml-ls-list .wp-block-navigation-item__content .wp-block-navigation-item__label{
    color: var(--wp--preset--color--base)!important;
    font-weight: var(--wp--custom--font-weight--bold)
  }

  .wp-block-navigation__responsive-container-content .wp-block-navigation__container:last-child{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 75px;
    width: 117%;
    background-color: var(--wp--preset--color--primary) !important;
    padding: 13px 8px;
    margin-bottom: -25px;
    margin-top: var(--wp--custom--spacing--sxs);
    

  }
  .wp-block-navigation__responsive-container-content .wp-block-navigation__container:last-child .wp-block-navigation-item,
  .wp-block-navigation__responsive-container-content .wp-block-navigation__container:last-child .wp-block-navigation-item .wp-block-navigation-item__content{
    width: 100%;
    text-align: center;
  }
  .wp-block-navigation__responsive-container-content .wp-block-navigation__container:last-child .wp-block-navigation-item__label{
    color: var(--wp--preset--color--main);
    font-weight: var(--wp--custom--font-weight--bold)
  }
  .wp-block-navigation__responsive-container-content .wp-block-social-links{
    margin: var(--wp--custom--spacing--sxs) 0;
  }
  .wp-block-navigation__responsive-container-content .wp-block-social-links .wp-social-link{
    color: var(--wp--preset--color--base)!important;
    padding: 0 var(--wp--custom--spacing--sxxs);
  }
  .wp-block-navigation__responsive-container-content .wp-block-social-links .wp-social-link svg{
    width: 25px;
    height: 25px;
  }
  
/* (burger menu) */
/* body .wp-block-navigation__responsive-container-open:not(.always-shown) {
  display: block !important;
  margin-right: var(--wp--custom--spacing--sxs);
}
body
  .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
  display: none !important;
}
.wp-block-navigation__responsive-container-close,
.wp-block-navigation__responsive-container-open {
  border-color: var(--wp--preset--color--typography-light);
}

@media (min-width: 1024px) {
  body .wp-block-navigation__responsive-container-open:not(.always-shown) {
    display: none !important;
  }
  body
    .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
    display: block !important;
  }
} */
  /* (main nav) (mobile open) */
  /* .wp-block-navigation__responsive-container.is-menu-open
    .wp-block-navigation__responsive-container-content
    .wp-block-navigation-item,
  .wp-block-navigation__responsive-container.is-menu-open
    .wp-block-navigation__responsive-container-content
    .wp-block-navigation__container,
  .wp-block-navigation__responsive-container.is-menu-open
    .wp-block-navigation__responsive-container-content
    .wp-block-page-list {
    margin: 0 auto;
    padding: 0;
  }
  .is-menu-open .wp-block-navigation__responsive-close,
  .is-menu-open .wp-block-navigation__responsive-container-content,
  .is-menu-open .wp-block-navigation__responsive-dialog {
    height: 100%;
    background-color: var(--wp--preset--color--base);
    background-image: url("../img/fonsmobil.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wp-block-navigation__responsive-container.is-menu-open
    .wp-block-navigation__responsive-container-content,
  .wp-block-navigation__responsive-container.is-menu-open
    .wp-block-navigation__responsive-container-content
    .wp-block-navigation__container,
  .wp-block-navigation__responsive-container.is-menu-open
    .wp-block-navigation__responsive-container-content
    .wp-block-page-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  @media only screen and (max-width: 975px) {
    .ce-header .wp-block-navigation .wp-block-navigation-item a {
      color: var(--wp--preset--color--typography);
    }
    .ce-header .wp-block-navigation .wp-block-navigation-item {
      padding: 0 0 var(--wp--custom--spacing--sm);
      color: var(--wp--preset--color--secondary);
      font-family: "Montserrat", Sans-serif;
      font-size: var(--wp--preset--font-size--x-large);
      font-weight: var(--wp--custom--font-weight--bold);
      text-transform: uppercase;
      letter-spacing: 0.5px;
    }
    .ce-header .wp-block-navigation .wp-block-navigation-item:last-child {
      padding: 0 0 var(--wp--custom--spacing--sm);
      color: var(--wp--preset--color--secondary);
      font-family: "Montserrat", Sans-serif;
      font-size: var(--wp--preset--font-size--x-large);
      font-weight: var(--wp--custom--font-weight--bold);
      text-transform: uppercase;
      letter-spacing: 0.5px;
    }
    .ce-header .wp-block-navigation-item {
      margin: 0 auto;
      align-items: inherit !important;
    }
    .ce-header .wp-block-navigation__submenu-container {
      display: none !important;
      padding-top: var(--wp--custom--spacing--sm) !important;
    }
    .ce-header .wp-block-navigation__submenu-container .wp-block-navigation-item {
      padding: var(--wp--custom--spacing--sxxs) var(--wp--custom--spacing--sm) !important;
      font-size: var(--wp--preset--font-size--x-small) !important;
    }
    .ce-header
      .wp-block-navigation__submenu-container
      .wp-block-navigation-item:last-child {
      padding: var(--wp--custom--spacing--sxxs) var(--wp--custom--spacing--sm) !important;
      padding-bottom: 0 !important;
    }
    .ce-header .wp-block-navigation__submenu-container .wp-block-navigation-item a {
      color: var(--wp--preset--color--typography-light) !important;
    }
  } */