/* (upper nav) */

#upper-main-nav {
  font-size: var(--wp--preset--font-size--x-small);
  
}
#upper-main-nav .header-upper-ov .wp-block-navigation__container{
  padding-right: var(--wp--custom--spacing--sxxs);
}
#upper-main-nav .header-upper-ov .wp-block-navigation__container li {
  color: var(--wp--preset--color--main);
  font-weight: var(--wp--custom--font-weight--bold);
  padding-right: 0;
}

/* Language
--------------------------------------------- */
#upper-main-nav .wpml-ls-legacy-list-horizontal{
  padding: 0;
}
#upper-main-nav .wpml-ls ul {
  padding: 0 15px;
  height: 20px;
  border-right: 1px solid var(--wp--preset--color--main);
  border-left: 1px solid var(--wp--preset--color--main);
}
#upper-main-nav .wpml-ls-item {
  height: 20px;
  vertical-align: middle;
}
#upper-main-nav .wpml-ls-link {
  color: var(--wp--preset--color--main);
  font-weight: var(--wp--custom--font-weight--bold);
  font-size: var(--wp--preset--font-size--small);
}
#upper-main-nav .wpml-ls-item:first-child a {
  padding: 0 15px 0px 0;
}
#upper-main-nav .wpml-ls-item a {
  /* padding: 0 10px 5px; */
  border-right: 1px solid var(--wp--preset--color--main);
}
#upper-main-nav .wpml-ls-item a br {
  display: none;
}

#upper-main-nav .wpml-ls-item:last-child a {
  padding: 0 0 5px 10px;
  border-right: none;
}

#upper-main-nav .wpml-ls-current-language a {
  font-weight: var(--wp--custom--font-weight--bold);
}

/*--------------------------------------------- */

#upper-main-nav .wp-block-social-links .wp-social-link{
  padding: 0 0 0 var(--wp--custom--spacing--sxxs);
}
#upper-main-nav .wp-block-social-links .wp-social-link svg{
  height: .9em;
  width: .9em;
}