#ce-contact #ce-form-container{
    align-items: flex-start;
}
#ce-contact #ce-contact-text a{
    color: var(--wp--preset--color--primary);
}
#ce-contact-material #ce-material-text a{
    margin-left: var(--wp--custom--spacing--sxs);
    font-weight: var(--wp--custom--font-weight--bold);
}

/* mobile phone */

#ce-contact-text{
    padding-top: 100px;
}