#ce-coordinadores-serveis .wp-block-column{
    padding: var(--wp--custom--spacing--sxxs) var(--wp--custom--spacing--sxs) ;
}

#ce-coordinadores-members .ce-card-header .wp-block-buttons .wp-block-button:nth-child(2) a{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}