body.home .wp-block-query.ce-cover-query .wp-block-post-template {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  gap: 0;
}

body.home .wp-block-query.ce-cover-query .wp-block-post-template .wp-block-post {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 30%;
  display: flex;
  align-items: stretch;
  margin: 0 2.5% 2.5%;
}

body.home
  .wp-block-ce-block-slider
  .wp-block-query.ce-cover-query
  .wp-block-post-template
  .wp-block-post {
  margin: 0;
}

body.home
  .wp-block-query.ce-cover-query
  .wp-block-post-template
  .wp-block-post:first-child {
  margin-left: 0;
}

body.home
  .wp-block-query.ce-cover-query
  .wp-block-post-template
  .wp-block-post:last-child {
  margin-right: 0;
}

body.home .ce-home-landings-section .slick-arrow {
  background-color: var(--wp--preset--color--primary);
  background-blend-mode: color-dodge;
}
