body.home .wp-block-query.ce-cover-query .wp-block-post-template {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  gap: 0;
}

body.home .wp-block-query.ce-cover-query .wp-block-post-template .wp-block-post {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 30%;
  display: flex;
  align-items: stretch;
  margin: 0 2.5% 2.5%;
}

body.home
  .wp-block-ce-block-slider
  .wp-block-query.ce-cover-query
  .wp-block-post-template
  .wp-block-post {
  margin: 0;
}

body.home
  .wp-block-query.ce-cover-query
  .wp-block-post-template
  .wp-block-post:first-child {
  margin-left: 0;
}

body.home
  .wp-block-query.ce-cover-query
  .wp-block-post-template
  .wp-block-post:last-child {
  margin-right: 0;
}

body.home .ce-home-landings-section .slick-arrow {
  background-color: var(--wp--preset--color--primary);
  background-blend-mode: color-dodge;
}
#troba-la-teva-comunitat #step-arrow {
  justify-content: flex-start;
  margin-top: 20%;
}
#troba-la-teva-comunitat #step-arrow::before{
  content:url(/wp-content/themes/wp-coop-ce-theme-v-2/img/icons/right-arrow-gray-1.png);
}

#troba-la-teva-comunitat #step {
  position: relative;
}

#troba-la-teva-comunitat #step1,
  #troba-la-teva-comunitat #step2,
  #troba-la-teva-comunitat #step3,
  #troba-la-teva-comunitat #step4{
    position: relative;
    height: 180px;
    background-repeat: no-repeat;
    background-size: cover;
  }




#troba-la-teva-comunitat #step-number {
  font-family: var(--wp--preset--font-family--title);
  font-weight: var(--wp--custom--font-weight--bold);
  text-align: center;
  border-radius: 100%;
  padding: 0px 15px;
  font-size: 28px !important;
  position: absolute;
  top: 90%;
  z-index: 2;
  left: 37%;
}
#troba-la-teva-comunitat #more-info a {
  text-decoration: underline;
}
#troba-la-teva-comunitat #more-info.new-line a::before {
  content: "\A";
  white-space: pre;
}



/*step numbers for mobile slider*/
@media (max-width: 782px) {
  #troba-la-teva-comunitat #step-number {
    padding: 5px 15px;
    position: absolute;
    z-index: 2;
    left: 45%;
    top: 95%;
  }
  #troba-la-teva-comunitat #step1,
  #troba-la-teva-comunitat #step2,
  #troba-la-teva-comunitat #step3,
  #troba-la-teva-comunitat #step4{
    position: relative;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}



#troba-la-teva-comunitat #step1{
  background-image: url(/wp-content/themes/wp-coop-ce-theme-v-2/img/icons/Apuntat1.png);
}
#troba-la-teva-comunitat #step2{
  background-image: url(/wp-content/themes/wp-coop-ce-theme-v-2/img/icons/Apuntat2.jpg);
}
#troba-la-teva-comunitat #step3{
  background-image: url(/wp-content/themes/wp-coop-ce-theme-v-2/img/icons/Apuntat3.jpg);
}
#troba-la-teva-comunitat #step4{
  background-image: url(/wp-content/themes/wp-coop-ce-theme-v-2/img/icons/Apuntat4.jpg);
}

