
#ciutadania-head #logo-button a::before{
  content: url(/wp-content/themes/wp-coop-ce-theme-v-2/img/icons/Vectorciutadania.png);
  margin-right: 10px;
}

#administracio-head #logo-button a::before{
  content: url(/wp-content/themes/wp-coop-ce-theme-v-2/img/icons/VectorAdministracio.png);
  margin-right: 10px;
}
#empresa-head #logo-button a::before{
  content: url(/wp-content/themes/wp-coop-ce-theme-v-2/img/icons/VectorEmpresa.png);
  margin-right: 10px;
}

#serveis-link #serveis-paragraph-no-margin{
  margin-bottom: 0;
}
#experiencies .wp-block-column .wp-block-grup {
  position: relative;
}
#experiencies  #blockquote {
  position: relative;
}
#experiencies  #blockquote #quotes{
  position: absolute;
  top: 8%;
  left: 8%;
}
#experiencies #persona {
  margin-top: -40px !important;
}

#comunities .wp-block-ce-block-slider[slidestoshow="1"] .slick-slider {
  max-width: 450px;
  margin: auto;
}

#comunities .wp-block-ce-block-slider .slick-arrow {
  background-color: var(--wp--preset--color--primary);
  background-blend-mode: color-dodge;
}