body {
  @apply font-sans;
}

.wp-block{
  @apply max-w-screen-xl;
}

.wp-block[data-align=wide] {
  @apply max-w-screen-xl;
}

.wp-block[data-align=full] {
  @apply max-w-full;
}

article > *:not(.entry-content),
.entry-content > * {
  @apply mx-auto max-w-content;
}

.entry-content, .block-editor-block-list__layout {
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  p, ul, ol {
    a {
      @apply text-blue-500 underline;

      &:hover {
        @apply no-underline;
      }
    }

    @apply mb-8;
  }

  ul:not(.block-editor-block-variation-picker__variations) {
    li {
      @apply list-disc list-inside;
    }
  }

  ol {
    li {
      @apply list-decimal list-inside;
    }
  }
}