/* Variables
--------------------------------------------- */
:root {
    --wp--preset--layout--size-content: 1500px;
}
/* Header
--------------------------------------------- */
.ce-header{
    -webkit-box-shadow: 0 5px 10px rgb(0 0 0 / 0.1);
    -moz-box-shadow: 0 5px 10px rgb(0 0 0 / 0.1);
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.1);
}

/* Site Title
--------------------------------------------- */
.wp-block-site-title{
    max-width: 200px;
}

.wp-block-site-title a{
    color: var(--wp--preset--color--typography) !important;
}
@media only screen and (min-width: 782px) {
    .wp-block-site-title{
        max-width: none;
        font-size: var(--wp--preset--font-size--x-large);
    }
}


/* Button
--------------------------------------------- */
input[type="button"],
input[type="submit"],
.wp-block-post-comments input[type=submit],
.wp-block-search__button {
    padding: var(--wp--custom--spacing--sxxs) var(--wp--custom--spacing--sxl);
    color: var(--wp--preset--color--base);
}
.wp-block-button__link,
.wp-block-button__link{
    color: var(--wp--preset--color--base);
}
input[type="button"]:focus,
input[type="button"]:hover,
input[type="button"]:visited,
input[type="submit"]:focus,
input[type="submit"]:hover,
input[type="submit"]:visited,
.wp-block-button__link:focus,
.wp-block-button__link:hover,
.wp-block-button__link:visited,
.wp-block-search__button:focus,
.wp-block-search__button:hover,
.wp-block-search__button:visited {
    background-color: var(--wp--preset--color--primary);
    border: 1px solid var(--wp--preset--color--primary);
    color: var(--wp--preset--color--typography);
}

/* Button - Fill
--------------------------------------------- */

.wp-block-button.is-style-fill .wp-block-button__link {
    color: var(--wp--preset--color--base);
}

.wp-block-button.is-style-fill .wp-block-button__link:focus,
.wp-block-button.is-style-fill .wp-block-button__link:hover {
    color: var(--wp--preset--color--typography);
}

/* Button - Rounded
--------------------------------------------- */

.wp-block-button.is-style-rounded .wp-block-button__link {
    color: var(--wp--preset--color--base);
}

.wp-block-button.is-style-rounded .wp-block-button__link:focus,
.wp-block-button.is-style-rounded .wp-block-button__link:hover {
    color: var(--wp--preset--color--typography);
}


/* Button - Outline
--------------------------------------------- */

.wp-block-button.is-style-outline .wp-block-button__link {
    border-color: var(--wp--preset--color--brand);
    color: var(--wp--preset--color--brand);
}

.wp-block-button.is-style-outline .wp-block-button__link:focus,
.wp-block-button.is-style-outline .wp-block-button__link:hover {
    color: var(--wp--preset--color--typography);
}

/* Button - Outline On Main Bg
--------------------------------------------- */

.wp-block-button.is-style-outline-on-main-bg .wp-block-button__link:focus,
.wp-block-button.is-style-outline-on-main-bg .wp-block-button__link:hover {
    color: var(--wp--preset--color--typography);
}


/* Navigation Responsive
--------------------------------------------- */

body .wp-block-navigation__responsive-container-open:not(.always-shown) {
    display: block !important;
    margin-right: var(--wp--custom--spacing--sxs);
}
body .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
    display: none !important;
}
.wp-block-navigation .wp-block-navigation-item:last-child{
    padding: var(--wp--custom--spacing--sminimal) var(--wp--custom--spacing--sm);
}

@media (min-width: 782px) {
    body .wp-block-navigation__responsive-container-open:not(.always-shown) {
        display: none !important;;
    }
    body .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
        display: block !important;
    }
}
.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation-item,
.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__container,
.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-page-list {
    margin: 0 auto;
}
.is-menu-open .wp-block-navigation__responsive-close,
.is-menu-open .wp-block-navigation__responsive-container-content,
.is-menu-open .wp-block-navigation__responsive-dialog {
    height: 100%;
    background-color: var(--wp--preset--color--second-base);
    background-image: url('../img/fonsmobil.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content,
.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__container,
.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-page-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
@media only screen and (max-width: 781px) {
    header .wp-block-navigation .wp-block-navigation-item{
        padding: var(--wp--custom--spacing--sm) 0;
        color: var(--e-global-color-secondary);
        font-family: "Montserrat",Sans-serif;
        font-size: var(--wp--preset--font-size--x-large-sxs);
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: .5px;
    }
}
/* Upper Nav
--------------------------------------------- */
.upper-menu-p a{color: var(--wp--preset--color--base);}
/* Language
--------------------------------------------- */
.lang-item{
    display: inline-block;
    padding-left: 5px;
    padding-bottom: 0;
}
.lang-item-first{
    padding-left: 0;
}

.lang-item a{
    color: var(--wp--preset--color--base) !important;
}
.lang-item.current-lang a{
    color:  var(--wp--preset--color--typography) !important;
}

/* Styles
--------------------------------------------- */
/* (headings) */
.is-style-ff-primary{
  font-family: var(--wp--preset--font-family--primary);
}
.is-style-ff-montserrat{
  font-family: var(--wp--preset--font-family--montserrat);
}
/* Columns
--------------------------------------------- */
/* (column) */
.is-style-in-container{
    max-width: 1500px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
@media (min-width: 1500px) {
    .is-style-in-container{
        max-width: var(--wp--preset--layout--size-content) !important;
    }
}
/* mobile */
.wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column{
    max-width: 500px;
    margin: 0 auto;
}
@media(min-width: 782px) {
    .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column{
        max-width: none;
        margin: 0;
    }
}



/* Forms
--------------------------------------------- */
.gform_button{
    border-radius: 5px;
}
.footer-newsletter-form{
    width: 425px;
    padding-right: var(--wp--custom--spacing--sm);
}


/* Footer
--------------------------------------------- */
figure{
    margin: 0;
}
footer a{
    color: var(--wp--preset--color--base) !important;
}
footer .is-style-in-container{
    max-width: 500px !important;
    margin: 0 auto;
}
@media(min-width: 782px) {
    footer .is-style-in-container{
        max-width: 1500px !important;
    }
}
/* (navigation) */
footer .wp-block-navigation .wp-block-navigation-item{
    padding: var(--wp--custom--spacing--sminimal) 0;
    width: 100%;
}
footer .wp-block-navigation .wp-block-navigation-item:last-child{
    padding: var(--wp--custom--spacing--sminimal) 0;
}

.ce-footer-lower .wp-block-navigation .wp-block-navigation-item{
    display: inline-block;
    width: auto;
    padding-left: var(--wp--custom--spacing--sm);
}
.ce-footer-lower .wp-block-navigation .wp-block-navigation-item:last-child{
    padding-left: var(--wp--custom--spacing--sm);
}
/* (form) */
footer .gform_button{
    background-color: var(--wp--preset--color--primary);
    color: var(--wp--preset--color--typography);
    margin:  0 !important;
}


/* Utils
--------------------------------------------- */
/* (shapes) */
.wpct-shape[data-negative="false"].wpct-shape-bottom, .wpct-shape[data-negative="true"].wpct-shape-top {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.wpct-shape-bottom {
  margin-bottom: -1px;
}
.wpct-shape {
  overflow: hidden;
  width: 100%;
  line-height: 0;
  direction: ltr;
}
.wpct-shape-bottom:not([data-negative="true"]) svg {
  z-index: -1;
}
.wpct-shape svg {
  display: block;
  width: calc(100% + 1.3px);
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.wpct-shape-fill-main {
  fill: var(--wp--preset--color--main);
}
.wpct-shape-fill-tertiary {
  fill: var(--wp--preset--color--tertiary);
}