/* Variables
--------------------------------------------- */
:root {
    --wp--preset--layout--size-content: 1500px;
}
/* General
--------------------------------------------- */
.is-style-horizontal-padded {
  padding-left: var(--wp--custom--spacing--sm);
  padding-right: var(--wp--custom--spacing--sm);
}


/* Header
--------------------------------------------- */
.ce-header{
    -webkit-box-shadow: 0 5px 10px rgb(0 0 0 / 0.1);
    -moz-box-shadow: 0 5px 10px rgb(0 0 0 / 0.1);
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.1);
}

/* Site Title
--------------------------------------------- */
.wp-block-site-title{
    max-width: 200px;
    font-size: var(--wp--preset--font-size--x-large);
}

.wp-block-site-title a{
    color: var(--wp--preset--color--typography) !important;
}
@media only screen and (min-width: 782px) {
    .wp-block-site-title{
        max-width: 200px;
    }
}
@media only screen and (min-width: 1200px) {
    .wp-block-site-title{
        max-width: none;
    }
}


/* Button
--------------------------------------------- */
input[type="button"],
input[type="submit"],
.wp-block-post-comments input[type=submit],
.wp-block-search__button {
    padding: var(--wp--custom--spacing--sxxs) var(--wp--custom--spacing--sxl);
    color: var(--wp--preset--color--base);
}
.wp-block-button__link,
.wp-block-button__link{
    color: var(--wp--preset--color--base);
}
input[type="button"]:focus,
input[type="button"]:hover,
input[type="button"]:visited,
input[type="submit"]:focus,
input[type="submit"]:hover,
input[type="submit"]:visited,
.wp-block-button__link:focus,
.wp-block-button__link:hover,
.wp-block-button__link:visited,
.wp-block-search__button:focus,
.wp-block-search__button:hover,
.wp-block-search__button:visited {
    background-color: var(--wp--preset--color--secondary);
    color: var(--wp--preset--color--typography);
}

/* Button - Fill
--------------------------------------------- */

.wp-block-button.is-style-fill .wp-block-button__link {
    color: var(--wp--preset--color--base);
}

.wp-block-button.is-style-fill .wp-block-button__link:focus,
.wp-block-button.is-style-fill .wp-block-button__link:hover {
    background-color: var(--wp--preset--color--secondary);
    color: var(--wp--preset--color--typography);
}

/* Button - Rounded
--------------------------------------------- */

.wp-block-button.is-style-rounded .wp-block-button__link {
    color: var(--wp--preset--color--base);
}

.wp-block-button.is-style-rounded .wp-block-button__link:focus,
.wp-block-button.is-style-rounded .wp-block-button__link:hover {
    background-color: var(--wp--preset--color--secondary);
    color: var(--wp--preset--color--typography);
}


/* Button - Outline
--------------------------------------------- */

.wp-block-button.is-style-outline .wp-block-button__link {
    border-color: var(--wp--preset--color--brand);
    color: var(--wp--preset--color--brand);
}

.wp-block-button.is-style-outline .wp-block-button__link:focus,
.wp-block-button.is-style-outline .wp-block-button__link:hover {
    background-color: var(--wp--preset--color--brand);
    color: var(--wp--preset--color--typography);
}

/* Button - Outline On Main Bg
--------------------------------------------- */

.wp-block-button.is-style-outline-on-main-bg .wp-block-button__link:focus,
.wp-block-button.is-style-outline-on-main-bg .wp-block-button__link:hover {
    color: var(--wp--preset--color--typography);
}

/* Navigation
--------------------------------------------- */
.wp-block-navigation-item.has-child{
    margin-top: 15px;
    padding-bottom: 15px !important;
}

.wp-block-navigation__submenu-container{
    min-width:  230px !important;
}
.wp-block-navigation__submenu-container .wp-block-navigation-item{
    padding: var(--wp--custom--spacing--sxxs) var(--wp--custom--spacing--sm);
    font-size: var(--wp--preset--font-size--xx-small);
}

.wp-block-navigation__responsive-container-close, .wp-block-navigation__responsive-container-open{
    border-color: var(--wp--preset--color--typography-light);
}

body .wp-block-navigation__responsive-container-open:not(.always-shown) {
    display: block !important;
    margin-right: var(--wp--custom--spacing--sxs);
}
body .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
    display: none !important;
}
.wp-block-navigation .wp-block-navigation-item:last-child{
    padding-right: var(--wp--custom--spacing--sm) !important;
}
/* Navigation Responsive
--------------------------------------------- */
@media (min-width: 951px) {
    body .wp-block-navigation__responsive-container-open:not(.always-shown) {
        display: none !important;;
    }
    body .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
        display: block !important;
    }
}
.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation-item,
.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__container,
.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-page-list {
    margin: 0 auto;
}
.is-menu-open .wp-block-navigation__responsive-close,
.is-menu-open .wp-block-navigation__responsive-container-content,
.is-menu-open .wp-block-navigation__responsive-dialog {
    height: 100%;
    background-color: var(--wp--preset--color--base);
    background-image: url('../img/fonsmobil.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content,
.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__container,
.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-page-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
@media only screen and (max-width: 950px) {
    header .wp-block-navigation .wp-block-navigation-item,
    header .wp-block-navigation .wp-block-navigation-item:last-child{
        padding: var(--wp--custom--spacing--sxs) 0;
        color: var(--e-global-color-secondary);
        font-family: "Montserrat",Sans-serif;
        font-size: var(--wp--preset--font-size--x-large);
        font-weight: var(--wp--custom--font-weight--bold);
        text-transform: uppercase;
        letter-spacing: .5px;
    }
    .wp-block-navigation-item{
        margin:  0 auto;
        align-items: inherit !important;
    }
    .wp-block-navigation__submenu-container{
        padding-top: var(--wp--custom--spacing--sm) !important;
    }
    .wp-block-navigation__submenu-container .wp-block-navigation-item{
        padding: var(--wp--custom--spacing--sxxs) var(--wp--custom--spacing--sm) !important;
        font-size: var(--wp--preset--font-size--medium) !important;
    }
    .wp-block-navigation__submenu-container .wp-block-navigation-item:last-child{
        padding: var(--wp--custom--spacing--sxxs) var(--wp--custom--spacing--sm) !important;
        padding-bottom: 0 !important;
    }

}
/* Upper Nav
--------------------------------------------- */
.upper-main-nav{
    font-size: var(--wp--preset--font-size--xx-small);;
}
.upper-menu-p a{color: var(--wp--preset--color--base);}
/* Language
--------------------------------------------- */
.wpml-ls{
    padding-left: 0;
}
.wpml-ls-link{
    color: var(--wp--preset--color--base);
}
.wpml-ls-first-item a{
    padding: 0 10px 0 0;
    border-right:  1px solid var(--wp--preset--color--base);
}
.wpml-ls-last-item a{
    padding: 0 0 0 10px;
}
.wpml-ls-current-language a{
    font-weight: var(--wp--custom--font-weight--bold);
}

/* Styles
--------------------------------------------- */
/* (headings) */
.is-style-ff-primary{
  font-family: var(--wp--preset--font-family--primary);
}
.is-style-ff-montserrat{
  font-family: var(--wp--preset--font-family--montserrat);
}
/* Columns
--------------------------------------------- */
/* (column) */
.is-style-no-padding{
    padding: 0 !important;
}
.is-style-no-gap{
    gap: 0 !important;
}
.is-style-in-container{
    max-width: 1500px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
@media (min-width: 1500px) {
    .is-style-in-container{
        max-width: var(--wp--preset--layout--size-content) !important;
    }
}
/* mobile */
.wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column{
    max-width: 500px;
    margin: 0 auto;
    /*TODO: this for specific blocks*/
    padding: 0 5px 10px;
    /*padding: 0 10px 35px;*/
}
@media(min-width: 782px) {
    .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column{
        max-width: none;
        margin: 0;
    }
}



/* Forms
--------------------------------------------- */
.gform_button{
    border-radius: 5px;
}
.footer-newsletter-form{
    width: 425px;
    padding-right: var(--wp--custom--spacing--sl);
}


/* Footer
--------------------------------------------- */
footer a{
    color: var(--wp--preset--color--base) !important;
}
footer .is-style-in-container{
    max-width: 500px !important;
    margin: 0 auto;
}
@media(min-width: 782px) {
    footer .is-style-in-container{
        max-width: 1500px !important;
    }
}
/* (navigation) (upper) */
.is-style-footer-nav-group .wpml-ls{
    padding: 0;
}
.is-style-footer-nav-group .wp-block-navigation-item{
    width:  100%;
    padding: 0 0 20px;
    text-transform: none;
}
.is-style-footer-nav-group .wp-block-navigation-item a{
    font-weight: var(--wp--custom--font-weight--regular);
}
/* (navigation) (lower) */
.ce-footer-lower .wp-block-navigation-item{
    text-transform: none;
}
.ce-footer-lower .wp-block-navigation-item a{
    font-weight: var(--wp--custom--font-weight--regular);
}
/* (form) */
footer .gform_button{
    background-color: var(--wp--preset--color--secondary);
    color: var(--wp--preset--color--typography);
    margin:  0 !important;
}


/* Utils
--------------------------------------------- */
figure{
    margin: 0 !important;
}
.svg-inline--fa{
    padding-right: 8px;
}
/* (shapes) */
.wpct-shape[data-negative="false"].wpct-shape-bottom, .wpct-shape[data-negative="true"].wpct-shape-top {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.wpct-shape-bottom {
  margin-bottom: -1px;
}
.wpct-shape {
  overflow: hidden;
  width: 100%;
  line-height: 0;
  direction: ltr;
}
.wpct-shape-bottom:not([data-negative="true"]) svg {
  z-index: -1;
}
.wpct-shape svg {
  display: block;
  width: calc(100% + 1.3px);
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.wpct-shape-fill-main {
  fill: var(--wp--preset--color--main);
}
.wpct-shape-fill-primary {
  fill: var(--wp--preset--color--primary);
}
.wpct-shape-fill-tertiary {
  fill: var(--wp--preset--color--tertiary);
}