@import "../../../wp-coop-theme/assets/css/index.css";
@import "custom.css";

/* Base */
@import "base/typography.css";
@import "base/layout.css";
@import "base/responsive.css";

/* Elements */
@import "elements/button.css";

/* Blocks */
@import "blocks/terms.css";
@import "blocks/post-title.css";

/* Template parts */
@import "parts/header.css";
@import "parts/footer.css";
@import "parts/upper-main-nav.css";

/* Pages */
@import "pages/home.css";
@import "pages/ce-news.css";
@import "pages/ce-quisom.css";
