@import "../../../wp-coop-theme/assets/css/index.css";
@import "custom.css";

/* Base */
@import "base/typography.css";
@import "base/layout.css";
@import "base/responsive.css";

/* Elements */
@import "elements/button.css";
@import "elements/blockquote.css";

/* Blocks */
@import "blocks/terms.css";
@import "blocks/post-title.css";
@import "blocks/slider.css";

/* Template parts */
@import "parts/header.css";
@import "parts/footer.css";
@import "parts/upper-main-nav.css";
@import "parts/ce-forms.css";

/* Template patterns */
@import "patterns/card.css";
@import "patterns/faqs.css";
@import "patterns/actions.css";

/* Pages */
@import "pages/home.css";
@import "pages/landings.css";
@import "pages/noticies.css";
@import "pages/quisom.css";
@import "pages/serveis.css";
