/* Variables
--------------------------------------------- */
:root {
  --wp--preset--layout--size-content: 1500px;
}
/* Site Title
--------------------------------------------- */
.wp-block-site-title {
  max-width: 200px;
  font-size: var(--wp--preset--font-size--x-large);
}
.wp-block-site-title a {
  color: var(--wp--preset--color--typography) !important;
}
@media only screen and (min-width: 782px) {
  .wp-block-site-title {
    max-width: 200px;
  }
}
@media only screen and (min-width: 1024px) {
  .wp-block-site-title {
    max-width: none;
  }
}
/* Styles
--------------------------------------------- */
/* (headings) */
.is-style-ff-primary {
  font-family: var(--wp--preset--font-family--primary);
}
.is-style-ff-montserrat {
  font-family: var(--wp--preset--font-family--montserrat);
}
/* (column) */
.is-style-no-padding {
  padding: 0 !important;
}
.is-style-no-gap {
  gap: 0 !important;
}
.is-style-in-container {
  max-width: 1500px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
@media (min-width: 1500px) {
  .is-style-in-container {
    max-width: var(--wp--preset--layout--size-content) !important;
  }
}
/* Utils
--------------------------------------------- */
figure {
  margin: 0 !important;
}
.svg-inline--fa {
  padding-right: 8px;
}
/* (category cloud) */
.categories-cloud {
  padding-bottom: var(--wp--custom--spacing--sxs);
}
.category-container {
  display: inline-block;
  padding-right: 8px;
}
.category-container p {
  margin-bottom: var(--wp--custom--spacing--sminimal);
}
.category-dot {
  color: var(--wp--preset--color--typography);
  height: 35px;
  width: 35px;
  display: block;
  float: left;
  margin-right: 5px;
}
.category-dot svg {
  background-color: var(--wp--preset--color--tertiary);
  border-radius: 50%;
  padding: 7px 8px 8px 8px;
}
.category-txt {
  display: block;
  float: left;
  padding-top: 3px;
}
/* Complianze */
#cmplz-document.cookie-statement {
  max-width: var(--wp--style--global--content-size);
}
/* Base */
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.is-style-no-margin {
  margin: 0 !important;
}
.is-style-no-margin > a {
  margin: 0 !important;
}
.is-style-padded {
  padding: var(--wp--custom--spacing--sxxs) var(--wp--custom--spacing--sm);
}
.is-style-horizontal-padded {
  padding-left: var(--wp--custom--spacing--sm);
  padding-right: var(--wp--custom--spacing--sm);
}
@media (min-width: 782px) {
  .is-style-padded {
    padding: var(--wp--custom--spacing--sl) var(--wp--custom--spacing--sxxl);
  }

  .is-style-horizontal-padded {
    padding-left: var(--wp--custom--spacing--sxxl);
    padding-right: var(--wp--custom--spacing--sxxl);
  }
}
/*
 * Alignment Styles - Originally from TT2.
 * These rules are temporary, and should not
 * be relied on or modified too heavily by
 * themes or plugins that build on WP Coop Theme.
 * These are meant to be a precursor to a
 * global solution provided by the Block Editor.
 *
 * Relevant issues:
 * https://github.com/WordPress/gutenberg/issues/35607
 * https://github.com/WordPress/gutenberg/issues/35884
---------------------------------------------*/
body > .is-root-container,
.edit-post-visual-editor__post-title-wrapper,
.wp-block-cover.alignfull,
.wp-block-group.alignfull,
.wp-block-group.has-background,
.is-style-aligned-content .wp-block-cover__inner-container,
.wp-site-blocks {
  padding-left: var(--wp--custom--spacing--sm);
  padding-right: var(--wp--custom--spacing--sm);
}
.block-editor-block-list__layout.is-root-container > .alignfull,
.is-root-container > .wp-block-cover,
.is-root-container > .wp-block-group.has-background,
.is-root-container > .wp-block-template-part > .wp-block-cover,
.is-root-container > .wp-block-template-part > .wp-block-group.has-background,
.wp-site-blocks .alignfull,
.wp-site-blocks > .wp-block-cover,
.wp-site-blocks > .wp-block-group.has-background,
.wp-site-blocks > .wp-block-template-part > .wp-block-cover,
.wp-site-blocks > .wp-block-template-part > .wp-block-group.has-background {
  margin-left: calc(-1 * var(--wp--custom--spacing--sm)) !important;
  margin-right: calc(-1 * var(--wp--custom--spacing--sm)) !important;
  width: unset;
}
@media (min-width: 782px) {
  body > .is-root-container,
  .edit-post-visual-editor__post-title-wrapper,
  .wp-block-cover.alignfull,
  .wp-block-group.alignfull,
  .wp-block-group.has-background,
  .is-style-aligned-content .wp-block-cover__inner-container,
  .wp-site-blocks {
    padding-left: var(--wp--custom--spacing--sxxl);
    padding-right: var(--wp--custom--spacing--sxxl);
  }

  .block-editor-block-list__layout.is-root-container > .alignfull,
  .is-root-container > .wp-block-cover,
  .is-root-container > .wp-block-group.has-background,
  .is-root-container > .wp-block-template-part > .wp-block-cover,
  .is-root-container > .wp-block-template-part > .wp-block-group.has-background,
  .wp-site-blocks .alignfull,
  .wp-site-blocks > .wp-block-cover,
  .wp-site-blocks > .wp-block-group.has-background,
  .wp-site-blocks > .wp-block-template-part > .wp-block-cover,
  .wp-site-blocks > .wp-block-template-part > .wp-block-group.has-background {
    margin-left: calc(-1 * var(--wp--custom--spacing--sxxl)) !important;
    margin-right: calc(-1 * var(--wp--custom--spacing--sxxl)) !important;
    width: unset;
  }
}
/*Breakpoints visibility*/
body .is-style-hidden {
  display: none !important;
}
/* mobile */
@media (max-width: 782px) {
  body .is-style-show-tablet {
    display: none !important;
  }
  body .is-style-show-tablet-desktop {
    display: none !important;
  }
  body .is-style-show-desktop {
    display: none !important;
  }
}
/* tablet */
@media (min-width: 783px) and (max-width: 1024px) {
  body .is-style-show-mobile {
    display: none !important;
  }
  body .is-style-show-desktop {
    display: none !important;
  }
  /* multiple buttons in column*/
  body .ce-buttons-column {
    align-items: center !important;
  }
}
/* desktop */
@media (min-width: 1025px) {
  body .is-style-show-mobile {
    display: none !important;
  }
  body .is-style-show-mobile-tablet {
    display: none !important;
  }
  body .is-style-show-tablet {
    display: none !important;
  }
  /* multiple buttons in column*/
  body .ce-buttons-column {
    align-items: flex-start !important;
  }
}
/* Elements */
#small.wp-block-button.is-style-rounded .wp-block-button__link{
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 15px;
    padding-left: 25px;
}
blockquote.is-style-plain {
  box-shadow: none !important;
  border: none !important;
  padding: 10% !important;
}
/* Blocks */
.taxonomy-rest-ce-status.wp-block-post-terms a,
.taxonomy-post_tag.wp-block-post-terms a {
  padding: var(--wp--custom--spacing--sminimal) var(--wp--custom--spacing--sxs);
  border-radius: 40px;
  background-color: var(--wp--preset--color--brand);
  color: var(--wp--preset--color--white);
  font-weight: 700;
  font-size: var(--wp--preset--font-size--x-small);
  pointer-events: none;
}
.taxonomy-post_tag.wp-block-post-terms a:nth-child(3n) {
  background-color: var(--wp--preset--color--main);
}
.taxonomy-post_tag.wp-block-post-terms a:nth-child(n + 2) {
  margin-left: 0.5em;
}
.taxonomy-post_tag.wp-block-post-terms .wp-block-post-terms__separator {
  display: none;
}
.is-style-show-tablet .taxonomy-post_tag.wp-block-post-terms a {
  display: block;
  width: fit-content;
  margin: 0;
}
.is-style-show-tablet .taxonomy-post_tag.wp-block-post-terms a:nth-child(n + 2) {
  margin-top: 0.25em;
}
.taxonomy-rest-ce-status.wp-block-post-terms {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.taxonomy-rest-ce-status.wp-block-post-terms a {
  position: relative;
  padding-left: calc(var(--wp--custom--spacing--sxs) + 0.8rem);
}
.taxonomy-rest-ce-status.wp-block-post-terms a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0.25rem;
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: center;
}
.taxonomy-rest-ce-status.wp-block-post-terms a[href*="open"] {
  background-color: var(--wp--preset--color--brand);
}
.taxonomy-rest-ce-status.wp-block-post-terms a[href*="open"]::before {
  background-image: url("/wp-content/themes/wp-coop-ce-theme-v-2/img/ce-status/open.svg");
}
.taxonomy-rest-ce-status.wp-block-post-terms a[href*="closed"] {
  background-color: var(--wp--preset--color--label-purple);
}
.taxonomy-rest-ce-status.wp-block-post-terms a[href*="closed"]::before {
  background-image: url("/wp-content/themes/wp-coop-ce-theme-v-2/img/ce-status/closed.svg");
}
.wp-block-post-title a {
  color: var(--wp--preset--color--main);
}
.wp-block-ce-block-slider .wp-block-post {
  display: block !important;
}
.wp-block-ce-block-slider article.wp-block-group.ce-post-card {
  display: block;
}
.wp-block-ce-block-slider article.ce-card .wp-block-post-featured-image {
  height: 280px;
  overflow: hidden;
  width: 100%;
}
.wp-block-ce-block-slider article.ce-card .wp-block-post-featured-image img {
  height: 100%;
}
.wp-block-ce-block-slider article.ce-card .wp-block-post-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (max-width: 1024px) {
  .wp-block-ce-block-slider article.ce-card .wp-block-post-title {
    white-space: normal;
    text-overflow: unset;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
.wp-block-ce-block-slider article.ce-card .wp-block-post-title a {
  display: inline;
}
.wp-block-ce-block-slider article.ce-card .wp-block-post-excerpt__excerpt {
  height: calc(
    4 * var(--wp--preset--font-size--small) * var(--wp--custom--line-height--body)
  );
  overflow: hidden;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.wp-block-ce-block-slider[slidestoshow] .slick-slide > * {
  margin: 2%;
}
.wp-block-ce-block-slider[slidestoshow="1"] .slick-slide > * {
  margin: 0;
}
/* Forms generic styles
--------------------------------------------- */
input {
  border: none;
}
.gform_wrapper {
  color: var(--wp--preset--color--typography);
}
.gform_required_legend {
  display: none;
}
.ginput_container input,
.ginput_container textarea,
.ginput_container select {
  border: none;
  border-radius: 5px;
  outline: none;
}
.gfield_select option.gf_placeholder {
  display: none;
}
.gform_wrapper .gfield.gfield--type-consent .gfield_consent_description {
  color: var(--wp--preset--color--typography-light);
  font-size: var(--wp--preset--font-size--xxx-small) !important;
  border: none !important;
  overflow-y: auto;
  opacity: 0.6;
}
.gform_button {
  border-radius: 5px;
}
.gfield_label {
  margin-bottom: 0 !important;
}
.ce-form-newsletter .gform_wrapper {
  position: relative;
}
.ce-form-newsletter .gfield .ginput_container_email input,
.ce-form-newsletter .gform_footer .gform_button[type="submit"] {
  font-size: var(--wp--preset--font-size--small);
  margin-bottom: 0;
  margin-top: 0;
  padding: var(--wp--custom--spacing--sxxs);
  border-radius: 0px;
}
.ce-form-newsletter .gform_footer .gform_button[type="submit"] {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10;
  padding-left: var(--wp--custom--spacing--sm);
  padding-right: var(--wp--custom--spacing--sm);
}
/* Forms alta comunitat and contact
--------------------------------------------- */
#ce-form .gform_wrapper {
  color: var(--wp--preset--color--main-light);
  font-family: var(--wp--preset--font-family--primary);
}
#ce-form .gfield.gfield--type-section {
  border-bottom: none;
  position: relative;
  padding: 0 0 8px 0;
}
#ce-form .gfield.gfield--type-section h3 {
  font-size: var(--wp--preset--font-size--medium);
  color: var(--wp--preset--color--main-light);
  font-weight: var(--wp--custom--font-weight--medium);
  display: flex;
}
#ce-form .gfield.gfield--type-section h3:after {
  overflow: hidden;
  height: 1px;
  content: "\a0";
  background-color: var(--wp--preset--color--main-light);
  flex: 1;
  margin: 0.6em 0 0 25px;
}
#ce-form .ginput_container textarea,
#ce-form .ginput_container input,
#ce-form .ginput_container select {
  border-radius: 10px;
  border: 1px solid var(--wp--preset--color--second-base);
  font-size: var(--wp--preset--font-size--small);
  font-weight: var(--wp--custom--font-weight--regular);
  font-family: var(--wp--preset--font-family--alternative);
  color: var(--wp--preset--color--main-light);
}
#ce-form .ginput_container textarea,
#ce-form .ginput_container input {
  font-size: var(--wp--preset--font-size--small);
}
#ce-form .ginput_container select {
  font-size: var(--wp--preset--font-size--x-small);
  height: 42px;
}
#ce-form .ginput_container textarea {
  resize: none;
}
.ginput_container_textarea .charleft {
  display: none;
}
#ce-form .gfield.gfield--type-checkbox legend {
  font-size: var(--wp--preset--font-size--small);
  font-weight: var(--wp--custom--font-weight--medium);
}
#ce-form .ginput_container.ginput_container_checkbox .gchoice input {
  border-radius: 5px;
  border: 1px solid var(--wp--preset--color--second-base);
  appearance: none;
  width: 20px;
  height: 20px;
  padding: 8px;
}
#ce-form .ginput_container.ginput_container_checkbox .gchoice input:checked {
  background-color: var(--wp--preset--color--brand);
  border: none;
}
#ce-form .gfield.gfield--type-checkbox .gfield_choice_all_toggle {
  display: none;
}
#ce-form .gform_footer.top_label input.gform_button {
  width: 100%;
  border-radius: 100px;
  background-color: var(--wp--preset--color--primary);
  font-size: var(--wp--preset--font-size--small);
  font-weight: var(--wp--custom--font-weight--medium);
}
.gform_confirmation_wrapper {
  width: 100%;
}
.gform_confirmation_message {
  color: var(--wp--preset--color--typography);
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--wp--custom--spacing--sxs);
  text-align: center;
  font-weight: bold;
}
/* Forms Butlletí
--------------------------------------------- */
#butlleti #form .gform_wrapper{
  color: var(--wp--preset--color--base);
  position: relative;
  
}
#butlleti #form .gform_wrapper a{
  color: var(--wp--preset--color--base);
  text-decoration: none;
}
#butlleti #form .gform_wrapper .gform_validation_errors,
#butlleti #form .gform_wrapper .gfield_validation_message{
  display: none;
}
#butlleti #form .ginput_container.ginput_container_email input{
  font-size: var(--wp--preset--font-size--small);
  margin-bottom: 0;
  margin-top: 0;
  padding: var(--wp--custom--spacing--sxxs);
  border-radius: 0px;
  height: 44px;
}
#butlleti #form .gform_footer.top_label input{
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border-radius: 0px;
  background-color: var(--wp--preset--color--primary);
  height: 44px;
}
#butlleti #form .ginput_container.ginput_container_consent{
  display: flex;
  margin-top: 10px;
}
#butlleti #form .ginput_container.ginput_container_consent input {
  border-radius: 0px;
  border: none;
  appearance: none;
  width: 20px;
  height: 20px;
  padding: 8px;
  outline: none;
}
#butlleti #form .ginput_container.ginput_container_consent input:checked {
  background-color: var(--wp--preset--color--primary);
  border: none;
  display: block;
}
#butlleti #form .ginput_container.ginput_container_consent .gform-field-label{
  margin-left: 8px;
}
/* Template parts */
/* Desktop */
@media (min-width: 1255px) {
  #ce-header-mobile-tablet{
    display: none;
  }
}
/*---------------------*/
.ce-header {
    -webkit-box-shadow: 0 5px 10px rgb(0 0 0 / 0.1);
    -moz-box-shadow: 0 5px 10px rgb(0 0 0 / 0.1);
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.1);
    
  }
#ce-header.ce-header{
  padding-left: var(--wp--custom--spacing--sxl);
  padding-right: var(--wp--custom--spacing--sxl);
  }
#ce-header nav{
  font-size: var(--wp--preset--font-size--small);
  flex:1;
  padding-right: var(--wp--custom--spacing--sl);

}
@media only screen and (min-width: 1255px) and (max-width: 1360px){
  #ce-header nav{
    padding-right: var(--wp--custom--spacing--sxxs);
  
  }
}
/*NOU CODI CÒDEC*/
/*Desktop version*/
@media only screen and (min-width: 1255px){
    #ce-header .wp-block-group .wp-block-image{
      width: 165px;
    }
    #ce-header nav .wp-block-navigation__container .wp-block-navigation-item:not(:nth-child(2)){
      padding: 0 var(--wp--custom--spacing--sxs);
      flex-wrap: nowrap;
      font-weight: var(--wp--custom--font-weight--bold);
    }
    #ce-header nav .wp-block-navigation__container .wp-block-navigation-item:nth-child(2){
      padding-right: var(--wp--custom--spacing--sm);
      font-weight: var(--wp--custom--font-weight--bold);
    }
    #ce-header nav .wp-block-navigation__container .wp-block-navigation-item:first-child,
    #ce-header nav .wp-block-navigation__container .wp-block-navigation-item:nth-child(6),
    #ce-header nav .wp-block-navigation__container .wp-block-navigation-item:nth-child(7),
    #ce-header nav .wp-block-navigation__container .wp-block-navigation-item:last-child,
    #ce-header nav .wpml-language-switcher-navigation-block.wpml-ls-list,
    #ce-header nav .wp-block-social-links
    {
      display: none;
    
    }
    
    #ce-header nav .wp-block-navigation__container li:nth-child(3),
    #ce-header nav .wp-block-navigation__container li:nth-child(4){
      
      border-right: 1px solid var(--wp--preset--color--base);
    }
   
    #ce-header .wp-block-buttons .wp-block-button__link{
      padding: 13px 20px;
      font-size: var(--wp--preset--font-size--small);
    }
  }
@media only screen and (min-width: 1255px) and (max-width: 1350px){
    #ce-header nav .wp-block-navigation__container .wp-block-navigation-item:not(:nth-child(2)){
      padding: 0 var(--wp--custom--spacing--sxxs);
    }
  }
/*NOU CODI CÒDEC*/
/* mobile-tablet */
@media (max-width: 1254px) {
  #ce-header-desktop{
    display: none !important;
  }
  #ce-header-mobile-tablet{
    display: block !important;

  }
  #ce-header-mobile-tablet .ce-header{
    padding-top: var(--wp--custom--spacing--sxs) !important;
    padding-bottom: var(--wp--custom--spacing--sxs) !important;
  }
  #ce-header-mobile-tablet.ce-header figure img{
    width: 180px !important;
  }
  }
#ce-header-mobile-nav nav button{
    border: none;
  }
#ce-header-mobile-nav nav button svg {
    height: 30px;
    width: 36px;
  }
#ce-header-mobile-nav .wp-block-navigation__responsive-dialog{
    margin-top: 0;
  }
#ce-header-mobile-nav .wp-block-navigation__responsive-container.is-menu-open{
    padding: var(--wp--custom--spacing--sm);
    
  }
#ce-header-mobile-nav .wp-block-navigation__responsive-container-content .wp-block-navigation__container, 
  #ce-header-mobile-nav .wp-block-navigation__responsive-container-close{
    color: var(--wp--preset--color--base);
    border: none;
  }
#ce-header-mobile-nav .wp-block-navigation__responsive-container-content .wp-block-navigation__container .wp-block-navigation-item a{
    color: var(--wp--preset--color--base);
  }
#ce-header-mobile-nav .wp-block-navigation__responsive-container-close{
    padding: 0;
  }
#ce-header-mobile-nav .wp-block-navigation__responsive-container-content{
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding-top: 0;
  }
#ce-header-mobile-nav .wp-block-navigation__responsive-container-content ul.wp-block-navigation__container:first-child{
    padding:0;
  }
#ce-header-mobile-nav .wp-block-navigation__responsive-container-content .wp-block-navigation__container{
    display: inline-block;
    width: 100%;
  }
#ce-header-mobile-nav .wp-block-navigation__responsive-container-content .wp-block-navigation__container .wp-block-navigation-item{
    margin:0;
    padding: 0;
  }
#ce-header-mobile-nav .wp-block-navigation__responsive-container-content > .wp-block-navigation__container:first-child .wp-block-navigation-item:first-child {
    padding: 0;
    position: absolute;
    top: 0;
    
  }
#ce-header-mobile-nav .wp-block-navigation__responsive-container-content > .wp-block-navigation__container:first-child .wp-block-navigation-item:nth-child(2) {
   margin-top: 70px;
    
  }
#ce-header-mobile-nav .wp-block-navigation__responsive-container-content > .wp-block-navigation__container:first-child .wp-block-navigation-item:first-child div a{
    padding:0;
  }
#ce-header-mobile-nav .wp-block-navigation__responsive-container-content > .wp-block-navigation__container:first-child .wp-block-navigation-item:first-child div a img{
    width: 205px;
    height: 47px;
  }
#ce-header-mobile-nav .wp-block-navigation__responsive-container-content > .wp-block-navigation__container:first-child .wp-block-navigation-item:nth-child(-n+5):not(:first-child){
    font-size: var(--wp--preset--font-size--x-large);
    font-weight: var(--wp--custom--font-weight--bold);
    width: 100%;
    padding: var(--wp--custom--spacing--sm) 0;
    border-bottom: 1px solid var(--wp--preset--color--base);
  }
#ce-header-mobile-nav .wp-block-navigation__responsive-container-content > .wp-block-navigation__container:first-child .wp-block-navigation-item:nth-child(n+6) {
    display: block;
    float: left;
    width: 33%;
    text-align: center;
    font-size: var(--wp--preset--font-size--medium);
    padding: var(--wp--custom--spacing--sl) 0;
  }
#ce-header-mobile-nav .wp-block-navigation__responsive-container.is-menu-open .wpml-language-switcher-navigation-block.wpml-ls-list{
    margin-right: auto;
    margin-left: auto;
  }
#ce-header-mobile-nav .block-editor-block-list__block.wp-block.wp-block-navigation-item.wp-block-navigation-submenu{
    padding: 0;
  }
#ce-header-mobile-nav .wp-block-navigation__responsive-container.is-menu-open .wpml-language-switcher-navigation-block.wpml-ls-list .wp-block-navigation-item{
    padding:  0 var(--wp--custom--spacing--sxxs);
  }
#ce-header-mobile-nav .wp-block-navigation__responsive-container.is-menu-open .wpml-language-switcher-navigation-block.wpml-ls-list .wp-block-navigation-item .wp-block-navigation-item{
    font-weight: var(--wp--custom--font-weight--bold);
    font-size: var(--wp--preset--font-size--x-small);
  }
#ce-header-mobile-nav .wp-block-navigation__responsive-container.is-menu-open .wpml-language-switcher-navigation-block.wpml-ls-list .wp-block-navigation-item .wp-block-navigation-item:first-child
  {
    border-right: 2px solid var(--wp--preset--color--base);
    

  }
#ce-header-mobile-nav .wp-block-navigation__responsive-container.is-menu-open .wpml-language-switcher-navigation-block.wpml-ls-list .wp-block-navigation-item .wp-block-navigation-item:nth-child(2).current-language-item{
    margin-top: 5px;
  }
#ce-header-mobile-nav .wp-block-navigation__responsive-container.is-menu-open .wpml-language-switcher-navigation-block.wpml-ls-list .wp-block-navigation-item ul{
    display: flex;
    padding: var(--wp--custom--spacing--sxxs) 0;
    
  }
#ce-header-mobile-nav .wp-block-navigation__responsive-container.is-menu-open .wpml-language-switcher-navigation-block.wpml-ls-list .wp-block-navigation-item__content .wp-block-navigation-item__label{
    color: var(--wp--preset--color--base) !important;
    
  }
#ce-header-mobile-nav .wp-block-navigation__responsive-container-content .wp-block-navigation__container:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 117%;
    background-color: var(--wp--preset--color--primary) !important;
    padding: 13px 8px;
    margin-bottom: -25px;
    margin-top: var(--wp--custom--spacing--sxs);
    

  }
#ce-header-mobile-nav .wp-block-navigation__responsive-container-content .wp-block-navigation__container:last-child .wp-block-navigation-item,
  #ce-header-mobile-nav .wp-block-navigation__responsive-container-content .wp-block-navigation__container:last-child .wp-block-navigation-item .wp-block-navigation-item__content{
    width: 100%;
    text-align: center;
    font-size: var(--wp--preset--font-size--x-large);
  }
#ce-header-mobile-nav .wp-block-navigation__responsive-container-content .wp-block-navigation__container:last-child .wp-block-navigation-item__label{
    color: var(--wp--preset--color--main);
    font-weight: var(--wp--custom--font-weight--bold)
  }
#ce-header-mobile-nav .wp-block-navigation__responsive-container-content .wp-block-social-links{
    margin: var(--wp--custom--spacing--sxs) 0;
  }
#ce-header-mobile-nav .wp-block-navigation__responsive-container-content .wp-block-social-links .wp-social-link{
    color: var(--wp--preset--color--base);
    padding: 0 var(--wp--custom--spacing--sxxs);
  }
#ce-header-mobile-nav .wp-block-navigation__responsive-container-content .wp-block-social-links .wp-social-link svg{
    width: 25px;
    height: 25px;
  }
footer.wp-block-template-part a {
  color: var(--wp--preset--color--base);
}
footer.wp-block-template-part
  footer.wp-block-template-part
  .wp-block-navigation.is-vertical
  .wp-block-navigation-item {
  padding: 0 0 20px;
}
footer.wp-block-template-part .gform_wrapper form {
  position: relative;
}
footer.wp-block-template-part
  .ce-form-newsletter
  .gform_wrapper
  form
  .gfield_consent_label,
footer.wp-block-template-part
  .ce-form-newsletter
  .gform_wrapper
  form
  .gfield_consent_description {
  color: var(--wp--preset--color--base);
}
footer.wp-block-template-part .ce-form-newsletter .gform_validation_errors {
  display: none;
}
footer.wp-block-template-part .ce-form-newsletter .gfield_validation_message {
  background-color: white;
  padding: 0.9em 1.6em;
  border: 1px solid var(--wp--preset--color--label-red);
}
footer.wp-block-template-part .ce-form-newsletter .gform_confirmation_message {
  color: var(--wp--preset--color--base);
  font-size: 0.9rem;
}
footer.wp-block-template-part .gform_button {
  margin: 0 !important;
}
footer.wp-block-template-part .gfield_consent_description {
  padding-left: 0px;
  padding-right: 0px;
}
footer.wp-block-template-part .is-style-footer-nav-group .wpml-ls {
  padding: 0;
}
footer.wp-block-template-part .wpml-ls > ul > li > a > br {
  display: none;
}
footer.wp-block-template-part .wpml-ls-item:nth-child(n + 2) {
  border-left: 1px solid;
}
footer.wp-block-template-part .wpml-ls-item a {
  padding: 0 10px;
}
footer.wp-block-template-part .wpml-ls-item:first-child a {
  padding-left: 0;
}
footer.wp-block-template-part .wpml-ls-item:last-child a {
  padding-right: 0;
}
footer.wp-block-template-part .wp-block-social-links {
  flex-wrap: nowrap;
}
footer.wp-block-template-part .wp-block-social-links li {
  padding: 0 0.5rem;
}
footer.wp-block-template-part .wp-block-social-links.is-style-logos-only svg {
  height: 1.1em;
  width: 1.1em;
}
footer.wp-block-template-part .wp-block-social-links li:first-child {
  padding-left: 0px;
}
footer.wp-block-template-part .wp-block-social-links li:last-child {
  padding-right: 0px;
}
footer.wp-block-template-part .wp-block-social-links li.wp-social-link-x svg{
  transform: scale(0.90)
}
footer.wp-block-template-part .wp-block-social-links li.wp-social-link-mastodon svg{
  transform: scale(0.80)
}
footer.wp-block-template-part .wp-block-social-links li.wp-social-link-facebook svg{
  transform: scale(0.95)
}
footer.wp-block-template-part .wp-block-social-links li.wp-social-link-youtube svg{
  transform: scale(1.05)
}
footer.wp-block-template-part .wp-block-social-links li.wp-social-link-telegram svg{
  transform: scale(1.25)
}
footer.wp-block-template-part .ce-legal-nav {
  padding: 0.5rem 0;
}
footer.wp-block-template-part .ce-legal-nav a {
  color: var(--wp--preset--color--second-base-light);
}
/* (upper nav) */
#upper-main-nav {
  font-size: var(--wp--preset--font-size--x-small);
  
}
#upper-main-nav .wp-block-group {
  
}
#upper-main-nav .header-upper-ov .wp-block-navigation__container{
  padding-right: var(--wp--custom--spacing--sxxs);
}
#upper-main-nav .header-upper-ov .wp-block-navigation__container li {
  color: var(--wp--preset--color--main);
  font-weight: var(--wp--custom--font-weight--bold);
  padding-right: 0;
}
/* Language
--------------------------------------------- */
#upper-main-nav .wpml-ls-legacy-list-horizontal{
  padding: 0;
}
#upper-main-nav .wpml-ls ul {
  padding: 0 15px;
  height: 15px;
  border-right: 1px solid var(--wp--preset--color--main);
  border-left: 1px solid var(--wp--preset--color--main);
}
#upper-main-nav .wpml-ls-item {
  height: 23px;
  vertical-align: middle;
}
#upper-main-nav .wpml-ls-link {
  color: var(--wp--preset--color--main);
  font-weight: var(--wp--custom--font-weight--bold);
  font-size: 13px;
}
#upper-main-nav .wpml-ls-item:first-child a {
  padding: 0 15px 0px 0;
}
#upper-main-nav .wpml-ls-item a {
  /* padding: 0 10px 5px; */
  border-right: 1px solid var(--wp--preset--color--main);
}
#upper-main-nav .wpml-ls-item a br {
  display: none;
}
#upper-main-nav .wpml-ls-item:last-child a {
  padding: 0 0 5px 10px;
  border-right: none;
}
#upper-main-nav .wpml-ls-current-language a {
  font-weight: var(--wp--custom--font-weight--bold);
}
/*--------------------------------------------- */
#upper-main-nav .wp-block-social-links .wp-social-link{
  padding: 0 0 0 var(--wp--custom--spacing--sxxs);
}
#upper-main-nav .wp-block-social-links .wp-social-link svg{
  height: .9em;
  width: .9em;
}
#upper-main-nav .wp-block-social-links li.wp-social-link-x svg{
  transform: scale(0.90)
}
#upper-main-nav .wp-block-social-links li.wp-social-link-mastodon svg{
  transform: scale(0.80)
}
#upper-main-nav .wp-block-social-links li.wp-social-link-facebook svg{
  transform: scale(0.95)
}
#upper-main-nav .wp-block-social-links li.wp-social-link-youtube svg{
  transform: scale(1.05)
}
#upper-main-nav .wp-block-social-links li.wp-social-link-telegram svg{
  transform: scale(1.25)
}
/* Template patterns */
article.wp-block-group.ce-card {
  display: flex;
  flex-direction: column;
  position: relative;
}
article.wp-block-group.ce-card .wp-block-cover {
  width: 100%;
}
article.wp-block-group.ce-card > .wp-block-group.ce-card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}
article.wp-block-group.ce-card > .wp-block-group.ce-card-body .wp-block-buttons a {
  pointer-events: none;
}
article.wp-block-group.ce-card > .wp-block-group.ce-card-body .wp-block-post-excerpt {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
article.wp-block-group.ce-wide-card
  > .wp-block-group.ce-card-body
  .wp-block-post-excerpt__excerpt,
article.wp-block-group.ce-card
  > .wp-block-group.ce-card-body
  .wp-block-post-excerpt__excerpt {
  margin-bottom: var(--wp--custom--spacing--sxs);
}
article.wp-block-group.ce-wide-card .wp-block-post-excerpt__more-link,
article.wp-block-group.ce-card .wp-block-post-excerpt__more-link {
  font-weight: 700;
  color: var(--wp--preset--color--base);
  padding: var(--wp--custom--spacing--sxxs) var(--wp--custom--spacing--sm);
  border-radius: 40px;
  background-color: var(--wp--preset--color--brand);
}
article.wp-block-group.ce-landing-card .wp-block-post-excerpt__more-link{
  font-weight: 700;
  color: var(--wp--preset--color--main);
  padding: var(--wp--custom--spacing--sxxs) var(--wp--custom--spacing--sm);
  border-radius: 40px;
  background-color: var(--wp--preset--color--primary);
}
article.wp-block-group.ce-card > .wp-block-group.ce-card-header,
article.wp-block-group.ce-card > .wp-block-group.ce-card-body,
article.wp-block-group.ce-card > .wp-block-group.ce-card-footer {
  padding: 0 2rem;
}
.wp-block-getwid-accordion.ce-faqs .ui-accordion-header {
  /* padding: var(--wp--custom--spacing--sxxs) var(--wp--custom--spacing--sm); */
}
.wp-block-getwid-accordion.ce-faqs .ui-accordion-header,
.wp-block-getwid-accordion.ce-faqs .ui-accordion-content > div {
  border: none;
}
.wp-block-getwid-accordion.ce-faqs 
.ui-accordion-header{
  border-bottom: 1px solid var(--wp--preset--color--second-base);
  padding: var(--wp--custom--spacing--sxxs) 0;
}
.wp-block-getwid-accordion.ce-faqs.has-background
  .ui-accordion-header.ui-accordion-header-collapsed {
  background-color: var(--wp--preset--color--second-base-ultra-light);
  margin-bottom: 1rem;
}
.wp-block-getwid-accordion.ce-faqs.has-background
  .ui-accordion-content
  .ui-accordion-header.ui-accordion-header-collapsed {
  background-color: unset;
  border-bottom: 1px solid var(--wp--preset--color--second-base);
}
.wp-block-getwid-accordion.ce-faqs.has-background
  .ui-accordion-content
  .ui-accordion-header:nth-last-child(-n + 2).ui-accordion-header-collapsed {
  border-bottom: none;
}
.wp-block-getwid-accordion.ce-faqs .ui-accordion-header.ui-accordion-header-collapsed a {
  color: var(--wp--preset--color--main);
}
.wp-block-getwid-accordion.ce-faqs.has-background
  .ui-accordion-header.ui-accordion-header-active {
  background-color: var(--wp--preset--color--brand);
}
.wp-block-getwid-accordion.ce-faqs.has-background
  .ui-accordion-content
  .ui-accordion-header.ui-accordion-header-active {
  background-color: unset;
}
.wp-block-getwid-accordion.ce-faqs.has-background
  .ui-accordion-content
  .ui-accordion-content.ui-accordion-content-active {
  border-bottom: 1px solid var(--wp--preset--color--second-base);
}
.wp-block-getwid-accordion.ce-faqs.has-background
  .ui-accordion-content
  .ui-accordion-content:last-child.ui-accordion-content-active {
  border-bottom: none;
}
.wp-block-getwid-accordion.ce-faqs.has-background
  .ui-accordion-header.ui-accordion-header-active
  a {
  color: var(--wp--preset--color--white);
}
.wp-block-getwid-accordion.ce-faqs.has-background
  .ui-accordion-content
  .ui-accordion-header.ui-accordion-header-active
  a {
  color: var(--wp--preset--color--brand);
}
.wp-block-getwid-accordion.ce-faqs.has-background .ui-accordion-content p {
  padding: var(--wp--custom--spacing--xl);
}
/* Pages */
body.home .wp-block-query.ce-cover-query .wp-block-post-template {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  gap: 0;
}
body.home .wp-block-query.ce-cover-query .wp-block-post-template .wp-block-post {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 30%;
  display: flex;
  align-items: stretch;
  margin: 0 2.5% 2.5%;
}
body.home
  .wp-block-ce-block-slider
  .wp-block-query.ce-cover-query
  .wp-block-post-template
  .wp-block-post {
  margin: 0;
}
body.home
  .wp-block-query.ce-cover-query
  .wp-block-post-template
  .wp-block-post:first-child {
  margin-left: 0;
}
body.home
  .wp-block-query.ce-cover-query
  .wp-block-post-template
  .wp-block-post:last-child {
  margin-right: 0;
}
body.home .ce-home-landings-section .slick-arrow {
  background-color: var(--wp--preset--color--primary);
  background-blend-mode: color-dodge;
}
#troba-la-teva-comunitat #step-arrow {
  height: 180px;
}
#troba-la-teva-comunitat #step-arrow::before {
  content: url(/wp-content/themes/wp-coop-ce-theme-v-2/img/icons/right-arrow-gray-1.png);
}
#troba-la-teva-comunitat #step {
  position: relative;
}
#troba-la-teva-comunitat #step1,
#troba-la-teva-comunitat #step2,
#troba-la-teva-comunitat #step3,
#troba-la-teva-comunitat #step4 {
  position: relative;
  height: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#troba-la-teva-comunitat #step-number {
  font-family: var(--wp--preset--font-family--title);
  font-weight: var(--wp--custom--font-weight--bold);
  text-align: center;
  border-radius: 100%;
  padding: 0px 15px;
  font-size: 28px !important;
  position: absolute;
  top: 90%;
  z-index: 2;
  left: 37%;
}
#troba-la-teva-comunitat #more-info a {
  text-decoration: underline;
}
#troba-la-teva-comunitat #more-info.new-line a::before {
  content: "\A";
  white-space: pre;
}
#qui-som-button a{
  padding-right: var(--wp--custom--spacing--sxl);
  padding-left: var(--wp--custom--spacing--sxl);
}
/*step numbers for mobile slider*/
@media (max-width: 782px) {
  #troba-la-teva-comunitat #step-number {
    position: absolute;
    font-size: 20px;
    z-index: 2;
    left: 45%;
    top: 95%;
  }
  #troba-la-teva-comunitat #step1,
  #troba-la-teva-comunitat #step2,
  #troba-la-teva-comunitat #step3,
  #troba-la-teva-comunitat #step4 {
    height: 300px;
    background-size: contain;
  }
}
#troba-la-teva-comunitat #step1 {
  background-image: url(/wp-content/themes/wp-coop-ce-theme-v-2/img/icons/Apuntat1.jpg);
}
#troba-la-teva-comunitat #step2 {
  background-image: url(/wp-content/themes/wp-coop-ce-theme-v-2/img/icons/Apuntat2.jpg);
}
#troba-la-teva-comunitat #step3 {
  background-image: url(/wp-content/themes/wp-coop-ce-theme-v-2/img/icons/Apuntat3.jpg);
}
#troba-la-teva-comunitat #step4 {
  background-image: url(/wp-content/themes/wp-coop-ce-theme-v-2/img/icons/Apuntat4.jpg);
}
.ce-landing-breadcrumb {
  position: relative;
  cursor: pointer;
}
.ce-landing-breadcrumb::before {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translate(-150%, -50%);
  content: "<";
  color: var(--wp--preset--color--brand);
}
.single-rest-ce-landing .wp-block-buttons.disabled-buttons .wp-block-button {
  pointer-events: none;
}
h2.ce-landing-title {
  margin-top: 1rem;
}
ul.ce-landing-services {
  list-style: none;
}
ul.ce-landing-services a {
  pointer-events: none;
}
@media (min-width: 783px) {
  ul.ce-landing-services {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
ul.ce-landing-services li {
  margin-left: 0;
}
ul.ce-landing-services li i,
ul.ce-landing-services li p {
  display: inline;
}
.ce-landing-signup-section .wp-block-button,
.ce-landing-share-pannel .wp-block-button {
  margin-top: 1em;
}
.ce-landing-share-pannel .wp-block-button a {
  position: relative;
  padding-left: calc(var(--wp--custom--spacing--sm) + 1.25rem);
}
.ce-landing-share-pannel .wp-block-button a::before {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translate(calc(var(--wp--custom--spacing--sm) - 0.25rem), -50%);
  width: 1.1rem;
  height: 1.1rem;
  content: "";
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.ce-landing-share__link a::before {
  background-image: url("/wp-content/themes/wp-coop-ce-theme-v-2/img/share/link.png");
}
.ce-landing-share__email a::before {
  background-image: url("/wp-content/themes/wp-coop-ce-theme-v-2/img/share/email.png");
}
.ce-landing-share__telegram a::before {
  background-image: url("/wp-content/themes/wp-coop-ce-theme-v-2/img/share/telegram.png");
}
.ce-landing-share__whatsapp a::before {
  background-image: url("/wp-content/themes/wp-coop-ce-theme-v-2/img/share/whatsapp.png");
}
.ce-landing-share__twitter a::before {
  background-image: url("/wp-content/themes/wp-coop-ce-theme-v-2/img/share/twitter.png");
}
.ce-landing-share__instagram a::before {
  background-image: url("/wp-content/themes/wp-coop-ce-theme-v-2/img/share/instagram.png");
}
.ce-landing-share__mastodon a::before {
  background-image: url("/wp-content/themes/wp-coop-ce-theme-v-2/img/share/mastodon.png");
}
.ce-landing-contact-section a {
  color: var(--wp--preset--color--main);
  text-decoration: underline;
}
.ce-landing-contact-section form .gfield_consent_label,
.ce-landing-contact-section form .gfield_consent_label a {
  color: var(--wp--preset--color--main) !important;
}
.ce-landing-contact-section form .gfield_consent_description,
.ce-landing-contact-section form .gfield_consent_description a {
  color: var(--wp--preset--color--main) !important;
}
.ce-landing-contact-section .gform_button[type="submit"] {
  background-color: var(--wp--preset--color--main);
  color: var(--wp--preset--color--primary);
  border-radius: 0px;
}
.ce-landing-contact-form .gform_button[type="submit"] {
  border-radius: 40px;
  margin: auto;
  font-size: var(--wp--preset--font-size--medium);
  padding: var(--wp--custom--spacing--sxxs) var(--wp--custom--spacing--sxl);
}
.ce-form-newsletter .gform_validation_errors {
  display: none;
}
/* SINGLE */
body.single-ce-news header.ce-news-header.is-style-show-desktop {
  position: relative;
}
body.single-ce-news header.ce-news-header.is-style-show-desktop .ce-news-title {
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}
/* ARCHIVE */
body.post-type-archive-ce-news .wp-block-ce-block-slider {
  position: relative;
}
body.post-type-archive-ce-news .wp-block-ce-block-slider .slick-dots {
  position: absolute;
  bottom: var(--wp--custom--spacing--sxs);
  right: var(--wp--custom--spacing--sm);
}
body.post-type-archive-ce-news .ce-news-query .wp-block-post-template,
body.single-ce-news .ce-news-query .wp-block-post-template {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 0;
}
body.post-type-archive-ce-news .ce-news-query .wp-block-post-template .wp-block-post,
body.single-ce-news .ce-news-query .wp-block-post-template .wp-block-post {
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  align-items: stretch;
  flex-basis: 100%;
  margin-bottom: 2em;
}
@media (min-width: 782px) and (max-width: 1024px) {
  body.post-type-archive-ce-news .ce-news-query .wp-block-post-template .wp-block-post,
  body.single-ce-news .ce-news-query .wp-block-post-template .wp-block-post {
    margin: 0 2.5% 2.5%;
    flex-basis: 47.5%;
  }

  body.post-type-archive-ce-news
    .ce-news-query
    .wp-block-post-template
    .wp-block-post:nth-child(2n - 1),
  body.single-ce-news .ce-news-query .wp-block-post-template .wp-block-post:first-child {
    margin-left: 0px;
  }

  body.post-type-archive-ce-news
    .ce-news-query
    .wp-block-post-template
    .wp-block-post:nth-child(2n),
  body.single-ce-news
    .ce-news-query
    .wp-block-post-template
    .wp-block-post:nth-child(2n) {
    margin-right: 0px;
  }

  body.single-ce-news .ce-news-query .wp-block-post-template .wp-block-post:nth-child(3) {
    display: none;
  }
}
@media (min-width: 1024px) {
  body.post-type-archive-ce-news .ce-news-query .wp-block-post-template .wp-block-post,
  body.single-ce-news .ce-news-query .wp-block-post-template .wp-block-post {
    margin: 0 2.5% 2.5%;
    flex-basis: 30%;
  }

  body.post-type-archive-ce-news
    .ce-news-query
    .wp-block-post-template
    .wp-block-post:nth-child(3n - 2),
  body.single-ce-news
    .ce-news-query
    .wp-block-post-template
    .wp-block-post:nth-child(3n - 2) {
    margin-left: 0px;
  }

  body.post-type-archive-ce-news
    .ce-news-query
    .wp-block-post-template
    .wp-block-post:nth-child(3n + 3),
  body.single-ce-news
    .ce-news-query
    .wp-block-post-template
    .wp-block-post:nth-child(3n + 3) {
    margin-right: 0px;
  }
}
#qui-som .wp-block-group .wp-block-embed,
#qui-som .wp-block-group .wp-block-embed__wrapper {
  height: 100%;
}
#ciutadania-head #logo-button a::before{
  content: url(/wp-content/themes/wp-coop-ce-theme-v-2/img/icons/Vectorciutadania.png);
  margin-right: 10px;
}
#administracio-head #logo-button a::before{
  content: url(/wp-content/themes/wp-coop-ce-theme-v-2/img/icons/VectorAdministracio.png);
  margin-right: 10px;
}
#empresa-head #logo-button a::before{
  content: url(/wp-content/themes/wp-coop-ce-theme-v-2/img/icons/VectorEmpresa.png);
  margin-right: 10px;
}
#serveis-link #serveis-paragraph-no-margin{
  margin-bottom: 0;
}
#experiencies .wp-block-column .wp-block-grup {
  position: relative;
}
#experiencies  #blockquote {
  position: relative;
}
#experiencies  #blockquote #quotes{
  position: absolute;
  top: 8%;
  left: 8%;
}
#experiencies #persona {
  margin-top: -40px !important;
}
#comunities .wp-block-ce-block-slider[slidestoshow="1"] .slick-slider {
  max-width: 450px;
  margin: auto;
}
#comunities .wp-block-ce-block-slider .slick-arrow {
  background-color: var(--wp--preset--color--primary);
  background-blend-mode: color-dodge;
}
#ce-services #more-info-group p{
    margin-bottom: 0;
}
#ce-services #more-info-group{
    margin-bottom: var(--wp--custom--spacing--sxs);
}
@media (max-width: 782px) {
    #ce-services h4{
        margin-bottom: 0;
    }
}
#contacte .gfield.gfield--type-consent .gfield_consent_description {
  opacity: 1;
}
#contacte .gfield.gfield--type-consent .gfield_consent_label a,
#contacte .gfield.gfield--type-consent .gfield_consent_description a {
  color: var(--wp--preset--color--primary);
}
