/*
 * Alignment Styles - Originally from TT2.
 * These rules are temporary, and should not
 * be relied on or modified too heavily by
 * themes or plugins that build on WP Coop Theme.
 * These are meant to be a precursor to a
 * global solution provided by the Block Editor.
 *
 * Relevant issues:
 * https://github.com/WordPress/gutenberg/issues/35607
 * https://github.com/WordPress/gutenberg/issues/35884
---------------------------------------------*/

body > .is-root-container,
.edit-post-visual-editor__post-title-wrapper,
.wp-block-cover.alignfull,
.wp-block-group.alignfull,
.wp-block-group.has-background,
.is-style-aligned-content .wp-block-cover__inner-container,
.wp-site-blocks {
    padding-left: var(--wp--custom--spacing--sxs);
    padding-right: var(--wp--custom--spacing--sxs);
}

.block-editor-block-list__layout.is-root-container > .alignfull,
.is-root-container > .wp-block-cover,
.is-root-container > .wp-block-group.has-background,
.is-root-container > .wp-block-template-part > .wp-block-cover,
.is-root-container > .wp-block-template-part > .wp-block-group.has-background,
.wp-site-blocks .alignfull,
.wp-site-blocks > .wp-block-cover,
.wp-site-blocks > .wp-block-group.has-background,
.wp-site-blocks > .wp-block-template-part > .wp-block-cover,
.wp-site-blocks > .wp-block-template-part > .wp-block-group.has-background {
    margin-left: calc(-1 * var(--wp--custom--spacing--sxs)) !important;
    margin-right: calc(-1 * var(--wp--custom--spacing--sxs)) !important;
    width: unset;
}

@media(min-width: 782px) {
    body > .is-root-container,
    .edit-post-visual-editor__post-title-wrapper,
    .wp-block-cover.alignfull,
    .wp-block-group.alignfull,
    .wp-block-group.has-background,
    .is-style-aligned-content .wp-block-cover__inner-container,
    .wp-site-blocks {
        padding-left: var(--wp--custom--spacing--sl);
        padding-right: var(--wp--custom--spacing--sl);
    }

    .block-editor-block-list__layout.is-root-container > .alignfull,
    .is-root-container > .wp-block-cover,
    .is-root-container > .wp-block-group.has-background,
    .is-root-container > .wp-block-template-part > .wp-block-cover,
    .is-root-container > .wp-block-template-part > .wp-block-group.has-background,
    .wp-site-blocks .alignfull,
    .wp-site-blocks > .wp-block-cover,
    .wp-site-blocks > .wp-block-group.has-background,
    .wp-site-blocks > .wp-block-template-part > .wp-block-cover,
    .wp-site-blocks > .wp-block-template-part > .wp-block-group.has-background {
        margin-left: calc(-1 * var(--wp--custom--spacing--sl)) !important;
        margin-right: calc(-1 * var(--wp--custom--spacing--sl)) !important;
        width: unset;
    }
}



/*Breakpoints visibility*/
.is-style-show-mobile{
    display: inherit;
}
.is-style-show-mobile-tablet{
    display: inherit;
}
.is-style-show-tablet{
    display: none;
}
.is-style-show-tablet-desktop{
    display: none;
}
.is-style-show-desktop{
    display: none;
}
/* tablet */
@media(min-width: 782px) {
    .is-style-show-mobile{
        display: none;
    }
    .is-style-show-mobile-tablet{
        display: inherit;
    }
    .is-style-show-tablet{
        display: inherit;
    }
    .is-style-show-tablet-desktop{
        display: inherit;
    }
    .is-style-show-desktop{
        display: none;
    }
}
/* desktop */
@media(min-width: 1200px) {
    .is-style-show-mobile{
        display: none;
    }
    .is-style-show-mobile-tablet{
        display: none;
    }
    .is-style-show-tablet{
        display: none;
    }
    .is-style-show-tablet-desktop{
        display: inherit;
    }
    .is-style-show-desktop{
        display: inherit;
    }
}