#ce-coordinadores-serveis .wp-block-column {
  padding: var(--wp--custom--spacing--sxxs) var(--wp--custom--spacing--sxs);
}

#ce-coordinadores-members article.wp-block-group.ce-card {
  height: 100%;
}
