
body.home #video-popup {
  height: 750px;
  width: 100%;
}

body.home #video-popup .wp-block-getwid-video-popup__wrapper{
  height: 750px;
}

body.home #video-popup .wp-block-getwid-video-popup__icon svg{
  padding-right: 0px;
}
body.home .wp-block-query.ce-cover-query .wp-block-post-template {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  gap: 0;
}

body.home .wp-block-query.ce-cover-query .wp-block-post-template .wp-block-post {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 30%;
  display: flex;
  align-items: stretch;
  margin: 0 2.5% 2.5%;
}

body.home
  .wp-block-ce-block-slider
  .wp-block-query.ce-cover-query
  .wp-block-post-template
  .wp-block-post {
  margin: 0;
}

body.home
  .wp-block-query.ce-cover-query
  .wp-block-post-template
  .wp-block-post:first-child {
  margin-left: 0;
}

body.home
  .wp-block-query.ce-cover-query
  .wp-block-post-template
  .wp-block-post:last-child {
  margin-right: 0;
}

body.home .ce-home-landings-section .slick-arrow {
  background-color: var(--wp--preset--color--primary);
  background-blend-mode: color-dodge;
}

.find-your-community #step-arrow {
  height: 180px;
}

.find-your-community #step-arrow::before {
  content: url(/wp-content/themes/wp-coop-ce-theme-v-2/img/icons/right-arrow-gray-1.png);
}

.find-your-community #step {
  position: relative;
}

.find-your-community #step1,
.find-your-community #step2,
.find-your-community #step3,
.find-your-community #step4 {
  position: relative;
  height: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.find-your-community #step-number {
  font-family: var(--wp--preset--font-family--title);
  font-weight: var(--wp--custom--font-weight--bold);
  text-align: center;
  border-radius: 100%;
  padding: 0px 15px;
  font-size: 28px !important;
  position: absolute;
  top: 90%;
  z-index: 2;
  left: 37%;
}
.find-your-community #more-info a {
  text-decoration: underline;
}
.find-your-community #more-info.new-line a::before {
  content: "\A";
  white-space: pre;
}


#qui-som-button a{
  padding-right: var(--wp--custom--spacing--sxl);
  padding-left: var(--wp--custom--spacing--sxl);
}

/*step numbers for mobile slider*/
@media (max-width: 782px) {
  .find-your-community #step-number {
    position: absolute;
    font-size: 20px;
    z-index: 2;
    left: 45%;
    top: 95%;
  }
  .find-your-community #step1,
  .find-your-community #step2,
  .find-your-community #step3,
  .find-your-community #step4 {
    height: 300px;
    background-size: contain;
  }
}

.find-your-community #step1 {
  background-image: url(/wp-content/themes/wp-coop-ce-theme-v-2/img/icons/Apuntat1.jpg);
}
.find-your-community #step2 {
  background-image: url(/wp-content/themes/wp-coop-ce-theme-v-2/img/icons/Apuntat2.jpg);
}
.find-your-community #step3 {
  background-image: url(/wp-content/themes/wp-coop-ce-theme-v-2/img/icons/Apuntat3.jpg);
}
.find-your-community #step4 {
  background-image: url(/wp-content/themes/wp-coop-ce-theme-v-2/img/icons/Apuntat4.jpg);
}


/* map block */

@media (max-width: 782px) {
  #mapa iframe{
    height: 80vh;
    overflow-y: scroll;
  }
}