.ce-landing-breadcrumb {
  position: relative;
  cursor: pointer;
  color: var(--wp--preset--color--main);
  font-weight: var(--wp--custom--font-weight--bold);
  font-size: var(--wp--preset--font-size--x-small);
  opacity: 0.5;
}

.ce-landing-breadcrumb::before {
  position: absolute;
  left: 0px;
  top: 56%;
  transform: translate(-150%, -50%);
  content: "";
  background: url(/wp-content/themes/wp-coop-ce-theme-v-2/img/icons/Vectorbefore.png);
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
}

.ce-landing-external-website {
  font-weight: var(--wp--custom--font-weight--bold);
  position: relative;
}
.ce-landing-external-website > a img {
  width: 40px;
  height: 25px;
  position: absolute;
}

.single-rest-ce-landing .wp-block-buttons.disabled-buttons .wp-block-button {
  pointer-events: none;
}

#wpct-ce-landing-badges button {
  border: none;
  background: none;
}

h2.ce-landing-title {
  margin-top: 1rem;
}

ul.ce-landing-services {
  list-style: none;
}

ul.ce-landing-services a {
  pointer-events: none;
}

@media (min-width: 783px) {
  ul.ce-landing-services {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

ul.ce-landing-services li {
  margin-left: 0;
}

ul.ce-landing-services li i,
ul.ce-landing-services li p {
  display: inline;
}

.ce-landing-signup-section .wp-block-button,
.ce-landing-share-pannel .wp-block-button {
  margin-top: 1em;
}

.ce-landing-share-pannel .wp-block-button a {
  position: relative;
  padding-left: calc(var(--wp--custom--spacing--sm) + 1.25rem);
}

.ce-landing-share-pannel .wp-block-button a::before {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translate(calc(var(--wp--custom--spacing--sm) - 0.25rem), -50%);
  width: 1.1rem;
  height: 1.1rem;
  content: "";
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.ce-landing-share__link a::before {
  background-image: url("/wp-content/themes/wp-coop-ce-theme-v-2/img/share/link.png");
}

.ce-landing-share__email a::before {
  background-image: url("/wp-content/themes/wp-coop-ce-theme-v-2/img/share/email.png");
}

.ce-landing-share__telegram a::before {
  background-image: url("/wp-content/themes/wp-coop-ce-theme-v-2/img/share/telegram.png");
}

.ce-landing-share__whatsapp a::before {
  background-image: url("/wp-content/themes/wp-coop-ce-theme-v-2/img/share/whatsapp.png");
}

.ce-landing-share__twitter a::before {
  background-image: url("/wp-content/themes/wp-coop-ce-theme-v-2/img/share/twitter.png");
}

.ce-landing-share__instagram a::before {
  background-image: url("/wp-content/themes/wp-coop-ce-theme-v-2/img/share/instagram.png");
}

.ce-landing-share__mastodon a::before {
  background-image: url("/wp-content/themes/wp-coop-ce-theme-v-2/img/share/mastodon.png");
}

.ce-landing-contact-section a {
  color: var(--wp--preset--color--main);
  text-decoration: underline;
}

.ce-landing-contact-section form .gfield_consent_label,
.ce-landing-contact-section form .gfield_consent_label a {
  color: var(--wp--preset--color--main) !important;
}

.ce-landing-contact-section form .gfield_consent_description,
.ce-landing-contact-section form .gfield_consent_description a {
  color: var(--wp--preset--color--main) !important;
}

.ce-landing-contact-section .gform_button[type="submit"] {
  background-color: var(--wp--preset--color--main);
  color: var(--wp--preset--color--primary);
  border-radius: 0px;
}

.ce-landing-contact-form .gform_button[type="submit"] {
  border-radius: 40px;
  margin: auto;
  font-size: var(--wp--preset--font-size--medium);
  padding: var(--wp--custom--spacing--sxxs) var(--wp--custom--spacing--sxl);
}

.ce-form-newsletter .gform_validation_errors {
  display: none;
}

.single-rest-ce-landing p:empty {
  display: none;
}

.ce-landing-external-website a,
.ce-linked-coordinator a {
  position: relative;
}

.ce-landing-external-website a::after,
.ce-linked-coordinator a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 35px;
  height: 100%;
  background-image: url(../../../assets/images/external-link.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: translateX(100%);
}

@media only screen and (max-width: 782px) {
  .ce-linked-coordinator-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}
