.wp-block-ce-block-slider {
  .wp-block-query > ul.wp-block-post-template {
    display: flex;
    flex-wrap: wrap;
  }

  .wp-block-query > .wp-block-post-template > .wp-block-post,
  .wp-block-group-is-layout-flex > .wp-block-group {
    flex-basis: 30%;
    flex-shrink: 0;
    flex-grow: 0;
  }

  &[centermode="true"] .ce-block-slider-editor-wrapper {
    padding: 0 50px;
  }

  .wp-block-query > .wp-block-post-template > .wp-block-post,
  .wp-block-group-is-layout-flex > .wp-block-group {
    flex-basis: 10%;
    transform: translateY(-20%) scale(0.5);
    max-height: 50px;
    overflow: hidden;
  }

  &[slidestoshow="1"] {
    .wp-block-query > .wp-block-post-template > .wp-block-post:first-child,
    .wp-block-group-is-layout-flex > .wp-block-group:first-child {
      flex-basis: 100%;
      transform: unset;
      max-height: unset;
    }
  }

  &[slidestoshow="2"] {
    .wp-block-query > .wp-block-post-template > .wp-block-post:nth-child(-n + 2),
    .wp-block-group-is-layout-flex > .wp-block-group:nth-child(-n + 2) {
      flex-basis: 50%;
      transform: unset;
      max-height: unset;
    }
  }

  &[slidestoshow="3"] {
    .wp-block-query > .wp-block-post-template > .wp-block-post:nth-child(-n + 3),
    .wp-block-group-is-layout-flex > .wp-block-group:nth-child(-n + 3) {
      flex-basis: calc(100% / 3);
      transform: unset;
      max-height: unset;
    }
  }

  &[slidestoshow="4"] {
    .wp-block-query > .wp-block-post-template > .wp-block-post:nth-child(-n + 4),
    .wp-block-group-is-layout-flex > .wp-block-group:nth-child(-n + 4) {
      flex-basis: 25%;
      transform: unset;
      max-height: unset;
    }
  }

  &[slidestoshow="5"] {
    .wp-block-query > .wp-block-post-template > .wp-block-post:nth-child(-n + 5),
    .wp-block-group-is-layout-flex > .wp-block-group:nth-child(-n + 5) {
      flex-basis: 20%;
      transform: unset;
      max-height: unset;
    }
  }
}
