.wp-block-ce-block-slider {
  margin: auto;

  .spinner {
    display: block;
  }

  .spinner + * {
    visibility: hidden;
  }

  .ce-block-slider-wrapper {
    display: block !important;
  }

  ul.slick-dots {
    display: flex;
    list-style: none;
    justify-content: center;

    > li {
      margin: 0;
    }

    > li:nth-child(n + 2) {
      margin-left: 20px;
    }

    .slick-active button {
      opacity: 1;
    }

    button {
      width: 10px;
      height: 10px;
      padding: 0;
      border-radius: 50%;
      font-size: 0px;
      background-color: var(--wp--preset--color--brand);
      border: none;
      cursor: pointer;
      opacity: 0.3;
    }
  }

  .ce-block-slider-arrows {
    width: fit-content;
    margin: 1rem auto;

    .slick-arrow {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      cursor: pointer;
      position: relative;
      border: none;
      outline: none;
      color: var(--wp--preset--color--typography);
      background-color: var(--wp--preset--color--primary);
      font-size: 0px;
      margin: 0 1rem;

      &::after {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
      }

      &.slick-next::after {
        content: ">";
      }

      &.slick-prev::after {
        content: "<";
      }

      &.slick-disabled {
        opacity: 0.4;
        cursor: default;
      }
    }
  }
}
