article.wp-block-group.ce-card {
  display: flex;
  flex-direction: column;
}

article.wp-block-group.ce-card .wp-block-cover {
  width: 100%;
}

article.wp-block-group.ce-card > .wp-block-group.ce-card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

article.wp-block-group.ce-card > .wp-block-group.ce-card-body .wp-block-post-excerpt {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

article.wp-block-group.ce-wide-card
  > .wp-block-group.ce-card-body
  .wp-block-post-excerpt__excerpt,
article.wp-block-group.ce-card
  > .wp-block-group.ce-card-body
  .wp-block-post-excerpt__excerpt {
  margin-bottom: var(--wp--custom--spacing--sxs);
}

article.wp-block-group.ce-wide-card .wp-block-post-excerpt__more-link,
article.wp-block-group.ce-card .wp-block-post-excerpt__more-link {
  font-weight: 700;
  color: var(--wp--preset--color--white);
  padding: var(--wp--custom--spacing--sxxs) var(--wp--custom--spacing--sm);
  border-radius: 40px;
  background-color: var(--wp--preset--color--brand);
}
