/* Variables
--------------------------------------------- */
:root {
  --wp--preset--layout--size-content: 1500px;
}

/* Site Title
--------------------------------------------- */
.wp-block-site-title {
  max-width: 200px;
  font-size: var(--wp--preset--font-size--x-large);
}

.wp-block-site-title a {
  color: var(--wp--preset--color--typography) !important;
}

@media only screen and (min-width: 782px) {
  .wp-block-site-title {
    max-width: 200px;
  }
}

@media only screen and (min-width: 1024px) {
  .wp-block-site-title {
    max-width: none;
  }
}

/* Styles
--------------------------------------------- */
/* (headings) */
.is-style-ff-primary {
  font-family: var(--wp--preset--font-family--primary);
}

.is-style-ff-montserrat {
  font-family: var(--wp--preset--font-family--montserrat);
}

/* (column) */
.is-style-no-padding {
  padding: 0 !important;
}

.is-style-no-gap {
  gap: 0 !important;
}

.is-style-in-container {
  max-width: 1500px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

@media (min-width: 1500px) {
  .is-style-in-container {
    max-width: var(--wp--preset--layout--size-content) !important;
  }
}

/* Utils
--------------------------------------------- */
figure {
  margin: 0 !important;
}

.svg-inline--fa {
  padding-right: 8px;
}

/* (category cloud) */
.categories-cloud {
  padding-bottom: var(--wp--custom--spacing--sxs);
}
.category-container {
  display: inline-block;
  padding-right: 8px;
}
.category-container p {
  margin-bottom: var(--wp--custom--spacing--sminimal);
}
.category-dot {
  color: var(--wp--preset--color--typography);
  height: 35px;
  width: 35px;
  display: block;
  float: left;
  margin-right: 5px;
}
.category-dot svg {
  background-color: var(--wp--preset--color--tertiary);
  border-radius: 50%;
  padding: 7px 8px 8px 8px;
}
.category-txt {
  display: block;
  float: left;
  padding-top: 3px;
}

/* Complianze */
#cmplz-document.cookie-statement {
  max-width: var(--wp--style--global--content-size);
}

/* STYLES FROM WP-COOP-CE-THEME */

/* Styles
--------------------------------------------- */
/* (image) */
.is-style-no-margin {
  margin: 0;
}
/* (group) */
.is-style-padded {
  padding: var(--wp--custom--spacing--sl);
}
.is-style-vertical-padded {
  padding-top: var(--wp--custom--spacing--sl);
  padding-bottom: var(--wp--custom--spacing--sl);
}
.is-style-horizontal-padded {
  padding-left: var(--wp--custom--spacing--sl);
  padding-right: var(--wp--custom--spacing--sl);
}
.is-style-no-padding {
  padding: 0 !important;
}
/* (cover) */
.is-style-image-left .wp-block-cover__image-background {
  width: auto;
  right: auto;
}
.is-style-image-right .wp-block-cover__image-background {
  width: auto;
  left: auto;
}
.is-style-image-center .wp-block-cover__image-background {
  width: auto;
  left: auto;
  right: auto;
}

/*.is-style-full-height {
    align-items: center;
    display: grid;
    min-height: 100vh;
}*/

.is-style-no-disc li {
  list-style-type: none;
  margin-left: 0;
}
