<!-- wp:template-part {"slug":"header","theme":"wp-coop-ce-theme-v-2","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"0"}}}} -->
<main class="wp-block-group single single-ce-news" style="margin-top:0;padding-top:0">
<!-- wp:group {"align":"full","style":{"color":{"background":"#c5e2d040"},"spacing":{"padding":{"top":"3rem","bottom":"4rem"}}}} -->
    <div class="wp-block-group alignfull" style="background-color:#c5e2d040;padding-top:3rem;padding-bottom:4rem">
    <!-- wp:group {"layout":{"type":"constrained","style":{"spacing":{"padding":{"bottom":"3rem"}}}}} -->
        <div class="wp-block-group" style="padding-bottom:3rem">
            <!-- wp:ce-block/slider {"showDots":true,"showArrows":false} -->
            <div class="wp-block-ce-block-slider" showarrows="false" showdots="true" infinite="true" centermode="false" slidestoshow="1" slidestoscroll="1" initialslide="0">
            <div class="spinner">Loading</div>
            <!-- wp:group {"lock":{"remove":true,"move":true},"className":"ce-block-slider-wrapper","layout":{"type":"flex","orientation":"horizontal"}} -->
            <div class="wp-block-group ce-block-slider-wrapper">
                <!-- wp:query {"query":{"perPage":"3","pages":0,"offset":0,"postType":"ce-news","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[]},"layout":{"type":"default"}} -->
                <div class="wp-block-query">
                <!-- wp:post-template -->
                <!-- wp:pattern {"slug":"ce-pattern/ce-news-card"} /-->
                <!-- /wp:post-template -->
                </div>
                <!-- /wp:query -->
            </div>
            <!-- /wp:group -->
            </div>
            <!-- /wp:ce-block/slider -->
        </div>
        <!-- /wp:group -->

        <!-- wp:group {"layout":{"type":"constrained"}} -->
        <div class="wp-block-group">
        <!-- wp:query {"className":"ce-news-query","query":{"perPage":9,"pages":0,"offset":3,"postType":"ce-news","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true}} -->
        <div class="wp-block-query ce-news-query">
        <!-- wp:post-template -->
        <!-- wp:pattern {"slug":"ce-pattern/ce-news-card"} /-->
        <!-- /wp:post-template -->

        <!-- wp:group {"layout":"constrained"} -->
        <div class="wp-block-group">
            <!-- wp:query-pagination -->
            <!-- wp:query-pagination-previous /-->
            <!-- wp:query-pagination-numbers /-->
            <!-- wp:query-pagination-next /-->
            <!-- /wp:query-pagination -->
        </div>
        <!-- /wp:group -->
        </div>
        <!-- /wp:query -->
        </div>
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"wp-coop-ce-theme-v-2","tagName":"footer","className":"site-footer"} /-->
