<!-- wp:template-part {"slug":"header","theme":"wp-coop-ce-theme-v-2","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"0"}}}} -->
<main class="wp-block-group" style="margin-top:0;padding-top:0">
    <!-- wp:group {"align":"full","style":{"color":{"background":"#c5e2d040"}},"className":"is-style-no-padding"} -->
    <div class="wp-block-group alignfull has-background is-style-no-padding" style="background-color:#c5e2d040;">
        <!-- wp:group {"className":"is-style-padded is-style-show-tablet-desktop","layout":{"type":"constrained"}} -->
        <div class="wp-block-group is-style-padded is-style-show-tablet-desktop">
            <!-- wp:ce-block/slider {"showDots":true,"showArrows":false,"autoPlay":true} -->
            <div class="wp-block-ce-block-slider" infinite="true" centermode="false" slidestoshow="1" slidestoscroll="1" initialslide="0" showdots="true" showarrows="false" autoplay="true">
                <!-- wp:query {"query":{"perPage":"3","pages":"1","offset":"0","postType":"ce-news","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false}} -->
                <div class="wp-block-query">
                    <!-- wp:post-template -->
                    <!-- wp:pattern {"slug":"ce-pattern/ce-news-wide-card"} /-->
                    <!-- /wp:post-template -->
                </div>
                <!-- /wp:query -->
            </div>
            <!-- /wp:ce-block/slider -->
        </div>
        <!-- /wp:group -->

        <!-- wp:group {"layout":{"type":"default"},"className":"is-style-no-padding is-style-show-mobile"} -->
        <div class="wp-block-group is-style-no-padding is-style-show-mobile">
            <!-- wp:pattern {"slug":"ce-pattern/ce-news-card"} /-->
            <!-- wp:spacer {"height":"3rem"} -->
            <div style="height:3rem" aria-hidden="true" class="wp-block-spacer"></div>
            <!-- /wp:spacer -->
        </div>
        <!-- /wp:group -->

        <!-- wp:group {"layout":{"type":"constrained"},"className":"is-style-horizontal-padded-l"} -->
        <div class="wp-block-group is-style-horizontal-padded-l">
            <!-- wp:group {"className":"is-style-show-tablet-desktop"} -->
            <div class="wp-block-group is-style-show-tablet-desktop">
                <!-- wp:query {"query":{"perPage":"3","pages":"0","offset":"0","postType":"ce-news","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"className":"ce-news-query"} -->
                <div class="wp-block-query ce-news-query">
                <!-- wp:post-template -->
                <!-- wp:pattern {"slug":"ce-pattern/ce-news-card"} /-->
                <!-- /wp:post-template -->

                <!-- wp:group {"layout":"constrained"} -->
                <div class="wp-block-group">
                    <!-- wp:query-pagination -->
                    <!-- wp:query-pagination-previous /-->
                    <!-- wp:query-pagination-numbers /-->
                    <!-- wp:query-pagination-next /-->
                    <!-- /wp:query-pagination -->
                </div>
                <!-- /wp:group -->
                </div>
                <!-- /wp:query -->
            </div>
            <!-- /wp:group -->

            <!-- wp:group {"className":"is-style-show-mobile"} -->
            <div class="wp-block-group is-style-show-mobile">
                <!-- wp:query {"query":{"perPage":"3","pages":"0","offset":"1","postType":"ce-news","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"className":"ce-news-query"} -->
                <div class="wp-block-query ce-news-query">
                <!-- wp:post-template -->
                <!-- wp:pattern {"slug":"ce-pattern/ce-news-card"} /-->
                <!-- /wp:post-template -->

                <!-- wp:group {"layout":"constrained"} -->
                <div class="wp-block-group">
                    <!-- wp:query-pagination -->
                    <!-- wp:query-pagination-previous /-->
                    <!-- wp:query-pagination-numbers /-->
                    <!-- wp:query-pagination-next /-->
                    <!-- /wp:query-pagination -->
                </div>
                <!-- /wp:group -->
                </div>
                <!-- /wp:query -->
            </div>
            <!-- /wp:group -->

            <!-- wp:spacer {"height":"4rem"} -->
            <div style="height:4rem" aria-hidden="true" class="wp-block-spacer"></div>
            <!-- /wp:spacer -->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"wp-coop-ce-theme-v-2","tagName":"footer","className":"site-footer"} /-->
