<!-- wp:template-part {"slug":"header","theme":"wp-coop-ce-theme-v-2","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"0"}}}} -->
<main class="wp-block-group single single-ce-news" style="margin-top:0;padding-top:0">
    <header class="wp-block-header ce-news-header alignfull">
    <!-- wp:post-featured-image /-->
    <!-- wp:group {"className":"is-style-padded","layout":{"type":"constrained"}} -->
    <div class="wp-block-group is-style-padded">
        <!-- wp:spacer {"height":"2em"} -->
        <div style="height:2em" aria-hidden="true" class="wp-block-spacer"></div>
        <!-- /wp:spacer -->
            <!-- wp:post-terms {"term":"post_tag"} /-->
        <!-- wp:post-title /-->
        <!-- wp:post-excerpt /-->
        <!-- wp:spacer {"height":"2em"} -->
        <div style="height:2em" aria-hidden="true" class="wp-block-spacer"></div>
        <!-- /wp:spacer -->
    </div>
    <!-- /wp:group -->
    </header>

    <!-- wp:group {"tagName":"article","layout":{"type":"constrained","margin":{"top":"3rem","bottom":"3rem"}}} -->
    <div class="wp-block-group" style="margin-top:3rem;margin-bottom:3rem">
    <!-- wp:post-content /-->
    <!-- wp:group {"className":"is-style-horizontal-padded","layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group">
        <!-- wp:separator {"style":{"layout":{"selfStretch":"fill","flexSize":null}}} -->
        <hr class="wp-block-separator has-alpha-channel-opacity"/>
        <!-- /wp:separator -->

        <!-- wp:spacer {"width":"0px","style":{"layout":{"flexSize":"2rem","selfStretch":"fixed"}}} -->
        <div style="height:100px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
        <!-- /wp:spacer -->

        <!-- wp:post-date /-->
    </div>
    <!-- /wp:group -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"tagName":"aside","align":"full","className":"is-style-no-padding","style":{"color":{"background":"#c5e2d040"}}} -->
    <aside class="wp-block-group is-style-no-padding alignfull" style="background-color:#c5e2d040">
        <!-- wp:spacer {"height":"4rem"} -->
        <div style="height:4rem" aria-hidden="true" class="wp-block-spacer"></div>
        <!-- /wp:spacer -->
        <!-- wp:heading {"level":2,"textAlign":"center","className":"has-text-align-center"} -->
        <h2 class="wp-block-heading has-text-align-center">Últimes notícies</h2>
        <!-- /wp:heading -->
        <!-- wp:spacer {"height":"1rem"} -->
        <div style="height:1rem" aria-hidden="true" class="wp-block-spacer"></div>
        <!-- /wp:spacer -->

        <!-- wp:group {"layout":"constrained"} -->
        <div class="wp-block-group">
        <!-- wp:query {"className":"ce-news-query","query":{"perPage":3,"pages":0,"offset":0,"postType":"ce-news","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[]},"layout":{"type":"constrained"}} -->
        <div class="wp-block-query ce-news-query">
        <!-- wp:post-template -->
        <!-- wp:pattern {"slug":"ce-pattern/ce-news-card"} /-->
        <!-- /wp:post-template -->
        </div>
        <!-- /wp:query -->
        </div>
        <!-- /wp:group -->
        <!-- wp:spacer {"height":"5rem"} -->
        <div style="height:5rem" aria-hidden="true" class="wp-block-spacer"></div>
        <!-- /wp:spacer -->
    </aside>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"wp-coop-ce-theme-v-2","tagName":"footer","className":"site-footer"} /-->
