<!-- wp:template-part {"slug":"header","theme":"wp-coop-ce-theme-v-2","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"0"}}},"className":"single single-ce-news"} -->
<main class="wp-block-group single single-ce-news" style="margin-top:0;padding-top:0"><!-- wp:group {"tagName":"header","align":"full","className":"is-style-show-desktop ce-news-header is-style-horizontal-padded","layout":{"type":"constrained","contentSize":"1100px"}} -->
    <header class="wp-block-group alignfull is-style-show-desktop ce-news-header is-style-horizontal-padded"><!-- wp:spacer {"height":"2em"} -->
    <div style="height:2em" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:post-terms {"term":"post_tag"} /-->
    
    <!-- wp:post-title /-->
    
    <!-- wp:post-excerpt /-->
    
    <!-- wp:spacer {"height":"2em"} -->
    <div style="height:2em" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></header>
    <!-- /wp:group -->
    
    <!-- wp:group {"tagName":"header","align":"full","className":"ce-news-header is-style-horizontal-padded is-style-show-mobile-tablet"} -->
    <header class="wp-block-group alignfull ce-news-header is-style-horizontal-padded is-style-show-mobile-tablet"><!-- wp:spacer {"height":"2em"} -->
    <div style="height:2em" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:post-terms {"term":"post_tag"} /-->
    
    <!-- wp:post-title /-->
    
    <!-- wp:post-excerpt /-->
    
    <!-- wp:spacer {"height":"2em"} -->
    <div style="height:2em" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></header>
    <!-- /wp:group -->
    
    <!-- wp:group {"tagName":"article","className":"is-style-horizontal-padded is-style-vertical-padded","layout":{"type":"constrained","contentSize":"1100px"}} -->
    <article class="wp-block-group is-style-horizontal-padded is-style-vertical-padded"><!-- wp:post-content /-->
    
    <!-- wp:group {"className":"is-style-show-tablet-desktop","layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group is-style-show-tablet-desktop"><!-- wp:separator {"style":{"layout":{"selfStretch":"fill","flexSize":null},"color":{"background":"#153f2d20"}},"className":"has-text-color has-background"} -->
    <hr class="wp-block-separator has-text-color has-alpha-channel-opacity has-background" style="background-color:#153f2d20;color:#153f2d20"/>
    <!-- /wp:separator -->
    
    <!-- wp:spacer {"width":"0px","style":{"layout":{"flexSize":"2rem","selfStretch":"fixed"}}} -->
    <div style="height:100px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:post-date {"style":{"color":{"text":"#153f2d80"}}} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"color":{"text":"#19191999"}},"className":"is-style-show-mobile","layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
    <div class="wp-block-group is-style-show-mobile has-text-color" style="color:#19191999"><!-- wp:spacer {"height":"0px","style":{"layout":{"flexSize":"1rem","selfStretch":"fixed"}}} -->
    <div style="height:0px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group"><!-- wp:separator {"style":{"layout":{"selfStretch":"fill","flexSize":null},"color":{"background":"#153f2d20"}},"className":"has-text-color has-background"} -->
    <hr class="wp-block-separator has-text-color has-alpha-channel-opacity has-background" style="background-color:#153f2d20;color:#153f2d20"/>
    <!-- /wp:separator --></div>
    <!-- /wp:group -->
    
    <!-- wp:spacer {"height":"0px","style":{"layout":{"flexSize":"1rem","selfStretch":"fixed"}}} -->
    <div style="height:0px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:post-date {"textAlign":"center","style":{"color":{"text":"#153f2d80"}},"fontSize":"medium"} /--></div>
    <!-- /wp:group --></article>
    <!-- /wp:group -->
    
    <!-- wp:group {"tagName":"aside","align":"full","style":{"color":{"background":"#c5e2d040"}}} -->
    <aside class="wp-block-group alignfull has-background" style="background-color:#c5e2d040"><!-- wp:group {"className":"is-style-horizontal-padded"} -->
    <div class="wp-block-group is-style-horizontal-padded"><!-- wp:spacer {"height":"2rem"} -->
    <div style="height:2rem" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:heading {"textAlign":"center","className":"has-text-align-center"} -->
    <h2 class="wp-block-heading has-text-align-center">Últimes notícies</h2>
    <!-- /wp:heading -->
    
    <!-- wp:spacer {"height":"1rem"} -->
    <div style="height:1rem" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:query {"queryId":1,"query":{"perPage":3,"pages":1,"offset":0,"postType":"ce-news","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[]},"className":"ce-news-query","layout":{"type":"constrained"}} -->
    <div class="wp-block-query ce-news-query"><!-- wp:post-template -->
    <!-- wp:group {"tagName":"article","backgroundColor":"base","className":"is-style-no-padding ce-card ce-post-card","layout":{"type":"constrained"}} -->
    <article class="wp-block-group is-style-no-padding ce-card ce-post-card has-base-background-color has-background"><!-- wp:post-featured-image {"isLink":true,"align":"wide"} /-->
    
    <!-- wp:spacer {"height":"40px"} -->
    <div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:group {"className":"ce-card-body"} -->
    <div class="wp-block-group ce-card-body"><!-- wp:group {"className":"is-style-show-desktop ce-card-terms"} -->
    <div class="wp-block-group is-style-show-desktop ce-card-terms"><!-- wp:post-terms {"term":"post_tag","separator":""} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"className":"is-style-show-tablet ce-card-terms"} -->
    <div class="wp-block-group is-style-show-tablet ce-card-terms"><!-- wp:post-terms {"term":"post_tag","separator":""} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"className":"is-style-show-mobile ce-card-terms"} -->
    <div class="wp-block-group is-style-show-mobile ce-card-terms"><!-- wp:post-terms {"term":"post_tag","separator":""} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:spacer {"height":"1em","width":"0px"} -->
    <div style="height:1em;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:post-date /-->
    
    <!-- wp:post-title {"level":4,"isLink":true,"className":"wp-block-heading"} /-->
    
    <!-- wp:post-excerpt {"moreText":"Més informació"} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:spacer {"height":"3rem"} -->
    <div style="height:3rem" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></article>
    <!-- /wp:group -->
    <!-- /wp:post-template --></div>
    <!-- /wp:query --></div>
    <!-- /wp:group -->
    
    <!-- wp:spacer {"height":"3rem"} -->
    <div style="height:3rem" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group --></aside>
    <!-- /wp:group --></main>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"wp-coop-ce-theme-v-2","tagName":"footer","className":"site-footer"} /-->