<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"0"}}},"className":"site-content"} -->
<main
  class="site-ce-content wp-block-group"
  style="
    margin-top: 0;
    padding-top: var(--wp--custom--spacing--sxl);
    padding-bottom: var(--wp--custom--spacing--sxxl);
  "
>
  <!-- wp:post-content {"layout":{"inherit":true}} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->

