<!-- wp:template-part {"slug":"header","theme":"wp-coop-ce-theme-v-2","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"section","className":"is-style-no-padding alignfull","layout":{"type":"default"}} -->
<section class="wp-block-group is-style-no-padding alignfull">
  <!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"100%"}},"className":"is-style-horizontal-padded","layout":{"type":"default"}} -->
  <div class="wp-block-group is-style-horizontal-padded">
    <!-- wp:group {"className":"is-style-show-tablet-desktop","layout":{"type":"constrained"}} -->
    <div class="wp-block-group is-style-show-tablet-desktop">
      <!-- wp:spacer -->
      <div
        style="height: 100px"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"className":"is-style-show-mobile","layout":{"type":"constrained"}} -->
    <div class="wp-block-group is-style-show-mobile">
      <!-- wp:spacer {"height":"2rem"} -->
      <div
        style="height: 2rem"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"right"}} -->
    <div class="wp-block-group">
      <!-- wp:paragraph {"className":"ce-landing-breadcrumb"} -->
      <p class="ce-landing-breadcrumb">
        <a href="/coordinadores/">Què són les coordinadores</a>
      </p>
      <!-- /wp:paragraph -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"className":"is-style-show-mobile","layout":{"type":"constrained"}} -->
    <div class="wp-block-group is-style-show-mobile">
      <!-- wp:spacer {"height":"2rem"} -->
      <div
        style="height: 2rem"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->
    </div>
    <!-- /wp:group -->

    <!-- wp:wpct-rcpt/field {"remoteField":"company_logo"} -->
    <div class="wp-block-wpct-rcpt-field">
      <!-- wp:image {"align":"center","width":"260px","sizeSlug":"large","linkDestination":"custom"} -->
      <figure class="wp-block-image aligncenter size-large is-resized">
        <a href="_company_logo_"
          ><img src="_company_logo_" alt="" style="width: 260px"
        /></a>
      </figure>
      <!-- /wp:image -->
    </div>
    <!-- /wp:wpct-rcpt/field -->

    <!-- wp:group {"className":"is-style-horizontal-padded","layout":{"type":"constrained","contentSize":"800px"}} -->
    <div class="wp-block-group is-style-horizontal-padded">
      <!-- wp:wpct-rcpt/field {"remoteField":"title"} -->
      <div class="wp-block-wpct-rcpt-field">
        <!-- wp:heading {"textAlign":"center","level":3,"style":{"elements":{"link":{"color":{"text":"var:preset|color|main"}}}},"textColor":"main","className":"ce-landing-title"} -->
        <h3
          class="wp-block-heading has-text-align-center ce-landing-title has-main-color has-text-color has-link-color"
        >
          _title_
        </h3>
        <!-- /wp:heading -->
      </div>
      <!-- /wp:wpct-rcpt/field -->

      <!-- wp:spacer {"height":"1rem","width":"0px","style":{"layout":[]}} -->
      <div
        style="height: 1rem; width: 0px"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:wpct-rcpt/field {"remoteField":"short_description"} -->
      <div class="wp-block-wpct-rcpt-field">
        <!-- wp:paragraph {"align":"center","placeholder":"Setup your remote field template","fontSize":"section-texts"} -->
        <p class="has-text-align-center has-section-texts-font-size">
          _short_description_
        </p>
        <!-- /wp:paragraph -->
      </div>
      <!-- /wp:wpct-rcpt/field -->
    </div>
    <!-- /wp:group -->

    <!-- wp:spacer {"height":"70px"} -->
    <div style="height: 70px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:group {"layout":{"type":"constrained","contentSize":"750px"}} -->
    <div class="wp-block-group">
      <!-- wp:heading {"textAlign":"center","level":4,"style":{"elements":{"link":{"color":{"text":"var:preset|color|main"}}}},"textColor":"main"} -->
      <h4
        class="wp-block-heading has-text-align-center has-main-color has-text-color has-link-color"
      >
        Serveis que ofereix la Coordinadora segons el cicle de vida d’una
        Comunitat
      </h4>
      <!-- /wp:heading -->
    </div>
    <!-- /wp:group -->

    <!-- wp:spacer {"height":"40px"} -->
    <div style="height: 40px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:group {"className":"is-style-show-tablet-desktop","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center","verticalAlignment":"top"}} -->
    <div class="wp-block-group is-style-show-tablet-desktop">
      <!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"20%"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center","verticalAlignment":"top"}} -->
      <div class="wp-block-group">
        <!-- wp:image {"id":5771,"width":"auto","height":"200px","sizeSlug":"full","linkDestination":"none"} -->
        <figure class="wp-block-image size-full is-resized">
          <img
            src="https://web-testing.somcomunitats.coop/wp-content/uploads/2024/05/sensibilitzacio-icona.png"
            alt=""
            class="wp-image-5771"
            style="width: auto; height: 200px"
          />
        </figure>
        <!-- /wp:image -->

        <!-- wp:spacer {"height":"0px","style":{"layout":{"flexSize":"20px","selfStretch":"fixed"}}} -->
        <div
          style="height: 0px"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->

        <!-- wp:heading {"textAlign":"center","level":5,"style":{"elements":{"link":{"color":{"text":"var:preset|color|main"}}}},"textColor":"main"} -->
        <h5
          class="wp-block-heading has-text-align-center has-main-color has-text-color has-link-color"
        >
          Sensibilització per a crear una Comunitat
        </h5>
        <!-- /wp:heading -->

        <!-- wp:spacer {"height":"0px","style":{"layout":{"flexSize":"25px","selfStretch":"fixed"}}} -->
        <div
          style="height: 0px"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->

        <!-- wp:wpct-rcpt/field {"remoteField":"awareness_services"} -->
        <div class="wp-block-wpct-rcpt-field">
          <!-- wp:paragraph {"align":"center","placeholder":"Setup your remote field template"} -->
          <p class="has-text-align-center">_awareness_services_</p>
          <!-- /wp:paragraph -->
        </div>
        <!-- /wp:wpct-rcpt/field -->
      </div>
      <!-- /wp:group -->

      <!-- wp:spacer {"width":"0px","style":{"layout":{"flexSize":"80px","selfStretch":"fixed"}}} -->
      <div
        style="height: 100px; width: 0px"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"20%"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
      <div class="wp-block-group">
        <!-- wp:image {"id":5773,"width":"auto","height":"200px","sizeSlug":"full","linkDestination":"none"} -->
        <figure class="wp-block-image size-full is-resized">
          <img
            src="https://web-testing.somcomunitats.coop/wp-content/uploads/2024/05/disseny-icona.png"
            alt=""
            class="wp-image-5773"
            style="width: auto; height: 200px"
          />
        </figure>
        <!-- /wp:image -->

        <!-- wp:spacer {"height":"0px","style":{"layout":{"flexSize":"20px","selfStretch":"fixed"}}} -->
        <div
          style="height: 0px"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->

        <!-- wp:heading {"textAlign":"center","level":5,"style":{"elements":{"link":{"color":{"text":"var:preset|color|main"}}}},"textColor":"main"} -->
        <h5
          class="wp-block-heading has-text-align-center has-main-color has-text-color has-link-color"
        >
          Disseny i posada en marxa d’una Comunitat
        </h5>
        <!-- /wp:heading -->

        <!-- wp:spacer {"height":"0px","style":{"layout":{"flexSize":"25px","selfStretch":"fixed"}}} -->
        <div
          style="height: 0px"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->

        <!-- wp:wpct-rcpt/field {"remoteField":"design_services"} -->
        <div class="wp-block-wpct-rcpt-field">
          <!-- wp:paragraph {"align":"center","placeholder":"Setup your remote field template"} -->
          <p class="has-text-align-center">_design_services_</p>
          <!-- /wp:paragraph -->
        </div>
        <!-- /wp:wpct-rcpt/field -->
      </div>
      <!-- /wp:group -->

      <!-- wp:spacer {"width":"0px","style":{"layout":{"flexSize":"80px","selfStretch":"fixed"}}} -->
      <div
        style="height: 100px; width: 0px"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"20%"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center","verticalAlignment":"top"}} -->
      <div class="wp-block-group">
        <!-- wp:image {"id":5775,"width":"auto","height":"200px","sizeSlug":"full","linkDestination":"none"} -->
        <figure class="wp-block-image size-full is-resized">
          <img
            src="https://web-testing.somcomunitats.coop/wp-content/uploads/2024/05/gestio-icona.png"
            alt=""
            class="wp-image-5775"
            style="width: auto; height: 200px"
          />
        </figure>
        <!-- /wp:image -->

        <!-- wp:spacer {"height":"0px","style":{"layout":{"flexSize":"20px","selfStretch":"fixed"}}} -->
        <div
          style="height: 0px"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->

        <!-- wp:heading {"textAlign":"center","level":5,"style":{"elements":{"link":{"color":{"text":"var:preset|color|main"}}}},"textColor":"main"} -->
        <h5
          class="wp-block-heading has-text-align-center has-main-color has-text-color has-link-color"
        >
          Gestió del dia a dia d’una Comunitat
        </h5>
        <!-- /wp:heading -->

        <!-- wp:spacer {"height":"0px","style":{"layout":{"flexSize":"25px","selfStretch":"fixed"}}} -->
        <div
          style="height: 0px"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->

        <!-- wp:wpct-rcpt/field {"remoteField":"management_services"} -->
        <div class="wp-block-wpct-rcpt-field">
          <!-- wp:paragraph {"align":"center","placeholder":"Setup your remote field template"} -->
          <p class="has-text-align-center">_management_services_</p>
          <!-- /wp:paragraph -->
        </div>
        <!-- /wp:wpct-rcpt/field -->
      </div>
      <!-- /wp:group -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"className":"is-style-show-mobile","layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
    <div class="wp-block-group is-style-show-mobile">
      <!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"20%"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center","verticalAlignment":"top"}} -->
      <div class="wp-block-group">
        <!-- wp:image {"id":5771,"width":"auto","height":"200px","sizeSlug":"full","linkDestination":"none"} -->
        <figure class="wp-block-image size-full is-resized">
          <img
            src="https://web-testing.somcomunitats.coop/wp-content/uploads/2024/05/sensibilitzacio-icona.png"
            alt=""
            class="wp-image-5771"
            style="width: auto; height: 200px"
          />
        </figure>
        <!-- /wp:image -->

        <!-- wp:spacer {"height":"0px","style":{"layout":{"flexSize":"20px","selfStretch":"fixed"}}} -->
        <div
          style="height: 0px"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->

        <!-- wp:heading {"textAlign":"center","level":5,"style":{"elements":{"link":{"color":{"text":"var:preset|color|main"}}}},"textColor":"main"} -->
        <h5
          class="wp-block-heading has-text-align-center has-main-color has-text-color has-link-color"
        >
          Sensibilització per a crear una Comunitat
        </h5>
        <!-- /wp:heading -->

        <!-- wp:spacer {"height":"0px","style":{"layout":{"flexSize":"25px","selfStretch":"fixed"}}} -->
        <div
          style="height: 0px"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->

        <!-- wp:wpct-rcpt/field {"remoteField":"awareness_services"} -->
        <div class="wp-block-wpct-rcpt-field">
          <!-- wp:paragraph {"align":"center","placeholder":"Setup your remote field template"} -->
          <p class="has-text-align-center">_awareness_services_</p>
          <!-- /wp:paragraph -->
        </div>
        <!-- /wp:wpct-rcpt/field -->
      </div>
      <!-- /wp:group -->

      <!-- wp:spacer {"width":"0px","style":{"layout":{"flexSize":"80px","selfStretch":"fixed"}}} -->
      <div
        style="height: 100px; width: 0px"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"20%"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
      <div class="wp-block-group">
        <!-- wp:image {"id":5773,"width":"auto","height":"200px","sizeSlug":"full","linkDestination":"none"} -->
        <figure class="wp-block-image size-full is-resized">
          <img
            src="https://web-testing.somcomunitats.coop/wp-content/uploads/2024/05/disseny-icona.png"
            alt=""
            class="wp-image-5773"
            style="width: auto; height: 200px"
          />
        </figure>
        <!-- /wp:image -->

        <!-- wp:spacer {"height":"0px","style":{"layout":{"flexSize":"20px","selfStretch":"fixed"}}} -->
        <div
          style="height: 0px"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->

        <!-- wp:heading {"textAlign":"center","level":5,"style":{"elements":{"link":{"color":{"text":"var:preset|color|main"}}}},"textColor":"main"} -->
        <h5
          class="wp-block-heading has-text-align-center has-main-color has-text-color has-link-color"
        >
          Disseny i posada en marxa d’una Comunitat
        </h5>
        <!-- /wp:heading -->

        <!-- wp:spacer {"height":"0px","style":{"layout":{"flexSize":"25px","selfStretch":"fixed"}}} -->
        <div
          style="height: 0px"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->

        <!-- wp:wpct-rcpt/field {"remoteField":"design_services"} -->
        <div class="wp-block-wpct-rcpt-field">
          <!-- wp:paragraph {"align":"center","placeholder":"Setup your remote field template"} -->
          <p class="has-text-align-center">_design_services_</p>
          <!-- /wp:paragraph -->
        </div>
        <!-- /wp:wpct-rcpt/field -->
      </div>
      <!-- /wp:group -->

      <!-- wp:spacer {"width":"0px","style":{"layout":{"flexSize":"80px","selfStretch":"fixed"}}} -->
      <div
        style="height: 100px; width: 0px"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"20%"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center","verticalAlignment":"top"}} -->
      <div class="wp-block-group">
        <!-- wp:image {"id":5775,"width":"auto","height":"200px","sizeSlug":"full","linkDestination":"none"} -->
        <figure class="wp-block-image size-full is-resized">
          <img
            src="https://web-testing.somcomunitats.coop/wp-content/uploads/2024/05/gestio-icona.png"
            alt=""
            class="wp-image-5775"
            style="width: auto; height: 200px"
          />
        </figure>
        <!-- /wp:image -->

        <!-- wp:spacer {"height":"0px","style":{"layout":{"flexSize":"20px","selfStretch":"fixed"}}} -->
        <div
          style="height: 0px"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->

        <!-- wp:heading {"textAlign":"center","level":5,"style":{"elements":{"link":{"color":{"text":"var:preset|color|main"}}}},"textColor":"main"} -->
        <h5
          class="wp-block-heading has-text-align-center has-main-color has-text-color has-link-color"
        >
          Gestió del dia a dia d’una Comunitat
        </h5>
        <!-- /wp:heading -->

        <!-- wp:spacer {"height":"0px","style":{"layout":{"flexSize":"25px","selfStretch":"fixed"}}} -->
        <div
          style="height: 0px"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->

        <!-- wp:wpct-rcpt/field {"remoteField":"management_services"} -->
        <div class="wp-block-wpct-rcpt-field">
          <!-- wp:paragraph {"align":"center","placeholder":"Setup your remote field template"} -->
          <p class="has-text-align-center">_management_services_</p>
          <!-- /wp:paragraph -->
        </div>
        <!-- /wp:wpct-rcpt/field -->
      </div>
      <!-- /wp:group -->
    </div>
    <!-- /wp:group -->

    <!-- wp:spacer {"height":"5rem"} -->
    <div style="height: 5rem" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
  </div>
  <!-- /wp:group -->
</section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","align":"full","backgroundColor":"second-base-ultra-light","className":"ce-landing-signup-section is-style-no-padding","layout":{"type":"default"}} -->
<section
  class="wp-block-group alignfull ce-landing-signup-section is-style-no-padding has-second-base-ultra-light-background-color has-background"
>
  <!-- wp:group {"className":"is-style-show-desktop","layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"stretch"}} -->
  <div class="wp-block-group is-style-show-desktop">
    <!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"className":"is-style-horizontal-padded","layout":{"type":"default"}} -->
    <div class="wp-block-group is-style-horizontal-padded">
      <!-- wp:spacer {"height":"6rem"} -->
      <div
        style="height: 6rem"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:heading {"level":4,"style":{"elements":{"link":{"color":{"text":"var:preset|color|main"}}}},"textColor":"main"} -->
      <h4 class="wp-block-heading has-main-color has-text-color has-link-color">
        Qui som
      </h4>
      <!-- /wp:heading -->

      <!-- wp:wpct-rcpt/field {"remoteField":"long_description"} -->
      <div class="wp-block-wpct-rcpt-field">
        <!-- wp:paragraph {"placeholder":"Setup your remote field template"} -->
        <p>_long_description_</p>
        <!-- /wp:paragraph -->
      </div>
      <!-- /wp:wpct-rcpt/field -->

      <!-- wp:spacer {"height":"7rem"} -->
      <div
        style="height: 7rem"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"backgroundColor":"brand","className":"is-style-no-padding","layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div
      class="wp-block-group is-style-no-padding has-brand-background-color has-background"
    >
      <!-- wp:group {"style":{"layout":{"selfStretch":"fill","flexSize":null}},"className":"is-style-horizontal-padded","layout":{"type":"constrained"}} -->
      <div class="wp-block-group is-style-horizontal-padded">
        <!-- wp:spacer {"height":"6rem"} -->
        <div
          style="height: 6rem"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->

        <!-- wp:heading {"level":3,"className":"has-text-align-center has-base-color has-text-color"} -->
        <h3
          class="wp-block-heading has-text-align-center has-base-color has-text-color"
        >
          Contractació
        </h3>
        <!-- /wp:heading -->

        <!-- wp:paragraph {"align":"center","textColor":"base","fontSize":"footer"} -->
        <p
          class="has-text-align-center has-base-color has-text-color has-footer-font-size"
        >
          <strong
            >Sol·licita adherir-te a la Coordinadora i accedeix als seus
            serveis</strong
          >
        </p>
        <!-- /wp:paragraph -->

        <!-- wp:buttons {"className":"ce-landing-leads","layout":{"type":"flex","justifyContent":"center"}} -->
        <div class="wp-block-buttons ce-landing-leads">
          <!-- wp:button {"fontSize":"footer"} -->
          <div
            class="wp-block-button has-custom-font-size has-footer-font-size"
          >
            <a class="wp-block-button__link wp-element-button" href="#contacte"
              >Formulari de contacte</a
            >
          </div>
          <!-- /wp:button -->
        </div>
        <!-- /wp:buttons -->

        <!-- wp:spacer {"height":"7rem"} -->
        <div
          style="height: 7rem"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->
      </div>
      <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->

  <!-- wp:group {"className":"is-style-show-mobile-tablet","layout":{"type":"constrained"}} -->
  <div class="wp-block-group is-style-show-mobile-tablet">
    <!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"className":"is-style-horizontal-padded","layout":{"type":"default"}} -->
    <div class="wp-block-group is-style-horizontal-padded">
      <!-- wp:spacer {"height":"3rem"} -->
      <div
        style="height: 3rem"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:heading {"level":3,"style":{"elements":{"link":{"color":{"text":"var:preset|color|main"}}}},"textColor":"main"} -->
      <h3 class="wp-block-heading has-main-color has-text-color has-link-color">
        Qui som
      </h3>
      <!-- /wp:heading -->

      <!-- wp:wpct-rcpt/field {"remoteField":"long_description"} -->
      <div class="wp-block-wpct-rcpt-field">
        <!-- wp:paragraph {"placeholder":"Setup your remote field template"} -->
        <p>_long_description_</p>
        <!-- /wp:paragraph -->
      </div>
      <!-- /wp:wpct-rcpt/field -->

      <!-- wp:spacer {"height":"4rem"} -->
      <div
        style="height: 4rem"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"backgroundColor":"brand","className":"is-style-no-padding","layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div
      class="wp-block-group is-style-no-padding has-brand-background-color has-background"
    >
      <!-- wp:group {"style":{"layout":{"selfStretch":"fill","flexSize":null}},"className":"is-style-horizontal-padded","layout":{"type":"constrained"}} -->
      <div class="wp-block-group is-style-horizontal-padded">
        <!-- wp:spacer {"height":"3rem"} -->
        <div
          style="height: 3rem"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->

        <!-- wp:heading {"textAlign":"center","textColor":"base"} -->
        <h2
          class="wp-block-heading has-text-align-center has-base-color has-text-color"
        >
          Contractació
        </h2>
        <!-- /wp:heading -->

        <!-- wp:paragraph {"align":"center","textColor":"base"} -->
        <p class="has-text-align-center has-base-color has-text-color">
          Posa’t en contacte per a contractar els serveis de la Coordinadora
          Osona Energia OECoop
        </p>
        <!-- /wp:paragraph -->

        <!-- wp:buttons {"className":"ce-landing-leads","layout":{"type":"flex","justifyContent":"center"}} -->
        <div class="wp-block-buttons ce-landing-leads">
          <!-- wp:button {"fontSize":"small"} -->
          <div class="wp-block-button has-custom-font-size has-small-font-size">
            <a
              class="wp-block-button__link wp-element-button"
              href="#contacte-mobil"
              >Formulari de contacte</a
            >
          </div>
          <!-- /wp:button -->
        </div>
        <!-- /wp:buttons -->

        <!-- wp:spacer {"height":"4rem"} -->
        <div
          style="height: 4rem"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->
      </div>
      <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->
</section>
<!-- /wp:group -->

<!-- wp:shortcode -->
[remote_callback fn="wpct_ce_coord_landing_map"]
<!-- /wp:shortcode -->

<!-- wp:group {"tagName":"section","align":"full","backgroundColor":"primary","className":"is-style-no-padding ce-landing-contact-section","layout":{"type":"default"}} -->
<section
  class="wp-block-group alignfull is-style-no-padding ce-landing-contact-section has-primary-background-color has-background"
  id="contacte"
>
  <!-- wp:group {"className":"is-style-show-desktop","layout":{"type":"default"}} -->
  <div class="wp-block-group is-style-show-desktop">
    <!-- wp:spacer {"height":"5rem"} -->
    <div style="height: 5rem" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:group {"className":"is-style-horizontal-padded","layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"top"}} -->
    <div class="wp-block-group is-style-horizontal-padded">
      <!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"className":"is-style-default","layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
      <div class="wp-block-group is-style-default">
        <!-- wp:wpct-rcpt/field {"remoteField":"title"} -->
        <div class="wp-block-wpct-rcpt-field">
          <!-- wp:heading {"level":3,"textColor":"main"} -->
          <h3 class="wp-block-heading has-main-color has-text-color">
            Contacta amb _title_
          </h3>
          <!-- /wp:heading -->
        </div>
        <!-- /wp:wpct-rcpt/field -->

        <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"3rem","selfStretch":"fixed"}}} -->
        <div
          style="height: 0px; width: 0px"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->

        <!-- wp:paragraph {"textColor":"main","fontSize":"medium"} -->
        <p class="has-main-color has-text-color has-medium-font-size">Adreça</p>
        <!-- /wp:paragraph -->

        <!-- wp:wpct-rcpt/field {"remoteField":"street,postal_code,city"} -->
        <div class="wp-block-wpct-rcpt-field">
          <!-- wp:paragraph {"placeholder":"Setup your remote field template","style":{"elements":{"link":{"color":{"text":"var:preset|color|main"}}}},"textColor":"main"} -->
          <p class="has-main-color has-text-color has-link-color">
            _street_, _postal_code_, _city_
          </p>
          <!-- /wp:paragraph -->
        </div>
        <!-- /wp:wpct-rcpt/field -->

        <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"2rem","selfStretch":"fixed"}}} -->
        <div
          style="height: 0px; width: 0px"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->

        <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
        <div class="wp-block-group">
          <!-- wp:separator {"style":{"layout":{"selfStretch":"fill","flexSize":null}},"backgroundColor":"main-light","className":"is-style-wide"} -->
          <hr
            class="wp-block-separator has-text-color has-main-light-color has-alpha-channel-opacity has-main-light-background-color has-background is-style-wide"
          />
          <!-- /wp:separator -->
        </div>
        <!-- /wp:group -->

        <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"2rem","selfStretch":"fixed"}}} -->
        <div
          style="height: 0px; width: 0px"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->

        <!-- wp:paragraph {"textColor":"main","fontSize":"medium"} -->
        <p class="has-main-color has-text-color has-medium-font-size">
          Butlletí
        </p>
        <!-- /wp:paragraph -->

        <!-- wp:wpct-rcpt/field {"remoteField":"title"} -->
        <div class="wp-block-wpct-rcpt-field">
          <!-- wp:paragraph {"placeholder":"Setup your remote field template","style":{"elements":{"link":{"color":{"text":"var:preset|color|main"}}}},"textColor":"main"} -->
          <p class="has-main-color has-text-color has-link-color">
            Vols rebre informació de la Coordinadora _title_ ?
          </p>
          <!-- /wp:paragraph -->
        </div>
        <!-- /wp:wpct-rcpt/field -->

        <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"2rem","selfStretch":"fixed"}}} -->
        <div
          style="height: 0px; width: 0px"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->

        <!-- wp:group {"className":"ce-form-newsletter","layout":{"type":"flex","flexWrap":"nowrap"}} -->
        <div class="wp-block-group ce-form-newsletter">
          <!-- wp:shortcode -->
          [remote_callback fn="wpct_ce_landing_contact_form" form_id="12"
          ajax=“true”]
          <!-- /wp:shortcode -->

          <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"100%","selfStretch":"fixed"}}} -->
          <div
            style="height: 0px; width: 0px"
            aria-hidden="true"
            class="wp-block-spacer"
          ></div>
          <!-- /wp:spacer -->
        </div>
        <!-- /wp:group -->

        <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"2rem","selfStretch":"fixed"}}} -->
        <div
          style="height: 0px; width: 0px"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->

        <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
        <div class="wp-block-group">
          <!-- wp:separator {"style":{"layout":{"selfStretch":"fill","flexSize":null}},"backgroundColor":"main-light","className":"is-style-wide"} -->
          <hr
            class="wp-block-separator has-text-color has-main-light-color has-alpha-channel-opacity has-main-light-background-color has-background is-style-wide"
          />
          <!-- /wp:separator -->
        </div>
        <!-- /wp:group -->

        <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"2rem","selfStretch":"fixed"}}} -->
        <div
          style="height: 0px; width: 0px"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->

        <!-- wp:group -->
        <div class="wp-block-group">
          <!-- wp:paragraph {"textColor":"main","fontSize":"medium"} -->
          <p class="has-main-color has-text-color has-medium-font-size">
            Contacte
          </p>
          <!-- /wp:paragraph -->

          <!-- wp:group {"className":"ce-landing-links","layout":{"type":"flex","orientation":"vertical"}} -->
          <div class="wp-block-group ce-landing-links">
            <!-- wp:wpct-rcpt/field {"remoteField":"external_website_link"} -->
            <div class="wp-block-wpct-rcpt-field">
              <!-- wp:paragraph {"placeholder":"Setup your remote field template","style":{"elements":{"link":{"color":{"text":"var:preset|color|main"}}}},"textColor":"main"} -->
              <p class="has-main-color has-text-color has-link-color">
                <a
                  href="https://_external_website_link_"
                  target="_blank"
                  rel="noreferrer noopener"
                  ><strong>_external_website_link_</strong></a
                >
              </p>
              <!-- /wp:paragraph -->
            </div>
            <!-- /wp:wpct-rcpt/field -->

            <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"1em","selfStretch":"fixed"}}} -->
            <div
              style="height: 0px; width: 0px"
              aria-hidden="true"
              class="wp-block-spacer"
            ></div>
            <!-- /wp:spacer -->

            <!-- wp:social-links {"iconColor":"main","iconColorValue":"#153F2D","openInNewTab":true,"className":"is-style-logos-only"} -->
            <ul
              class="wp-block-social-links has-icon-color is-style-logos-only"
            >
              <!-- wp:social-link {"url":"#","service":"x"} /-->

              <!-- wp:social-link {"url":"#","service":"instagram"} /-->

              <!-- wp:social-link {"url":"#","service":"telegram"} /-->
            </ul>
            <!-- /wp:social-links -->
          </div>
          <!-- /wp:group -->
        </div>
        <!-- /wp:group -->
      </div>
      <!-- /wp:group -->

      <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"70px","selfStretch":"fixed"}}} -->
      <div
        style="height: 0px; width: 0px"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"className":"is-style-default","layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
      <div id="contactForm" class="wp-block-group is-style-default">
        <!-- wp:paragraph {"textColor":"main","fontSize":"medium"} -->
        <p class="has-main-color has-text-color has-medium-font-size">
          Formulari de contacte
        </p>
        <!-- /wp:paragraph -->

        <!-- wp:paragraph {"textColor":"main"} -->
        <p class="has-main-color has-text-color">
          <strong
            >Consulta
            <a href="/recursos/#faqs">les preguntes més freqüents</a> i posa't
            en contacte amb la Coordinadora</strong
          >
        </p>
        <!-- /wp:paragraph -->

        <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"2rem","selfStretch":"fixed"}}} -->
        <div
          style="height: 0px; width: 0px"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->

        <!-- wp:group {"className":"is-style-default ce-landing-contact-form","layout":{"type":"default"}} -->
        <div class="wp-block-group is-style-default ce-landing-contact-form">
          <!-- wp:shortcode -->
          [remote_callback fn="wpct_ce_landing_contact_form" form_id="13"
          ajax=“true”]
          <!-- /wp:shortcode -->
        </div>
        <!-- /wp:group -->
      </div>
      <!-- /wp:group -->
    </div>
    <!-- /wp:group -->

    <!-- wp:spacer {"height":"7rem"} -->
    <div style="height: 7rem" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
  </div>
  <!-- /wp:group -->

  <!-- wp:group {"className":"is-style-show-mobile-tablet","layout":{"type":"default"}} -->
  <div class="wp-block-group is-style-show-mobile-tablet">
    <!-- wp:spacer {"height":"3rem"} -->
    <div style="height: 3rem" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:group {"className":"is-style-horizontal-padded","layout":{"type":"constrained"}} -->
    <div class="wp-block-group is-style-horizontal-padded">
      <!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"className":"is-style-default","layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
      <div class="wp-block-group is-style-default">
        <!-- wp:wpct-rcpt/field {"remoteField":"title"} -->
        <div class="wp-block-wpct-rcpt-field">
          <!-- wp:heading {"textColor":"main"} -->
          <h2 class="wp-block-heading has-main-color has-text-color">
            Contacta amb _title_
          </h2>
          <!-- /wp:heading -->
        </div>
        <!-- /wp:wpct-rcpt/field -->

        <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"2rem","selfStretch":"fixed"}}} -->
        <div
          style="height: 0px; width: 0px"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->

        <!-- wp:paragraph {"textColor":"main","fontSize":"medium"} -->
        <p class="has-main-color has-text-color has-medium-font-size">Adreça</p>
        <!-- /wp:paragraph -->

        <!-- wp:wpct-rcpt/field {"remoteField":"street,postal_code,city"} -->
        <div class="wp-block-wpct-rcpt-field">
          <!-- wp:paragraph {"placeholder":"Setup your remote field template","style":{"elements":{"link":{"color":{"text":"var:preset|color|main"}}}},"textColor":"main"} -->
          <p class="has-main-color has-text-color has-link-color">
            _street_, _postal_code_, _city_
          </p>
          <!-- /wp:paragraph -->
        </div>
        <!-- /wp:wpct-rcpt/field -->

        <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"2rem","selfStretch":"fixed"}}} -->
        <div
          style="height: 0px; width: 0px"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->

        <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
        <div class="wp-block-group">
          <!-- wp:separator {"style":{"layout":{"selfStretch":"fill","flexSize":null}},"backgroundColor":"main-light","className":"is-style-wide"} -->
          <hr
            class="wp-block-separator has-text-color has-main-light-color has-alpha-channel-opacity has-main-light-background-color has-background is-style-wide"
          />
          <!-- /wp:separator -->
        </div>
        <!-- /wp:group -->

        <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"2rem","selfStretch":"fixed"}}} -->
        <div
          style="height: 0px; width: 0px"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->

        <!-- wp:paragraph {"textColor":"main","fontSize":"medium"} -->
        <p class="has-main-color has-text-color has-medium-font-size">
          Butlletí
        </p>
        <!-- /wp:paragraph -->

        <!-- wp:wpct-rcpt/field {"remoteField":"title"} -->
        <div class="wp-block-wpct-rcpt-field">
          <!-- wp:paragraph {"placeholder":"Setup your remote field template","style":{"elements":{"link":{"color":{"text":"var:preset|color|main"}}}},"textColor":"main"} -->
          <p class="has-main-color has-text-color has-link-color">_title_</p>
          <!-- /wp:paragraph -->
        </div>
        <!-- /wp:wpct-rcpt/field -->

        <!-- wp:group {"className":"ce-form-newsletter","layout":{"type":"default"}} -->
        <div class="wp-block-group ce-form-newsletter">
          <!-- wp:shortcode -->
          [remote_callback fn="wpct_ce_landing_contact_form" form_id="12"]
          <!-- /wp:shortcode -->
        </div>
        <!-- /wp:group -->

        <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"1rem","selfStretch":"fixed"}}} -->
        <div
          style="height: 0px; width: 0px"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->

        <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
        <div class="wp-block-group">
          <!-- wp:separator {"style":{"layout":{"selfStretch":"fill","flexSize":null}},"backgroundColor":"main-light","className":"is-style-wide"} -->
          <hr
            class="wp-block-separator has-text-color has-main-light-color has-alpha-channel-opacity has-main-light-background-color has-background is-style-wide"
          />
          <!-- /wp:separator -->
        </div>
        <!-- /wp:group -->

        <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"2rem","selfStretch":"fixed"}}} -->
        <div
          style="height: 0px; width: 0px"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->

        <!-- wp:paragraph {"textColor":"main","fontSize":"medium"} -->
        <p class="has-main-color has-text-color has-medium-font-size">
          Contacte
        </p>
        <!-- /wp:paragraph -->

        <!-- wp:group {"className":"ce-landing-links","layout":{"type":"flex","orientation":"vertical"}} -->
        <div class="wp-block-group ce-landing-links">
          <!-- wp:wpct-rcpt/field {"remoteField":"external_website_link"} -->
          <div class="wp-block-wpct-rcpt-field">
            <!-- wp:paragraph {"placeholder":"Setup your remote field template","style":{"elements":{"link":{"color":{"text":"var:preset|color|main"}}}},"textColor":"main"} -->
            <p class="has-main-color has-text-color has-link-color">
              <a href="https://_external_website_link_"
                ><strong>_external_website_link_</strong></a
              >
            </p>
            <!-- /wp:paragraph -->
          </div>
          <!-- /wp:wpct-rcpt/field -->

          <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"1em","selfStretch":"fixed"}}} -->
          <div
            style="height: 0px; width: 0px"
            aria-hidden="true"
            class="wp-block-spacer"
          ></div>
          <!-- /wp:spacer -->

          <!-- wp:social-links {"iconColor":"main","iconColorValue":"#153F2D","className":"is-style-logos-only"} -->
          <ul class="wp-block-social-links has-icon-color is-style-logos-only">
            <!-- wp:social-link {"url":"#","service":"x"} /-->

            <!-- wp:social-link {"url":"#","service":"instagram"} /-->

            <!-- wp:social-link {"url":"#","service":"telegram"} /-->
          </ul>
          <!-- /wp:social-links -->
        </div>
        <!-- /wp:group -->

        <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"1rem","selfStretch":"fixed"}}} -->
        <div
          style="height: 0px; width: 0px"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->
      </div>
      <!-- /wp:group -->

      <!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"className":"is-style-default","layout":{"type":"default"}} -->
      <div id="contacte-mobil" class="wp-block-group is-style-default">
        <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
        <div class="wp-block-group">
          <!-- wp:separator {"style":{"layout":{"selfStretch":"fill","flexSize":null}}} -->
          <hr class="wp-block-separator has-alpha-channel-opacity" />
          <!-- /wp:separator -->
        </div>
        <!-- /wp:group -->

        <!-- wp:spacer {"height":"2rem","width":"0px"} -->
        <div
          style="height: 2rem; width: 0px"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->

        <!-- wp:paragraph {"textColor":"main","fontSize":"medium"} -->
        <p class="has-main-color has-text-color has-medium-font-size">
          Formulari de contacte
        </p>
        <!-- /wp:paragraph -->

        <!-- wp:paragraph {"textColor":"main"} -->
        <p class="has-main-color has-text-color">
          Consulta <a href="/recursos/#faqs">les preguntes més freqüents</a> i
          posa’t en contacte amb la Comunitat Energètica
        </p>
        <!-- /wp:paragraph -->

        <!-- wp:spacer {"height":"1rem","width":"0px"} -->
        <div
          style="height: 1rem; width: 0px"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->

        <!-- wp:group {"className":"ce-landing-contact-form","layout":{"type":"default"}} -->
        <div class="wp-block-group ce-landing-contact-form">
          <!-- wp:shortcode -->
          [remote_callback fn="wpct_ce_landing_contact_form" form_id="13"]
          <!-- /wp:shortcode -->
        </div>
        <!-- /wp:group -->
      </div>
      <!-- /wp:group -->
    </div>
    <!-- /wp:group -->

    <!-- wp:spacer {"height":"4rem"} -->
    <div style="height: 4rem" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
  </div>
  <!-- /wp:group -->
</section>
<!-- /wp:group -->

<!-- wp:shortcode -->
[remote_callback fn="wpct_ce_landing_visibility_script"]
<!-- /wp:shortcode -->

<!-- wp:shortcode -->
[remote_callback fn="wpct_ce_landing_social_script"]
<!-- /wp:shortcode -->

<!-- wp:template-part {"slug":"footer","theme":"wp-coop-ce-theme-v-2","tagName":"footer","area":"footer"} /-->
