<!-- wp:template-part {"slug":"header","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"section","className":"is-style-no-padding alignwide","layout":{"type":"constrained"}} -->
<section class="wp-block-group is-style-no-padding alignwide">
    <!-- wp:group {"className":"is-style-show-desktop","layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"stretch"}} -->
    <div class="wp-block-group is-style-show-desktop">
        <!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"35%"}},"className":"is-style-no-padding","layout":{"type":"default"}} -->
        <div class="wp-block-group is-style-no-padding">
            <!-- wp:shortcode -->
            [remote_field field="primary_image_file"]
<div class="wp-block-cover is-light" style="min-height:100%%">
    <span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim"></span>
    <img class="wp-block-cover__image-background wp-image-2543" alt="" src="%s" data-object-fit="cover" />
</div>
            [/remote_field]
            <!-- /wp:shortcode -->
        </div>
        <!-- /wp:group -->

        <!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"65%"}},"className":"is-style-horizontal-padded","layout":{"type":"default"}} -->
        <div class="wp-block-group is-style-horizontal-padded">
            <!-- wp:spacer {"height":"4rem"} -->
            <div style="height:4rem" aria-hidden="true" class="wp-block-spacer"></div>
            <!-- /wp:spacer -->

            <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
            <div class="wp-block-group">
                <!-- wp:shortcode -->
                [remote_callback fn="wpct_ce_landing_badges"]
                <!-- /wp:shortcode -->

                <!-- wp:paragraph {"className":"ce-landing-breadcrumb"} -->
                <p class="ce-landing-breadcrumb"><a onclick="history.back()">Tornar al mapa</a></p>
                <!-- /wp:paragraph  -->
            </div>
            <!-- /wp:group -->

            <!-- wp:shortcode -->
            [remote_field field="title"]<h2 class="wp-block-heading ce-landing-title">%s</h2>[/remote_field]
            <!-- /wp:shortcode -->

            <!-- wp:shortcode -->
            [remote_field field="short_description"]<p>%s</p>[/remote_field]
            <!-- /wp:shortcode -->

            <!-- wp:spacer {"height":"1rem"} -->
            <div style="height:1rem" aria-hidden="true" class="wp-block-spacer"></div>
            <!-- /wp:spacer -->

            <!-- wp:shortcode -->
            [remote_callback fn="wpct_ce_landing_services"]
            <!-- /wp:shortcode -->

            <!-- wp:spacer {"height":"5rem"} -->
            <div style="height:5rem" aria-hidden="true" class="wp-block-spacer"></div>
            <!-- /wp:spacer -->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"className":"is-style-show-mobile-tablet","layout":{"type":"constrained"}} -->
    <div class="wp-block-group is-style-show-mobile-tablet">
        <!-- wp:group {"className":"is-style-horizontal-padded"} -->
        <div class="wp-block-group is-style-horizontal-padded">
            <!-- wp:spacer {"height":"2rem"} -->
            <div style="height:2rem" aria-hidden="true" class="wp-block-spacer"></div>
            <!-- /wp:spacer -->

            <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"right"}} -->
            <div class="wp-block-group">
                <!-- wp:paragraph {"className":"ce-landing-breadcrumb"} -->
                <p class="ce-landing-breadcrumb"><a onclick="history.back()">Tornar al mapa</a></p>
                <!-- /wp:paragraph  -->
            </div>
            <!-- /wp:group -->

            <!-- wp:shortcode -->
            [remote_field field="title"]<h2 class="wp-block-heading ce-landing-title">%s</h2>[/remote_field]
            <!-- /wp:shortcode -->

            <!-- wp:shortcode -->
            [remote_callback fn="wpct_ce_landing_badges"]
            <!-- /wp:shortcode -->

            <!-- wp:spacer {"height":"1rem"} -->
            <div style="height:1rem" aria-hidden="true" class="wp-block-spacer"></div>
            <!-- /wp:spacer -->

            <!-- wp:shortcode -->
            [remote_field field="short_description"]<p>%s</p>[/remote_field]
            <!-- /wp:shortcode -->

            <!-- wp:spacer {"height":"1rem"} -->
            <div style="height:1rem" aria-hidden="true" class="wp-block-spacer"></div>
            <!-- /wp:spacer -->

            <!-- wp:shortcode -->
            [remote_callback fn="wpct_ce_landing_services"]
            <!-- /wp:shortcode -->

            <!-- wp:spacer {"height":"2rem"} -->
            <div style="height:2rem" aria-hidden="true" class="wp-block-spacer"></div>
            <!-- /wp:spacer -->
        </div>
        <!-- /wp:group -->

        <!-- wp:group {"className":"is-style-no-padding"} -->
        <div class="wp-block-group is-style-no-padding">
            <!-- wp:shortcode -->
            [remote_field field="primary_image_file"]
<div class="wp-block-cover is-light" style="min-height:350px">
    <span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim"></span>
    <img class="wp-block-cover__image-background wp-image-2543" alt="" src="%s" data-object-fit="cover" />
</div>
            [/remote_field]
            <!-- /wp:shortcode -->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
</section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","align":"full","backgroundColor":"second-base-ultra-light","className":"ce-landing-signup-section is-style-no-padding","layout":{"type":"default"}} -->
<section class="wp-block-group alignfull ce-landing-signup-section is-style-no-padding has-second-base-ultra-light-background-color has-background">
    <!-- wp:group {"className":"is-style-show-desktop","layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"stretch"}} -->
    <div class="wp-block-group is-style-show-desktop">
        <!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"className":"is-style-horizontal-padded","layout":{"type":"default"}} -->
        <div class="wp-block-group is-style-horizontal-padded">
            <!-- wp:spacer {"height":"6rem"} -->
            <div style="height:6rem" aria-hidden="true" class="wp-block-spacer"></div>
            <!-- /wp:spacer -->

            <!-- wp:heading {"level":3} -->
            <h3 class="wp-block-heading">Qui som</h3>
            <!-- /wp:heading -->

            <!-- wp:shortcode -->
            [remote_field field="long_description"]<p>%s</p>[/remote_field]
            <!-- /wp:shortcode -->

            <!-- wp:spacer {"height":"7rem"} -->
            <div style="height:7rem" aria-hidden="true" class="wp-block-spacer"></div>
            <!-- /wp:spacer -->
        </div>
        <!-- /wp:group -->

        <!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"backgroundColor":"brand","className":"is-style-no-padding","layout":{"type":"flex","flexWrap":"nowrap"}} -->
        <div class="wp-block-group is-style-no-padding has-brand-background-color has-background">
            <!-- wp:group {"style":{"layout":{"selfStretch":"fill","flexSize":null}},"className":"is-style-horizontal-padded","layout":{"type":"constrained"}} -->
            <div class="wp-block-group is-style-horizontal-padded">
                <!-- wp:spacer {"height":"6rem"} -->
                <div style="height:6rem" aria-hidden="true" class="wp-block-spacer"></div>
                <!-- /wp:spacer -->

                <!-- wp:shortcode -->
                [remote_field field="number_of_members"]<p class="has-text-align-center has-base-color has-text-color has-medium-font-size"><strong style="font-weight: bold;">%s</strong> persones y entitats sòcies</p>
                <!-- /wp:shortcode -->

                <!-- wp:heading {"level":2,textAlign":"center","textColor":"base"} -->
                <h2 class="wp-block-heading has-text-align-center has-base-color has-text-color">Fes-te’n soci/a</h2>
                <!-- /wp:heading -->

                <!-- wp:paragraph {"align":"center","textColor":"base"} -->
                <p class="has-text-align-center has-base-color has-text-color">Sol·licita adherir-te com a soci/a i accedeix al serveis <br>de la comunitat energètica</p>
                <!-- /wp:paragraph -->
                
                <!-- wp:buttons {"className": "ce-landing-leads","layout":{"type":"flex","justifyContent":"center"}} -->
                <div class="wp-block-buttons ce-landing-leads">
                    <!-- wp:button {"fontSize":"small","className":"lead citizen"} -->
                    <div class="wp-block-button has-custom-font-size has-small-font-size lead citizen">
                        <a class="wp-block-button__link wp-element-button" target="_blank" href="#">Fer-me soci/a com a ciutadania</a>
                    </div>
                    <!-- /wp:button -->

                    <!-- wp:button {"fontSize":"small","className":"lead corp"} -->
                    <div class="wp-block-button has-custom-font-size has-small-font-size lead corp">
                        <a class="wp-block-button__link wp-element-button" target="_blank" href="#">Fer-me soci/a com a empresa</a>
                    </div>
                    <!-- /wp:button -->

                    <!-- wp:button {"fontSize":"small","className":"contact"} -->
                    <div class="wp-block-button has-custom-font-size has-small-font-size contact">
                        <a class="wp-block-button__link wp-element-button" href="#contacte">Posa-t’hi en contacte</a>
                    </div>
                    <!-- /wp:button -->
                </div>
                <!-- /wp:buttons -->

                <!-- wp:spacer {"height":"7rem"} -->
                <div style="height:7rem" aria-hidden="true" class="wp-block-spacer"></div>
                <!-- /wp:spacer -->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"className":"is-style-show-mobile-tablet","layout":{"type":"constrained"}} -->
    <div class="wp-block-group is-style-show-mobile-tablet">
        <!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"className":"is-style-horizontal-padded","layout":{"type":"default"}} -->
        <div class="wp-block-group is-style-horizontal-padded">
            <!-- wp:spacer {"height":"3rem"} -->
            <div style="height:3rem" aria-hidden="true" class="wp-block-spacer"></div>
            <!-- /wp:spacer -->

            <!-- wp:heading {"level":3} -->
            <h3 class="wp-block-heading">Qui som</h3>
            <!-- /wp:heading -->

            <!-- wp:shortcode -->
            [remote_field field="long_description"]<p>%s</p>[/remote_field]
            <!-- /wp:shortcode -->

            <!-- wp:spacer {"height":"4rem"} -->
            <div style="height:4rem" aria-hidden="true" class="wp-block-spacer"></div>
            <!-- /wp:spacer -->
        </div>
        <!-- /wp:group -->

        <!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"backgroundColor":"brand","className":"is-style-no-padding","layout":{"type":"flex","flexWrap":"nowrap"}} -->
        <div class="wp-block-group is-style-no-padding has-brand-background-color has-background">
            <!-- wp:group {"style":{"layout":{"selfStretch":"fill","flexSize":null}},"className":"is-style-horizontal-padded","layout":{"type":"constrained"}} -->
            <div class="wp-block-group is-style-horizontal-padded">
                <!-- wp:spacer {"height":"3rem"} -->
                <div style="height:3rem" aria-hidden="true" class="wp-block-spacer"></div>
                <!-- /wp:spacer -->

                <!-- wp:heading {"level":2,"textAlign":"center","textColor":"base"} -->
                <h2 class="wp-block-heading has-text-align-center has-base-color has-text-color">Fes-te’n soci/a</h2>
                <!-- /wp:heading -->

                <!-- wp:paragraph {"align":"center","textColor":"base"} -->
                <p class="has-text-align-center has-base-color has-text-color">Sol·licita adherir-te com a soci/a i accedeix al serveis <br>de la comunitat energètica</p>
                <!-- /wp:paragraph -->

                <!-- wp:buttons {"className": "ce-landing-leads","layout":{"type":"flex","justifyContent":"center"}} -->
                <div class="wp-block-buttons ce-landing-leads">
                    <!-- wp:button {"fontSize":"small","className":"lead citizen"} -->
                    <div class="wp-block-button has-custom-font-size has-small-font-size lead citizen">
                        <a class="wp-block-button__link wp-element-button" target="_blank" href="#">Fer-me soci/a com a ciutadania</a>
                    </div>
                    <!-- /wp:button -->

                    <!-- wp:button {"fontSize":"small","className":"lead corp"} -->
                    <div class="wp-block-button has-custom-font-size has-small-font-size lead corp">
                        <a class="wp-block-button__link wp-element-button" target="_blank" href="#">Fer-me soci/a com a empresa</a>
                    </div>
                    <!-- /wp:button -->

                    <!-- wp:button {"fontSize":"small","className":"contact"} -->
                    <div class="wp-block-button has-custom-font-size has-small-font-size contact">
                        <a class="wp-block-button__link wp-element-button" href="#contacte">Posa-t’hi en contacte</a>
                    </div>
                    <!-- /wp:button -->
                </div>
                <!-- /wp:buttons -->

                <!-- wp:spacer {"height":"4rem"} -->
                <div style="height:4rem" aria-hidden="true" class="wp-block-spacer"></div>
                <!-- /wp:spacer -->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
</section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","align":"full","backgroundColor":"main","className":"is-style-no-padding","layout":{"type":"default"}} -->
<section class="wp-block-group alignfull is-style-no-padding has-main-background-color has-background">
    <!-- wp:group {"className":"is-style-horizontal-padded","layout":{"type":"constrained"}} -->
    <div class="wp-block-group is-style-horizontal-padded">
        <!-- wp:spacer {"height":"6rem","className":"is-style-show-desktop"} -->
        <div style="height:6rem" aria-hidden="true" class="wp-block-spacer is-style-show-desktop"></div>
        <!-- /wp:spacer -->

        <!-- wp:spacer {"height":"3rem","className":"is-style-show-mobile-tablet"} -->
        <div style="height:3rem" aria-hidden="true" class="wp-block-spacer is-style-show-mobile-tablet"></div>
        <!-- /wp:spacer -->

        <!-- wp:image {"align":"center","id":3178,"sizeSlug":"full","linkDestination":"none"} -->
        <figure class="wp-block-image aligncenter size-full"><img src="/wp-content/uploads/2023/07/share-thumbnail.png" alt="" class="wp-image-3178" /></figure>
        <!-- /wp:image -->

        <!-- wp:spacer {"height":"2rem"} -->
        <div style="height:2rem" aria-hidden="true" class="wp-block-spacer"></div>
        <!-- /wp:spacer -->

        <!-- wp:heading {"textAlign":"center","textColor":"base"} -->
        <h2 class="wp-block-heading has-text-align-center has-base-color has-text-color">Ajuda a fer créixer la Comunitat Energètica</h2>
        <!-- /wp:heading -->

        <!-- wp:paragraph {"align":"center","textColor":"base","fontSize":"medium"} -->
        <p class="has-text-align-center has-base-color has-text-color has-medium-font-size">Comparteix entre els teus veïns i veïnes i ajuda a fer créixer la Comunitat Energètica. Fem possible la transició energètica!</p>
        <!-- /wp:paragraph -->

        <!-- wp:spacer {"height":"2rem"} -->
        <div style="height:2rem" aria-hidden="true" class="wp-block-spacer"></div>
        <!-- /wp:spacer -->

        <!-- wp:buttons {"className":"ce-landing-share-pannel","layout":{"type":"flex","justifyContent":"center"}} -->
        <div class="wp-block-buttons ce-landing-share-pannel">
            <!-- wp:button {"className":"ce-landing-share__link style-has-tooltip","fontSize":"small"} -->
            <div class="wp-block-button has-custom-font-size has-small-font-size ce-landing-share__link style-has-tooltip">
                <a class="wp-block-button__link wp-element-button" href="">Comparteix enllaç</a>
            </div>
            <!-- /wp:button -->

            <!-- wp:button {"fontSize":"small","className":"ce-landing-share__email"} -->
            <div class="wp-block-button has-custom-font-size has-small-font-size ce-landing-share__email">
              <a href="#" class="wp-block-button__link wp-element-button">Comparteix per correu</a>
            </div>
            <!-- /wp:button -->

            <!-- wp:button {"fontSize":"small","className":"ce-landing-share__telegram"} -->
            <div class="wp-block-button has-custom-font-size has-small-font-size ce-landing-share__telegram">
              <a target="_blank" href="#" class="wp-block-button__link wp-element-button">Comparteix per Telegram</a>
            </div>
            <!-- /wp:button -->

            <!-- wp:button {"fontSize":"small","className":"ce-landing-share__whatsapp"} -->
            <div class="wp-block-button has-custom-font-size has-small-font-size ce-landing-share__whatsapp">
              <a target="_blank" href="#" class="wp-block-button__link wp-element-button">Comparteix per Whatsapp</a>
            </div>
            <!-- /wp:button -->

            <!-- wp:button {"fontSize":"small","className":"ce-landing-share__twitter"} -->
            <div class="wp-block-button has-custom-font-size has-small-font-size ce-landing-share__twitter">
              <a target="_blank" href="#" class="wp-block-button__link wp-element-button">Comparteix per Twitter</a>
            </div>
            <!-- /wp:button -->

            <!-- wp:button {"fontSize":"small","className":"ce-landing-share__instagram"} -->
            <div class="wp-block-button has-custom-font-size has-small-font-size ce-landing-share__instagram">
              <a target="_blank" href="#" class="wp-block-button__link wp-element-button">Obrir Instagram</a>
            </div>
            <!-- /wp:button -->

            <!-- wp:button {"fontSize":"small","className":"ce-landing-share__mastodon"} -->
            <div class="wp-block-button has-custom-font-size has-small-font-size ce-landing-share__mastodon">
              <a target="_blank" href="#" class="wp-block-button__link wp-element-button">Comparteix per Mastodon</a>
            </div>
            <!-- /wp:button -->
        </div>
        <!-- /wp:buttons -->

        <!-- wp:spacer {"height":"7rem","className":"is-style-show-desktop"} -->
        <div style="height:7rem" aria-hidden="true" class="wp-block-spacer is-style-show-desktop"></div>
        <!-- /wp:spacer -->

        <!-- wp:spacer {"height":"4rem","className":"is-style-show-mobile-tablet"} -->
        <div style="height:4rem" aria-hidden="true" class="wp-block-spacer is-style-show-mobile-tablet"></div>
        <!-- /wp:spacer -->
    </div>
    <!-- /wp:group -->
</section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","align":"full","className":"is-style-no-padding ce-landing-become","layout":{"type":"default"}} -->
<section class="wp-block-group alignfull is-style-no-padding ce-landing-become">
    <!-- wp:group {"className":"is-style-show-desktop","layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"stretch"}} -->
    <div class="wp-block-group is-style-show-desktop">
        <!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"className":"is-style-no-padding","layout":{"type":"default"}} -->
        <div class="wp-block-group is-style-no-padding">
            <!-- wp:shortcode -->
            [remote_field field="secondary_image_file"]
<div class="wp-block-cover" style="min-height:100%%">
    <span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim"></span>
    <img class="wp-block-cover__image-background wp-image-3181" alt="" src="%s" data-object-fit="cover" />
</div>
            [/remote_field]
            <!-- /wp:shortcode -->
        </div>
        <!-- /wp:group -->

        <!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"className":"is-style-horizontal-padded","layout":{"type":"default"}} -->
        <div class="wp-block-group is-style-horizontal-padded">
            <!-- wp:spacer {"height":"6rem"} -->
            <div style="height:6rem" aria-hidden="true" class="wp-block-spacer"></div>
            <!-- /wp:spacer -->
  
            <!-- wp:group {"className": "why-become"} -->
            <div class="wp-block-group why-become-cooperator">
                <!-- wp:heading {"level":4} -->
                <h4 class="wp-block-heading">Perquè fer-se soci/a</h4>
                <!-- /wp:heading -->

                <!-- wp:shortcode -->
                [remote_field field="why_become_cooperator"]<p>%s</p>[/remote_field]
                <!-- /wp:shortcode -->
            </div>
            <!-- /wp:group -->

            <!-- wp:group {"className":"become-process"} -->
            <div class="wp-block-group become-process">
                <!-- wp:heading {"level":4} -->
                <h4 class="wp-block-heading">Procés d’alta</h4>
                <!-- /wp:heading -->

                <!-- wp:shortcode -->
                [remote_field field="become_cooperator_process"]<p>%s</p>[/remote_field]
                <!-- /wp:shortcode -->
            </div>
            <!-- /wp:group -->

            <!-- wp:spacer {"height":"1rem"} -->
            <div style="height:1rem" aria-hidden="true" class="wp-block-spacer"></div>
            <!-- /wp:spacer -->
  
            <!-- wp:buttons {"className":"contact"} -->
            <div class="wp-block-buttons contact">
                <!-- wp:button {"className":"is-style-rounded","fontSize":"small"} -->
                <div class="wp-block-button has-custom-font-size is-style-rounded has-small-font-size">
                    <a class="wp-block-button__link wp-element-button" href="#contacte">Posa-t’hi en contacte</a>
                </div>
                <!-- /wp:button -->
            </div>
            <!-- /wp:buttons -->
  
            <!-- wp:spacer {"height":"7rem"} -->
            <div style="height:7rem" aria-hidden="true" class="wp-block-spacer"></div>
            <!-- /wp:spacer -->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"className":"is-style-show-mobile-tablet","layout":{"type":"constrained"}} -->
    <div class="wp-block-group is-style-show-mobile-tablet">
        <!-- wp:group {"className":"is-style-no-padding","layout":{"type":"default"}} -->
        <div class="wp-block-group is-style-no-padding">
            <!-- wp:shortcode -->
            [remote_field field="secondary_image_file"]    
<div class="wp-block-cover" style="min-height:400px">
    <span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim"></span>
    <img class="wp-block-cover__image-background wp-image-3181" alt="" src="%s" data-object-fit="cover" />
</div>
            [/remote_field]
            <!-- /wp:shortcode -->
        </div>
        <!-- /wp:group -->

        <!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"className":"is-style-horizontal-padded","layout":{"type":"default"}} -->
        <div class="wp-block-group is-style-horizontal-padded">
            <!-- wp:spacer {"height":"3rem"} -->
            <div style="height:3rem" aria-hidden="true" class="wp-block-spacer"></div>
            <!-- /wp:spacer -->

            <!-- wp:heading {"level":4} -->
            <h4 class="wp-block-heading">Perquè fer-se soci/a</h4>
            <!-- /wp:heading -->

            <!-- wp:shortcode -->
            [remote_field field="why_become_cooperator"]<p>%s</p>[/remote_field]
            <!-- /wp:shortcode -->

            <!-- wp:heading {"level":4} -->
            <h4 class="wp-block-heading">Procés d’alta</h4>
            <!-- /wp:heading -->

            <!-- wp:shortcode -->
            [remote_field field="become_cooperator_process"]<p>%s</p>[/remote_field]
            <!-- /wp:shortcode -->

            <!-- wp:spacer {"height":"1rem"} -->
            <div style="height:1rem" aria-hidden="true" class="wp-block-spacer"></div>
            <!-- /wp:spacer -->

            <!-- wp:buttons -->
            <div class="wp-block-buttons">
                <!-- wp:button {"className":"is-style-rounded","fontSize":"small"} -->
                <div class="wp-block-button has-custom-font-size is-style-rounded has-small-font-size">
                    <a class="wp-block-button__link wp-element-button" href="#contacte">Posa-t’hi en contacte</a>
                </div>
                <!-- /wp:button -->
            </div>
            <!-- /wp:buttons -->

            <!-- wp:spacer {"height":"4rem"} -->
            <div style="height:4rem" aria-hidden="true" class="wp-block-spacer"></div>
            <!-- /wp:spacer -->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
</section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","align":"full","backgroundColor":"primary","className":"is-style-no-padding ce-landing-contact-section","layout":{"type":"default"}} -->
<section id="contacte" class="wp-block-group alignfull is-style-no-padding ce-landing-contact-section has-primary-background-color has-background">
    <!-- wp:group {"className":"is-style-show-desktop","layout":{"type":"default"}} -->
    <div class="wp-block-group is-style-show-desktop">
        <!-- wp:spacer {"height":"5rem"} -->
        <div style="height:5rem" aria-hidden="true" class="wp-block-spacer"></div>
        <!-- /wp:spacer -->

        <!-- wp:group {"className":"is-style-horizontal-padded","layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"top"}} -->
        <div class="wp-block-group is-style-horizontal-padded">
            <!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
            <div class="wp-block-group is-style-default">
                <!-- wp:heading {"textColor":"main"} -->
                <h2 class="wp-block-heading has-text-color has-main-color">Contacta-hi</h2>
                <!-- /wp:heading -->

                <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"3rem","selfStretch":"fixed"}}} -->
                <div style="height:0px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
                <!-- /wp:spacer -->

                <!-- wp:paragraph {"fontSize":"medium","textColor":"main"} -->
                <p class="has-medium-font-size has-text-color has-main-color">Adreça</p>
                <!-- /wp:paragraph -->

                <!-- wp:shortcode -->
                [remote_fields fields="street,postal_code,city"]<p class="has-text-color has-main-color">%s, %s, %s</p>[/remote_fields]
                <!-- /wp:shortcode -->

                <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"2rem","selfStretch":"fixed"}}} -->
                <div style="height:0px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
                <!-- /wp:spacer -->

                <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
                <div class="wp-block-group">
                    <!-- wp:separator {"style":{"layout":{"selfStretch":"fill","flexSize":null}},"backgroundColor":"main-light","className":"is-style-wide"} -->
                    <hr class="wp-block-separator has-text-color has-main-light-color has-alpha-channel-opacity has-main-light-background-color has-background is-style-wide" />
                    <!-- /wp:separator -->
                </div>
                <!-- /wp:group -->

                <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"2rem","selfStretch":"fixed"}}} -->
                <div style="height:0px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
                <!-- /wp:spacer -->

                <!-- wp:paragraph {"fontSize":"medium","textColor":"main"} -->
                <p class="has-medium-font-size has-text-color has-main-color">Butlletí</p>
                <!-- /wp:paragraph -->

                <!-- wp:shortcode -->
                [remote_field field="title"]<p class="has-text-color has-main-color">%s</p>[/remote_field]
                <!-- /wp:shortcode -->

                <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"2rem","selfStretch":"fixed"}}} -->
                <div style="height:0px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
                <!-- /wp:spacer -->

                <!-- wp:group {"className":"ce-form-newsletter","layout":{"type":"flex","flexWrap":"nowrap"}} -->
                <div class="wp-block-group ce-form-newsletter">
                    <!-- wp:shortcode -->
                    [remote_callback fn="wpct_ce_landing_contact_form" form_id="5"]
                    <!-- /wp:shortcode -->

                    <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"100%","selfStretch":"fixed"}}} -->
                    <div style="height:0px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
                    <!-- /wp:spacer -->
                </div>
                <!-- /wp:group -->

                <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"2rem","selfStretch":"fixed"}}} -->
                <div style="height:0px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
                <!-- /wp:spacer -->

                <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
                <div class="wp-block-group">
                    <!-- wp:separator {"style":{"layout":{"selfStretch":"fill","flexSize":null}},"backgroundColor":"main-light","className":"is-style-wide"} -->
                    <hr class="wp-block-separator has-text-color has-main-light-color has-alpha-channel-opacity has-main-light-background-color has-background is-style-wide" />
                    <!-- /wp:separator -->
                </div>
                <!-- /wp:group -->

                <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"2rem","selfStretch":"fixed"}}} -->
                <div style="height:0px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
                <!-- /wp:spacer -->

                <!-- wp:group {"className":"ce-landing-links"} -->
                <div class="wp-block-group">
                    <!-- wp:paragraph {"fontSize":"medium","textColor":"main"} -->
                    <p class="has-medium-font-size has-text-color has-main-color">Contacte</p>
                    <!-- /wp:paragraph -->

                    <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                    <div class="wp-block-group">
                        <!-- wp:shortcode -->
                        [remote_fields fields="external_website_link,external_website_link"]<p class="has-text-color has-main-color"><a target="_blank" href="https://%s"><strong>%s</strong></a></p>[/remote_fields]
                        <!-- /wp:shortcode -->

                        <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"1em","selfStretch":"fixed"}}} -->
                        <div style="height:0px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
                        <!-- /wp:spacer -->

                        <!-- wp:social-links {"iconColor":"main","iconColorValue":"#153F2D","className":"is-style-logos-only"} -->
                        <ul class="wp-block-social-links has-icon-color is-style-logos-only">
                            <!-- wp:social-link {"url":"#","service":"twitter"} /-->
                            <!-- wp:social-link {"url":"#","service":"instagram"} /-->
                            <!-- wp:social-link {"url":"#","service":"telegram"} /-->
                        </ul>
                        <!-- /wp:social-links -->
                    </div>
                    <!-- /wp:goup -->
                </div>
                <!-- /wp:group -->
            </div>
            <!-- /wp:group -->

            <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"70px","selfStretch":"fixed"}}} -->
            <div style="height:0px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
            <!-- /wp:spacer -->

            <!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
            <div id="contactForm" class="wp-block-group is-style-default">
                <!-- wp:paragraph {"fontSize":"medium","textColor":"main"} -->
                <p class="has-medium-font-size has-text-color has-main-color">Formulari de contacte</p>
                <!-- /wp:paragraph -->

                <!-- wp:paragraph {"textColor":"main"} -->
                <p class="has-text-color has-main-color">Consulta <a href="/recursos/#faqs">les preguntes més freqüents</a> i posa’t en contacte amb la Comunitat Energètica</p>
                <!-- /wp:paragraph -->

                <!-- wp:spacer {"height":"2rem","width":"0px"} -->
                <div style="height:2rem;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
                <!-- /wp:spacer -->

                <!-- wp:group {"className":"is-style-default ce-landing-contact-form","layout":{"type":"default"}} -->
                <div class="wp-block-group is-style-default ce-landing-contact-form">
                    <!-- wp:shortcode -->
                    [remote_callback fn="wpct_ce_landing_contact_form" form_id="6"]
                <!-- /wp:shortcode -->
                </div>
            <!-- /wp:group -->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:group -->

        <!-- wp:spacer {"height":"7rem"} -->
        <div style="height:7rem" aria-hidden="true" class="wp-block-spacer"></div>
        <!-- /wp:spacer -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"className":"is-style-show-mobile-tablet","layout":{"type":"default"}} -->
    <div class="wp-block-group is-style-show-mobile-tablet">
        <!-- wp:spacer {"height":"3rem"} -->
        <div style="height:3rem" aria-hidden="true" class="wp-block-spacer"></div>
        <!-- /wp:spacer -->

        <!-- wp:group {"className":"is-style-horizontal-padded","layout":{"type":"constrained"}} -->
        <div class="wp-block-group is-style-horizontal-padded">
            <!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"className":"is-style-default","layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
            <div class="wp-block-group is-style-default">
                <!-- wp:heading {"textColor":"main"} -->
                <h2 class="wp-block-heading has-text-color has-main-color">Contacta-hi</h2>
                <!-- /wp:heading -->

                <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"2rem","selfStretch":"fixed"}}} -->
                <div style="height:0px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
                <!-- /wp:spacer -->

                <!-- wp:paragraph {"fontSize":"medium","textColor":"main"} -->
                <p class="has-medium-font-size has-text-color has-main-color">Adreça</p>
                <!-- /wp:paragraph -->

                <!-- wp:shortcode -->
                [remote_fields fields="street,postal_code,city"]<p class="has-text-color has-main-color">%s, %s, %s</p>[/remote_fields]
                <!-- /wp:shortcode -->

                <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"2rem","selfStretch":"fixed"}}} -->
                <div style="height:0px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
                <!-- /wp:spacer -->

                <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
                <div class="wp-block-group">
                    <!-- wp:separator {"style":{"layout":{"selfStretch":"fill","flexSize":null}},"backgroundColor":"main-light","className":"is-style-wide"} -->
                    <hr class="wp-block-separator has-text-color has-main-light-color has-alpha-channel-opacity has-main-light-background-color has-background is-style-wide" />
                    <!-- /wp:separator -->
                </div>
                <!-- /wp:group -->

                <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"2rem","selfStretch":"fixed"}}} -->
                <div style="height:0px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
                <!-- /wp:spacer -->

                <!-- wp:paragraph {"fontSize":"medium","textColor":"main"} -->
                <p class="has-medium-font-size has-text-color has-main-color">Butlletí</p>
                <!-- /wp:paragraph -->

                <!-- wp:group {"className":"ce-form-newsletter","layout":{"type":"default"}} -->
                <div class="wp-block-group ce-form-newsletter">
                    <!-- wp:shortcode -->
                    [remote_callback fn="wpct_ce_landing_contact_form" form_id="5"]
                    <!-- /wp:shortcode -->
                </div>
                <!-- /wp:group -->

                <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"1rem","selfStretch":"fixed"}}} -->
                <div style="height:0px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
                <!-- /wp:spacer -->

                <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
                <div class="wp-block-group">
                    <!-- wp:separator {"style":{"layout":{"selfStretch":"fill","flexSize":null}},"backgroundColor":"main-light","className":"is-style-wide"} -->
                    <hr class="wp-block-separator has-text-color has-main-light-color has-alpha-channel-opacity has-main-light-background-color has-background is-style-wide" />
                    <!-- /wp:separator -->
                </div>
                <!-- /wp:group -->

                <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"2rem","selfStretch":"fixed"}}} -->
                <div style="height:0px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
                <!-- /wp:spacer -->

                <!-- wp:paragraph {"fontSize":"medium","textColor":"main"} -->
                <p class="has-medium-font-size has-text-color has-main-color">Contacte</p>
                <!-- /wp:paragraph -->

                <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                <div class="wp-block-group">
                    <!-- wp:shortcode -->
                    [remote_fields fields="external_website_link,external_website_link"]<p class="has-text-color has-main-color"><a target="_blank" href="https://%s"><strong>%s</strong></a></p>[/remote_fields]
                    <!-- /wp:shortcode -->

                    <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"1em","selfStretch":"fixed"}}} -->
                    <div style="height:0px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
                    <!-- /wp:spacer -->

                    <!-- wp:social-links {"iconColor":"main","iconColorValue":"#153F2D","className":"is-style-logos-only"} -->
                    <ul class="wp-block-social-links has-icon-color is-style-logos-only">
                      <!-- wp:social-link {"url":"#","service":"twitter"} /-->
                      <!-- wp:social-link {"url":"#","service":"instagram"} /-->
                      <!-- wp:social-link {"url":"#","service":"telegram"} /-->
                    </ul>
                    <!-- /wp:social-links -->
                </div>
                <!-- /wp:group -->

                <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"1rem","selfStretch":"fixed"}}} -->
                <div style="height:0px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
                <!-- /wp:spacer -->
            </div>
            <!-- /wp:group -->

            <!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"className":"is-style-default","layout":{"type":"default"}} -->
            <div id="contactForm" class="wp-block-group is-style-default">
                <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
                <div class="wp-block-group">
                    <!-- wp:separator {"style":{"layout":{"selfStretch":"fill","flexSize":null}}} -->
                    <hr class="wp-block-separator has-alpha-channel-opacity" />
                    <!-- /wp:separator -->
                </div>
                <!-- /wp:group -->

                <!-- wp:spacer {"height":"2rem","width":"0px"} -->
                <div style="height:2rem;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
                <!-- /wp:spacer -->

                <!-- wp:paragraph {"fontSize":"medium","textColor":"main"} -->
                <p class="has-medium-font-size has-text-color has-main-color">Formulari de contacte</p>
                <!-- /wp:paragraph -->

                <!-- wp:paragraph {"textColor":"main"} -->
                <p class="has-text-color has-main-color">Consulta <a href="/recursos/#faqs">les preguntes més freqüents</a> i posa’t en contacte amb la Comunitat Energètica</p>
                <!-- /wp:paragraph -->

                <!-- wp:spacer {"height":"1rem","width":"0px"} -->
                <div style="height:1rem;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
                <!-- /wp:spacer -->

                <!-- wp:group {"className":"ce-landing-contact-form","layout":{"type":"default"}} -->
                <div class="wp-block-group ce-landing-contact-form">
                    <!-- wp:shortcode -->
                    [remote_callback fn="wpct_ce_landing_contact_form" form_id="6"]
                    <!-- /wp:shortcode -->
                </div>
                <!-- /wp:group -->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:group -->

        <!-- wp:spacer {"height":"4rem"} -->
        <div style="height:4rem" aria-hidden="true" class="wp-block-spacer"></div>
        <!-- /wp:spacer -->
    </div>
    <!-- /wp:group -->
</section>
<!-- /wp:group -->

<!-- wp:shortcode -->
[remote_callback fn="wpct_ce_landing_visibility_script"]
<!-- /wp:shortcode -->

<!-- wp:shortcode -->
[remote_callback fn="wpct_ce_landing_leads_script"]
<!-- /wp:shortcode -->

<!-- wp:shortcode -->
[remote_callback fn="wpct_ce_landing_social_script"]
<!-- /wp:shortcode -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer"} /-->
