<!-- wp:template-part {"slug":"header","theme":"wp-coop-ce-theme-v-2","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"section","className":"is-style-no-padding alignfull","layout":{"type":"default"}} -->
<section class="wp-block-group is-style-no-padding alignfull">
  <!-- wp:group {"className":"is-style-show-desktop","layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"stretch"}} -->
  <div class="wp-block-group is-style-show-desktop">
    <!-- wp:group {"className":"is-style-no-padding","style":{"layout":{"selfStretch":"fixed","flexSize":"35%"}},"layout":{"type":"default"}} -->
    <div class="wp-block-group is-style-no-padding">
      <!-- wp:wpct-rcpt/field {"remoteField":"primary_image_file"} -->
      <div class="wp-block-wpct-rcpt-field">
        <!-- wp:cover {"url":"_primary_image_file_","id":5684,"dimRatio":0,"minHeight":100,"minHeightUnit":"%","layout":{"type":"constrained"}} -->
        <div class="wp-block-cover" style="min-height: 100%">
          <img
            class="wp-block-cover__image-background wp-image-5684"
            alt=""
            src="_primary_image_file_"
            data-object-fit="cover"
          /><span
            aria-hidden="true"
            class="wp-block-cover__background has-background-dim-0 has-background-dim"
          ></span>
          <div class="wp-block-cover__inner-container">
            <!-- wp:shortcode -->
            [remote_callback fn="wpct_ce_landing_primary_image"]
            <!-- /wp:shortcode -->

            <!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"large"} -->
            <p class="has-text-align-center has-large-font-size"></p>
            <!-- /wp:paragraph -->
          </div>
        </div>
        <!-- /wp:cover -->
      </div>
      <!-- /wp:wpct-rcpt/field -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"className":"is-style-horizontal-padded","style":{"layout":{"selfStretch":"fixed","flexSize":"65%"}},"layout":{"type":"default"}} -->
    <div class="wp-block-group is-style-horizontal-padded">
      <!-- wp:spacer {"height":"4rem"} -->
      <div
        style="height: 4rem"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
      <div class="wp-block-group">
        <!-- wp:shortcode -->
        [remote_callback fn="wpct_ce_landing_badges"]
        <!-- /wp:shortcode -->

        <!-- wp:paragraph {"className":"ce-landing-breadcrumb"} -->
        <p class="ce-landing-breadcrumb">
          <a onclick="history.back()">Tornar al mapa</a>
        </p>
        <!-- /wp:paragraph -->
      </div>
      <!-- /wp:group -->

      <!-- wp:wpct-rcpt/field {"remoteField":"title"} -->
      <div class="wp-block-wpct-rcpt-field">
        <!-- wp:heading {"className":"ce-landing-title"} -->
        <h2 class="wp-block-heading ce-landing-title">_title_</h2>
        <!-- /wp:heading -->
      </div>
      <!-- /wp:wpct-rcpt/field -->

      <!-- wp:spacer {"height":"1rem"} -->
      <div
        style="height: 1rem"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:wpct-rcpt/field {"remoteField":"external_website_link"} -->
      <div class="wp-block-wpct-rcpt-field">
        <!-- wp:paragraph {"className":"ce-landing-external-website","fontSize":"small"} -->
        <p class="ce-landing-external-website has-small-font-size">
          <a
            href="https://_external_website_link_"
            target="_blank"
            rel="noreferrer noopener"
            >_external_website_link_</a
          >
        </p>
        <!-- /wp:paragraph -->
      </div>
      <!-- /wp:wpct-rcpt/field -->

      <!-- wp:wpct-rcpt/field {"remoteField":"short_description"} -->
      <div class="wp-block-wpct-rcpt-field">
        <!-- wp:paragraph {"placeholder":"Setup your remote field template"} -->
        <p>_short_description_</p>
        <!-- /wp:paragraph -->
      </div>
      <!-- /wp:wpct-rcpt/field -->

      <!-- wp:spacer {"height":"1rem"} -->
      <div
        style="height: 1rem"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:shortcode -->
      [remote_callback fn="wpct_ce_landing_services"]
      <!-- /wp:shortcode -->

      <!-- wp:spacer {"height":"5rem"} -->
      <div
        style="height: 5rem"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->

  <!-- wp:group {"className":"is-style-show-mobile-tablet","layout":{"type":"constrained"}} -->
  <div class="wp-block-group is-style-show-mobile-tablet">
    <!-- wp:group {"className":"is-style-horizontal-padded"} -->
    <div class="wp-block-group is-style-horizontal-padded">
      <!-- wp:spacer {"height":"2rem"} -->
      <div
        style="height: 2rem"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"right"}} -->
      <div class="wp-block-group">
        <!-- wp:paragraph {"className":"ce-landing-breadcrumb"} -->
        <p class="ce-landing-breadcrumb">
          <a onclick="history.back()">Tornar al mapa</a>
        </p>
        <!-- /wp:paragraph -->
      </div>
      <!-- /wp:group -->

      <!-- wp:wpct-rcpt/field {"remoteField":"title"} -->
      <div class="wp-block-wpct-rcpt-field">
        <!-- wp:heading {"className":"ce-landing-title"} -->
        <h2 class="wp-block-heading ce-landing-title">_title_</h2>
        <!-- /wp:heading -->
      </div>
      <!-- /wp:wpct-rcpt/field -->

      <!-- wp:shortcode -->
      [remote_callback fn="wpct_ce_landing_badges"]
      <!-- /wp:shortcode -->

      <!-- wp:spacer {"height":"1rem"} -->
      <div
        style="height: 1rem"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:wpct-rcpt/field {"remoteField":"external_website_link"} -->
      <div class="wp-block-wpct-rcpt-field">
        <!-- wp:paragraph {"className":"ce-landing-external-website","fontSize":"small"} -->
        <p class="ce-landing-external-website has-small-font-size">
          <a
            href="https://_external_website_link_"
            target="_blank"
            rel="noreferrer noopener"
            >_external_website_link_</a
          >
        </p>
        <!-- /wp:paragraph -->
      </div>
      <!-- /wp:wpct-rcpt/field -->

      <!-- wp:spacer {"height":"1rem"} -->
      <div
        style="height: 1rem"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:wpct-rcpt/field {"remoteField":"short_description"} -->
      <div class="wp-block-wpct-rcpt-field">
        <!-- wp:paragraph {"placeholder":"Setup your remote field template"} -->
        <p>_short_description_</p>
        <!-- /wp:paragraph -->
      </div>
      <!-- /wp:wpct-rcpt/field -->

      <!-- wp:spacer {"height":"1rem"} -->
      <div
        style="height: 1rem"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:shortcode -->
      [remote_callback fn="wpct_ce_landing_services"]
      <!-- /wp:shortcode -->

      <!-- wp:spacer {"height":"2rem"} -->
      <div
        style="height: 2rem"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"className":"is-style-no-padding"} -->
    <div class="wp-block-group is-style-no-padding">
      <!-- wp:wpct-rcpt/field {"remoteField":"primary_image_file"} -->
      <div class="wp-block-wpct-rcpt-field">
        <!-- wp:cover {"url":"_primary_image_file_","id":5684,"dimRatio":0,"minHeight":300,"minHeightUnit":"px","layout":{"type":"constrained"}} -->
        <div class="wp-block-cover" style="min-height: 300px">
          <span
            aria-hidden="true"
            class="wp-block-cover__background has-background-dim-0 has-background-dim"
          ></span>
          <!-- wp:shortcode -->
          [remote_callback fn="wpct_ce_landing_primary_image"]
          <!-- /wp:shortcode -->
          <div class="wp-block-cover__inner-container">
            <!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"large"} -->
            <p class="has-text-align-center has-large-font-size"></p>
            <!-- /wp:paragraph -->
          </div>
        </div>
        <!-- /wp:cover -->
      </div>
      <!-- /wp:wpct-rcpt/field -->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->
</section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","align":"full","className":"ce-landing-signup-section is-style-no-padding","backgroundColor":"second-base-ultra-light","layout":{"type":"default"}} -->
<section
  class="wp-block-group alignfull ce-landing-signup-section is-style-no-padding has-second-base-ultra-light-background-color has-background"
>
  <!-- wp:group {"className":"is-style-show-desktop","layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"stretch"}} -->
  <div class="wp-block-group is-style-show-desktop">
    <!-- wp:group {"className":"is-style-horizontal-padded","style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"layout":{"type":"default"}} -->
    <div class="wp-block-group is-style-horizontal-padded">
      <!-- wp:spacer {"height":"6rem"} -->
      <div
        style="height: 6rem"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:heading {"level":3} -->
      <h3 class="wp-block-heading">Qui som</h3>
      <!-- /wp:heading -->

      <!-- wp:wpct-rcpt/field {"remoteField":"long_description"} -->
      <div class="wp-block-wpct-rcpt-field">
        <!-- wp:paragraph {"placeholder":"Setup your remote field template"} -->
        <p>_long_description_</p>
        <!-- /wp:paragraph -->
      </div>
      <!-- /wp:wpct-rcpt/field -->

      <!-- wp:spacer {"height":"7rem"} -->
      <div
        style="height: 7rem"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"className":"is-style-no-padding","style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"backgroundColor":"brand","layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div
      class="wp-block-group is-style-no-padding has-brand-background-color has-background"
    >
      <!-- wp:group {"className":"is-style-horizontal-padded","style":{"layout":{"selfStretch":"fill","flexSize":null}},"layout":{"type":"constrained"}} -->
      <div class="wp-block-group is-style-horizontal-padded">
        <!-- wp:spacer {"height":"6rem"} -->
        <div
          style="height: 6rem"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->

        <!-- wp:wpct-rcpt/field {"remoteField":"number_of_members"} -->
        <div class="wp-block-wpct-rcpt-field">
          <!-- wp:paragraph {"align":"center","placeholder":"Setup your remote field template","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base","fontSize":"medium"} -->
          <p
            class="has-text-align-center has-base-color has-text-color has-link-color has-medium-font-size"
          >
            <strong>_number_of_members_</strong> persones i entitats sòcies
          </p>
          <!-- /wp:paragraph -->
        </div>
        <!-- /wp:wpct-rcpt/field -->

        <!-- wp:heading {"className":"has-text-align-center has-base-color has-text-color"} -->
        <h2
          class="wp-block-heading has-text-align-center has-base-color has-text-color"
        >
          Fes-te’n soci/a
        </h2>
        <!-- /wp:heading -->

        <!-- wp:paragraph {"align":"center","textColor":"base"} -->
        <p class="has-text-align-center has-base-color has-text-color">
          Sol·licita adherir-te com a soci/a i accedeix al serveis <br />de la
          comunitat energètica
        </p>
        <!-- /wp:paragraph -->

        <!-- wp:shortcode -->
        [remote_callback fn="wpct_ce_landing_leads_script"]
        <!-- /wp:shortcode -->

        <!-- wp:spacer {"height":"7rem"} -->
        <div
          style="height: 7rem"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->
      </div>
      <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->

  <!-- wp:group {"className":"is-style-show-mobile-tablet","layout":{"type":"constrained"}} -->
  <div class="wp-block-group is-style-show-mobile-tablet">
    <!-- wp:group {"className":"is-style-horizontal-padded","style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"layout":{"type":"default"}} -->
    <div class="wp-block-group is-style-horizontal-padded">
      <!-- wp:spacer {"height":"3rem"} -->
      <div
        style="height: 3rem"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:heading {"level":3} -->
      <h3 class="wp-block-heading">Qui som</h3>
      <!-- /wp:heading -->

      <!-- wp:wpct-rcpt/field {"remoteField":"long_description"} -->
      <div class="wp-block-wpct-rcpt-field">
        <!-- wp:paragraph {"placeholder":"Setup your remote field template"} -->
        <p>_long_description_</p>
        <!-- /wp:paragraph -->
      </div>
      <!-- /wp:wpct-rcpt/field -->

      <!-- wp:spacer {"height":"4rem"} -->
      <div
        style="height: 4rem"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"className":"is-style-no-padding","style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"backgroundColor":"brand","layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div
      class="wp-block-group is-style-no-padding has-brand-background-color has-background"
    >
      <!-- wp:group {"className":"is-style-horizontal-padded","style":{"layout":{"selfStretch":"fill","flexSize":null}},"layout":{"type":"constrained"}} -->
      <div class="wp-block-group is-style-horizontal-padded">
        <!-- wp:spacer {"height":"3rem"} -->
        <div
          style="height: 3rem"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->

        <!-- wp:wpct-rcpt/field {"remoteField":"number_of_members"} -->
        <div class="wp-block-wpct-rcpt-field">
          <!-- wp:paragraph {"align":"center","placeholder":"Setup your remote field template","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base","fontSize":"medium"} -->
          <p
            class="has-text-align-center has-base-color has-text-color has-link-color has-medium-font-size"
          >
            <strong>_number_of_members_</strong> persones y entitas sòcies
          </p>
          <!-- /wp:paragraph -->
        </div>
        <!-- /wp:wpct-rcpt/field -->

        <!-- wp:heading {"textAlign":"center","textColor":"base"} -->
        <h2
          class="wp-block-heading has-text-align-center has-base-color has-text-color"
        >
          Fes-te’n soci/a
        </h2>
        <!-- /wp:heading -->

        <!-- wp:paragraph {"align":"center","textColor":"base"} -->
        <p class="has-text-align-center has-base-color has-text-color">
          Sol·licita adherir-te com a soci/a i accedeix al serveis <br />de la
          comunitat energètica
        </p>
        <!-- /wp:paragraph -->

        <!-- wp:shortcode -->
        [remote_callback fn="wpct_ce_landing_leads_script"]
        <!-- /wp:shortcode -->

        <!-- wp:spacer {"height":"4rem"} -->
        <div
          style="height: 4rem"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->
      </div>
      <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->
</section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","align":"full","className":"is-style-no-padding","backgroundColor":"main","layout":{"type":"default"}} -->
<section
  class="wp-block-group alignfull is-style-no-padding has-main-background-color has-background"
>
  <!-- wp:group {"className":"is-style-horizontal-padded","layout":{"type":"constrained"}} -->
  <div class="wp-block-group is-style-horizontal-padded">
    <!-- wp:spacer {"height":"6rem","className":"is-style-show-desktop"} -->
    <div
      style="height: 6rem"
      aria-hidden="true"
      class="wp-block-spacer is-style-show-desktop"
    ></div>
    <!-- /wp:spacer -->

    <!-- wp:spacer {"height":"3rem","className":"is-style-show-mobile-tablet"} -->
    <div
      style="height: 3rem"
      aria-hidden="true"
      class="wp-block-spacer is-style-show-mobile-tablet"
    ></div>
    <!-- /wp:spacer -->

    <!-- wp:image {"id":3178,"sizeSlug":"full","linkDestination":"none","align":"center"} -->
    <figure class="wp-block-image aligncenter size-full">
      <img
        src="/wp-content/uploads/2023/07/share-thumbnail.png"
        alt=""
        class="wp-image-3178"
      />
    </figure>
    <!-- /wp:image -->

    <!-- wp:spacer {"height":"2rem"} -->
    <div style="height: 2rem" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:heading {"textAlign":"center","textColor":"base"} -->
    <h2
      class="wp-block-heading has-text-align-center has-base-color has-text-color"
    >
      Ajuda a fer créixer la Comunitat Energètica
    </h2>
    <!-- /wp:heading -->

    <!-- wp:paragraph {"align":"center","textColor":"base","fontSize":"medium"} -->
    <p
      class="has-text-align-center has-base-color has-text-color has-medium-font-size"
    >
      Comparteix entre els teus veïns i veïnes i ajuda a fer créixer la
      Comunitat Energètica. Fem possible la transició energètica!
    </p>
    <!-- /wp:paragraph -->

    <!-- wp:spacer {"height":"2rem"} -->
    <div style="height: 2rem" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:buttons {"className":"ce-landing-share-pannel","layout":{"type":"flex","justifyContent":"center"}} -->
    <div class="wp-block-buttons ce-landing-share-pannel">
      <!-- wp:button {"className":"ce-landing-share__link style-has-tooltip","fontSize":"small"} -->
      <div class="wp-block-button ce-landing-share__link style-has-tooltip">
        <a
          class="wp-block-button__link has-small-font-size has-custom-font-size wp-element-button"
          href=""
          >Comparteix enllaç</a
        >
      </div>
      <!-- /wp:button -->

      <!-- wp:button {"className":"ce-landing-share__email","fontSize":"small"} -->
      <div class="wp-block-button ce-landing-share__email">
        <a
          class="wp-block-button__link has-small-font-size has-custom-font-size wp-element-button"
          href="#"
          >Comparteix per correu</a
        >
      </div>
      <!-- /wp:button -->

      <!-- wp:button {"className":"ce-landing-share__telegram","fontSize":"small"} -->
      <div class="wp-block-button ce-landing-share__telegram">
        <a
          class="wp-block-button__link has-small-font-size has-custom-font-size wp-element-button"
          href="#"
          target="_blank"
          rel="noopener"
          >Comparteix per Telegram</a
        >
      </div>
      <!-- /wp:button -->

      <!-- wp:button {"className":"ce-landing-share__whatsapp","fontSize":"small"} -->
      <div class="wp-block-button ce-landing-share__whatsapp">
        <a
          class="wp-block-button__link has-small-font-size has-custom-font-size wp-element-button"
          href="#"
          target="_blank"
          rel="noopener"
          >Comparteix per Whatsapp</a
        >
      </div>
      <!-- /wp:button -->

      <!-- wp:button {"className":"ce-landing-share__twitter","fontSize":"small"} -->
      <div class="wp-block-button ce-landing-share__twitter">
        <a
          class="wp-block-button__link has-small-font-size has-custom-font-size wp-element-button"
          href="#"
          target="_blank"
          rel="noopener"
          >Comparteix per Twitter</a
        >
      </div>
      <!-- /wp:button -->

      <!-- wp:button {"className":"ce-landing-share__instagram","fontSize":"small"} -->
      <div class="wp-block-button ce-landing-share__instagram">
        <a
          class="wp-block-button__link has-small-font-size has-custom-font-size wp-element-button"
          href="#"
          target="_blank"
          rel="noopener"
          >Obrir Instagram</a
        >
      </div>
      <!-- /wp:button -->

      <!-- wp:button {"className":"ce-landing-share__mastodon","fontSize":"small"} -->
      <div class="wp-block-button ce-landing-share__mastodon">
        <a
          class="wp-block-button__link has-small-font-size has-custom-font-size wp-element-button"
          href="#"
          target="_blank"
          rel="noopener"
          >Comparteix per Mastodon</a
        >
      </div>
      <!-- /wp:button -->
    </div>
    <!-- /wp:buttons -->

    <!-- wp:spacer {"height":"7rem","className":"is-style-show-desktop"} -->
    <div
      style="height: 7rem"
      aria-hidden="true"
      class="wp-block-spacer is-style-show-desktop"
    ></div>
    <!-- /wp:spacer -->

    <!-- wp:spacer {"height":"4rem","className":"is-style-show-mobile-tablet"} -->
    <div
      style="height: 4rem"
      aria-hidden="true"
      class="wp-block-spacer is-style-show-mobile-tablet"
    ></div>
    <!-- /wp:spacer -->
  </div>
  <!-- /wp:group -->
</section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","align":"full","className":"is-style-no-padding ce-landing-become","layout":{"type":"default"}} -->
<section class="wp-block-group alignfull is-style-no-padding ce-landing-become">
  <!-- wp:group {"className":"is-style-show-desktop","layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"stretch"}} -->
  <div class="wp-block-group is-style-show-desktop">
    <!-- wp:group {"className":"is-style-no-padding","style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"layout":{"type":"default"}} -->
    <div class="wp-block-group is-style-no-padding">
      <!-- wp:wpct-rcpt/field {"remoteField":"secondary_image_file"} -->
      <div class="wp-block-wpct-rcpt-field">
        <!-- wp:cover {"url":"_secondary_image_file_","id":5684,"dimRatio":0,"minHeight":100,"minHeightUnit":"%","layout":{"type":"constrained"}} -->
        <div class="wp-block-cover" style="min-height: 100%">
          <img
            class="wp-block-cover__image-background wp-image-5684"
            alt=""
            src="_secondary_image_file_"
            data-object-fit="cover"
          /><span
            aria-hidden="true"
            class="wp-block-cover__background has-background-dim-0 has-background-dim"
          ></span>
          <div class="wp-block-cover__inner-container">
            <!-- wp:shortcode -->
            [remote_callback fn="wpct_ce_landing_secondary_image"]
            <!-- /wp:shortcode -->

            <!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"large"} -->
            <p class="has-text-align-center has-large-font-size"></p>
            <!-- /wp:paragraph -->
          </div>
        </div>
        <!-- /wp:cover -->
      </div>
      <!-- /wp:wpct-rcpt/field -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"className":"is-style-horizontal-padded","style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"layout":{"type":"default"}} -->
    <div class="wp-block-group is-style-horizontal-padded">
      <!-- wp:spacer {"height":"6rem"} -->
      <div
        style="height: 6rem"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:group {"className":"why-become-cooperator"} -->
      <div class="wp-block-group why-become-cooperator">
        <!-- wp:heading {"level":4} -->
        <h4 class="wp-block-heading">Perquè fer-se soci/a</h4>
        <!-- /wp:heading -->

        <!-- wp:wpct-rcpt/field {"remoteField":"why_become_cooperator"} -->
        <div class="wp-block-wpct-rcpt-field">
          <!-- wp:paragraph {"placeholder":"Setup your remote field template"} -->
          <p>_why_become_cooperator_</p>
          <!-- /wp:paragraph -->
        </div>
        <!-- /wp:wpct-rcpt/field -->
      </div>
      <!-- /wp:group -->

      <!-- wp:group {"className":"become-process"} -->
      <div class="wp-block-group become-process">
        <!-- wp:heading {"level":4} -->
        <h4 class="wp-block-heading">Procés d’alta</h4>
        <!-- /wp:heading -->

        <!-- wp:wpct-rcpt/field {"remoteField":"become_cooperator_process"} -->
        <div class="wp-block-wpct-rcpt-field">
          <!-- wp:paragraph {"placeholder":"Setup your remote field template"} -->
          <p>_become_cooperator_process_</p>
          <!-- /wp:paragraph -->
        </div>
        <!-- /wp:wpct-rcpt/field -->
      </div>
      <!-- /wp:group -->

      <!-- wp:spacer {"height":"1rem"} -->
      <div
        style="height: 1rem"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:buttons {"className":"contact"} -->
      <div class="wp-block-buttons contact">
        <!-- wp:button {"className":"is-style-rounded","fontSize":"small"} -->
        <div class="wp-block-button is-style-rounded">
          <a
            class="wp-block-button__link has-small-font-size has-custom-font-size wp-element-button"
            href="#contacte"
            >Posa-t’hi en contacte</a
          >
        </div>
        <!-- /wp:button -->
      </div>
      <!-- /wp:buttons -->

      <!-- wp:spacer {"height":"7rem"} -->
      <div
        style="height: 7rem"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->

  <!-- wp:group {"className":"is-style-show-mobile-tablet","layout":{"type":"constrained"}} -->
  <div class="wp-block-group is-style-show-mobile-tablet">
    <!-- wp:group {"className":"is-style-no-padding","layout":{"type":"default"}} -->
    <div class="wp-block-group is-style-no-padding">
      <!-- wp:wpct-rcpt/field {"remoteField":"secondary_image_file"} -->
      <div class="wp-block-wpct-rcpt-field">
        <!-- wp:cover {"url":"_secondary_image_file_","id":5684,"dimRatio":0,"minHeight":100,"minHeightUnit":"%","layout":{"type":"constrained"}} -->
        <div class="wp-block-cover" style="min-height: 100%">
          <span
            aria-hidden="true"
            class="wp-block-cover__background has-background-dim-0 has-background-dim"
          ></span>
          <!-- wp:shortcode -->
          [remote_callback fn="wpct_ce_landing_secondary_image"]
          <!-- /wp:shortcode -->
          <div class="wp-block-cover__inner-container">
            <!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"large"} -->
            <p class="has-text-align-center has-large-font-size"></p>
            <!-- /wp:paragraph -->
          </div>
        </div>
        <!-- /wp:cover -->
      </div>
      <!-- /wp:wpct-rcpt/field -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"className":"is-style-horizontal-padded","style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"layout":{"type":"default"}} -->
    <div class="wp-block-group is-style-horizontal-padded">
      <!-- wp:spacer {"height":"3rem"} -->
      <div
        style="height: 3rem"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:group {"className":"why-become-cooperator"} -->
      <div class="wp-block-group why-become-cooperator">
        <!-- wp:heading {"level":4} -->
        <h4 class="wp-block-heading">Perquè fer-se soci/a</h4>
        <!-- /wp:heading -->

        <!-- wp:wpct-rcpt/field {"remoteField":"why_become_cooperator"} -->
        <div class="wp-block-wpct-rcpt-field">
          <!-- wp:paragraph {"placeholder":"Setup your remote field template"} -->
          <p>_why_become_cooperator_</p>
          <!-- /wp:paragraph -->
        </div>
        <!-- /wp:wpct-rcpt/field -->
      </div>
      <!-- /wp:group -->

      <!-- wp:group {"className":"become-process"} -->
      <div class="wp-block-group become-process">
        <!-- wp:heading {"level":4} -->
        <h4 class="wp-block-heading">Procés d’alta</h4>
        <!-- /wp:heading -->

        <!-- wp:wpct-rcpt/field {"remoteField":"become_cooperator_process"} -->
        <div class="wp-block-wpct-rcpt-field">
          <!-- wp:paragraph {"placeholder":"Setup your remote field template"} -->
          <p>_become_cooperator_process_</p>
          <!-- /wp:paragraph -->
        </div>
        <!-- /wp:wpct-rcpt/field -->
      </div>
      <!-- /wp:group -->

      <!-- wp:spacer {"height":"1rem"} -->
      <div
        style="height: 1rem"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:buttons {"className":"contact"} -->
      <div class="wp-block-buttons contact">
        <!-- wp:button {"className":"is-style-rounded","fontSize":"small"} -->
        <div class="wp-block-button is-style-rounded">
          <a
            class="wp-block-button__link has-small-font-size has-custom-font-size wp-element-button"
            href="#contacte"
            >Posa-t’hi en contacte</a
          >
        </div>
        <!-- /wp:button -->
      </div>
      <!-- /wp:buttons -->

      <!-- wp:spacer {"height":"4rem"} -->
      <div
        style="height: 4rem"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->
</section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","align":"full","className":"is-style-no-padding ce-landing-contact-section","backgroundColor":"primary","layout":{"type":"default"}} -->
<section
  class="wp-block-group alignfull is-style-no-padding ce-landing-contact-section has-primary-background-color has-background"
  id="contacte"
>
  <!-- wp:group {"className":"is-style-show-desktop","layout":{"type":"default"}} -->
  <div class="wp-block-group is-style-show-desktop">
    <!-- wp:spacer {"height":"5rem"} -->
    <div style="height: 5rem" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:group {"className":"is-style-horizontal-padded","layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"top"}} -->
    <div class="wp-block-group is-style-horizontal-padded">
      <!-- wp:group {"className":"is-style-default","style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
      <div class="wp-block-group is-style-default">
        <!-- wp:heading {"textColor":"main"} -->
        <h2 class="wp-block-heading has-main-color has-text-color">
          Contacta-hi
        </h2>
        <!-- /wp:heading -->

        <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"3rem","selfStretch":"fixed"}}} -->
        <div
          style="height: 0px; width: 0px"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->

        <!-- wp:paragraph {"textColor":"main","fontSize":"medium"} -->
        <p class="has-main-color has-text-color has-medium-font-size">Adreça</p>
        <!-- /wp:paragraph -->

        <!-- wp:wpct-rcpt/field {"remoteField":"street,postal_code,city"} -->
        <div class="wp-block-wpct-rcpt-field">
          <!-- wp:paragraph {"placeholder":"Setup your remote field template","style":{"elements":{"link":{"color":{"text":"var:preset|color|main"}}}},"textColor":"main"} -->
          <p class="has-main-color has-text-color has-link-color">
            _street_, _postal_code_, _city_
          </p>
          <!-- /wp:paragraph -->
        </div>
        <!-- /wp:wpct-rcpt/field -->

        <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"2rem","selfStretch":"fixed"}}} -->
        <div
          style="height: 0px; width: 0px"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->

        <!-- wp:shortcode -->
        [remote_callback fn="wpct_ce_landings_butlleti_section"]
        <!-- /wp:shortcode -->

        <!-- wp:group {"className":"contacte-links-section"} -->
        <div class="wp-block-group contacte-links-section">
          <!-- wp:spacer {"height":"1rem"} -->
          <div
            style="height: 1rem"
            aria-hidden="true"
            class="wp-block-spacer"
          ></div>
          <!-- /wp:spacer -->

          <!-- wp:paragraph {"textColor":"main","fontSize":"medium"} -->
          <p class="has-main-color has-text-color has-medium-font-size">
            Contacte
          </p>
          <!-- /wp:paragraph -->

          <!-- wp:group {"className":"ce-landing-links","layout":{"type":"flex","flexWrap":"nowrap"}} -->
          <div class="wp-block-group ce-landing-links">
            <!-- wp:wpct-rcpt/field {"remoteField":"external_website_link"} -->
            <div class="wp-block-wpct-rcpt-field">
              <!-- wp:paragraph {"placeholder":"Setup your remote field template","style":{"elements":{"link":{"color":{"text":"var:preset|color|main"}}}},"textColor":"main"} -->
              <p class="has-main-color has-text-color has-link-color">
                <a href="https://_external_website_link_"
                  ><strong>_external_website_link_</strong></a
                >
              </p>
              <!-- /wp:paragraph -->
            </div>
            <!-- /wp:wpct-rcpt/field -->

            <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"1em","selfStretch":"fixed"}}} -->
            <div
              style="height: 0px; width: 0px"
              aria-hidden="true"
              class="wp-block-spacer"
            ></div>
            <!-- /wp:spacer -->

            <!-- wp:social-links {"iconColor":"main","iconColorValue":"#153F2D","className":"is-style-logos-only"} -->
            <ul
              class="wp-block-social-links has-icon-color is-style-logos-only"
            >
              <!-- wp:social-link {"service":"x"} /-->

              <!-- wp:social-link {"url":"#","service":"instagram"} /-->

              <!-- wp:social-link {"url":"#","service":"telegram"} /-->
            </ul>
            <!-- /wp:social-links -->
          </div>
          <!-- /wp:group -->
        </div>
        <!-- /wp:group -->
      </div>
      <!-- /wp:group -->

      <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"70px","selfStretch":"fixed"}}} -->
      <div
        style="height: 0px; width: 0px"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:group {"className":"is-style-default","style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
      <div id="contactForm" class="wp-block-group is-style-default">
        <!-- wp:paragraph {"textColor":"main","fontSize":"medium"} -->
        <p class="has-main-color has-text-color has-medium-font-size">
          Formulari de contacte
        </p>
        <!-- /wp:paragraph -->

        <!-- wp:paragraph {"textColor":"main"} -->
        <p class="has-main-color has-text-color">
          Consulta <a href="/recursos/#faqs">les preguntes més freqüents</a> i
          posa’t en contacte amb la Comunitat Energètica
        </p>
        <!-- /wp:paragraph -->

        <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"2rem","selfStretch":"fixed"}}} -->
        <div
          style="height: 0px; width: 0px"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->

        <!-- wp:group {"className":"is-style-default ce-landing-contact-form","layout":{"type":"default"}} -->
        <div class="wp-block-group is-style-default ce-landing-contact-form">
          <!-- wp:shortcode -->
          [remote_callback fn="wpct_ce_landing_contact_form" form_id="6"]
          <!-- /wp:shortcode -->
        </div>
        <!-- /wp:group -->
      </div>
      <!-- /wp:group -->
    </div>
    <!-- /wp:group -->

    <!-- wp:spacer {"height":"7rem"} -->
    <div style="height: 7rem" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
  </div>
  <!-- /wp:group -->

  <!-- wp:group {"className":"is-style-show-mobile-tablet","layout":{"type":"default"}} -->
  <div class="wp-block-group is-style-show-mobile-tablet">
    <!-- wp:spacer {"height":"3rem"} -->
    <div style="height: 3rem" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:group {"className":"is-style-horizontal-padded","layout":{"type":"constrained"}} -->
    <div class="wp-block-group is-style-horizontal-padded">
      <!-- wp:group {"className":"is-style-default","style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
      <div class="wp-block-group is-style-default">
        <!-- wp:paragraph {"textColor":"main","fontSize":"medium"} -->
        <p class="has-main-color has-text-color has-medium-font-size">Adreça</p>
        <!-- /wp:paragraph -->

        <!-- wp:wpct-rcpt/field {"remoteField":"street,postal_code,city"} -->
        <div class="wp-block-wpct-rcpt-field">
          <!-- wp:paragraph {"placeholder":"Setup your remote field template","style":{"elements":{"link":{"color":{"text":"var:preset|color|main"}}}},"textColor":"main"} -->
          <p class="has-main-color has-text-color has-link-color">
            _street_, _postal_code_, _city_
          </p>
          <!-- /wp:paragraph -->
        </div>
        <!-- /wp:wpct-rcpt/field -->

        <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"2rem","selfStretch":"fixed"}}} -->
        <div
          style="height: 0px; width: 0px"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->

        <!-- wp:shortcode -->
        [remote_callback fn="wpct_ce_landings_butlleti_section"]
        <!-- /wp:shortcode -->

        <!-- wp:group {"className":"contacte-links-section"} -->
        <div class="wp-block-group contacte-links-section">
          <!-- wp:spacer {"height":"1rem"} -->
          <div
            style="height: 1rem"
            aria-hidden="true"
            class="wp-block-spacer"
          ></div>
          <!-- /wp:spacer -->

          <!-- wp:paragraph {"textColor":"main","fontSize":"medium"} -->
          <p class="has-main-color has-text-color has-medium-font-size">
            Contacte
          </p>
          <!-- /wp:paragraph -->

          <!-- wp:group {"className":"ce-landing-links","layout":{"type":"flex","orientation":"vertical"}} -->
          <div class="wp-block-group ce-landing-links">
            <!-- wp:wpct-rcpt/field {"remoteField":"external_website_link"} -->
            <div class="wp-block-wpct-rcpt-field">
              <!-- wp:paragraph {"placeholder":"Setup your remote field template","style":{"elements":{"link":{"color":{"text":"var:preset|color|main"}}}},"textColor":"main"} -->
              <p class="has-main-color has-text-color has-link-color">
                <a href="https://_external_website_link_"
                  ><strong>_external_website_link_</strong></a
                >
              </p>
              <!-- /wp:paragraph -->
            </div>
            <!-- /wp:wpct-rcpt/field -->

            <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"1em","selfStretch":"fixed"}}} -->
            <div
              style="height: 0px; width: 0px"
              aria-hidden="true"
              class="wp-block-spacer"
            ></div>
            <!-- /wp:spacer -->

            <!-- wp:social-links {"iconColor":"main","iconColorValue":"#153F2D","className":"is-style-logos-only"} -->
            <ul
              class="wp-block-social-links has-icon-color is-style-logos-only"
            >
              <!-- wp:social-link {"service":"x"} /-->

              <!-- wp:social-link {"url":"#","service":"instagram"} /-->

              <!-- wp:social-link {"url":"#","service":"telegram"} /-->
            </ul>
            <!-- /wp:social-links -->
          </div>
          <!-- /wp:group -->
        </div>
        <!-- /wp:group -->

        <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"2rem","selfStretch":"fixed"}}} -->
        <div
          style="height: 0px; width: 0px"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->

        <!-- wp:heading {"textColor":"main"} -->
        <h2 class="wp-block-heading has-main-color has-text-color">
          Contacta-hi
        </h2>
        <!-- /wp:heading -->

        <!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"1rem","selfStretch":"fixed"}}} -->
        <div
          style="height: 0px; width: 0px"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->
      </div>
      <!-- /wp:group -->

      <!-- wp:group {"className":"is-style-default","style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"layout":{"type":"default"}} -->
      <div id="contactForm" class="wp-block-group is-style-default">
        <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
        <div class="wp-block-group">
          <!-- wp:separator {"style":{"layout":{"selfStretch":"fill","flexSize":null}}} -->
          <hr class="wp-block-separator has-alpha-channel-opacity" />
          <!-- /wp:separator -->
        </div>
        <!-- /wp:group -->

        <!-- wp:spacer {"height":"2rem","width":"0px"} -->
        <div
          style="height: 2rem; width: 0px"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->

        <!-- wp:paragraph {"textColor":"main","fontSize":"medium"} -->
        <p class="has-main-color has-text-color has-medium-font-size">
          Formulari de contacte
        </p>
        <!-- /wp:paragraph -->

        <!-- wp:paragraph {"textColor":"main"} -->
        <p class="has-main-color has-text-color">
          Consulta <a href="/recursos/#faqs">les preguntes més freqüents</a> i
          posa’t en contacte amb la Comunitat Energètica
        </p>
        <!-- /wp:paragraph -->

        <!-- wp:spacer {"height":"1rem","width":"0px"} -->
        <div
          style="height: 1rem; width: 0px"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->

        <!-- wp:group {"className":"ce-landing-contact-form","layout":{"type":"default"}} -->
        <div class="wp-block-group ce-landing-contact-form">
          <!-- wp:shortcode -->
          [remote_callback fn="wpct_ce_landing_contact_form" form_id="6"]
          <!-- /wp:shortcode -->
        </div>
        <!-- /wp:group -->
      </div>
      <!-- /wp:group -->
    </div>
    <!-- /wp:group -->

    <!-- wp:spacer {"height":"4rem"} -->
    <div style="height: 4rem" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:spacer {"height":"2rem","width":"0px","style":{"layout":[]}} -->
    <div
      style="height: 2rem; width: 0px"
      aria-hidden="true"
      class="wp-block-spacer"
    ></div>
    <!-- /wp:spacer -->
  </div>
  <!-- /wp:group -->
</section>
<!-- /wp:group -->

<!-- wp:shortcode -->
[remote_callback fn="wpct_ce_landing_visibility_script"]
<!-- /wp:shortcode -->

<!-- wp:shortcode -->
[remote_callback fn="wpct_ce_landing_social_script"]
<!-- /wp:shortcode -->

<!-- wp:template-part {"slug":"footer","theme":"wp-coop-ce-theme-v-2","tagName":"footer","area":"footer"} /-->
