<!-- wp:template-part {"slug":"header","theme":"wp-coop-ce-theme-v-2","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0;padding-top:0"><!-- wp:group {"tagName":"section","align":"full","className":"is-style-no-padding","layout":{"type":"default"}} -->
<section class="wp-block-group alignfull is-style-no-padding"><!-- wp:group {"className":"is-style-show-desktop","layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group is-style-show-desktop"><!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"35%"}},"className":"is-style-no-padding","layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"stretch"}} -->
<div class="wp-block-group is-style-no-padding"><!-- wp:post-featured-image {"width":"100%"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"65%"}},"className":"is-style-horizontal-padded","layout":{"type":"default"}} -->
<div class="wp-block-group is-style-horizontal-padded"><!-- wp:spacer {"height":"2rem","style":{"layout":{}}} -->
<div style="height:2rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"second-base-light","textColor":"typography","style":{"spacing":{"padding":{"left":"var:preset|spacing|50","right":"var:preset|spacing|50","top":"0.44rem","bottom":"0.44rem"}}},"fontSize":"x-small"} -->
<div class="wp-block-button has-custom-font-size has-x-small-font-size"><a class="wp-block-button__link has-typography-color has-second-base-light-background-color has-text-color has-background wp-element-button" style="padding-top:0.44rem;padding-right:var(--wp--preset--spacing--50);padding-bottom:0.44rem;padding-left:var(--wp--preset--spacing--50)">Ciutadania</a></div>
<!-- /wp:button -->

<!-- wp:button {"backgroundColor":"second-base-light","textColor":"typography","style":{"spacing":{"padding":{"left":"var:preset|spacing|30","right":"var:preset|spacing|30","top":"0.44rem","bottom":"0.44rem"}}}} -->
<div class="wp-block-button"><a class="wp-block-button__link has-typography-color has-second-base-light-background-color has-text-color has-background wp-element-button" style="padding-top:0.44rem;padding-right:var(--wp--preset--spacing--30);padding-bottom:0.44rem;padding-left:var(--wp--preset--spacing--30)">Societat Cooperativa</a></div>
<!-- /wp:button -->

<!-- wp:button {"backgroundColor":"brand","textColor":"base","style":{"spacing":{"padding":{"left":"var:preset|spacing|30","right":"var:preset|spacing|30","top":"0.44rem","bottom":"0.44rem"}}}} -->
<div class="wp-block-button"><a class="wp-block-button__link has-base-color has-brand-background-color has-text-color has-background wp-element-button" style="padding-top:0.44rem;padding-right:var(--wp--preset--spacing--30);padding-bottom:0.44rem;padding-left:var(--wp--preset--spacing--30)">Oberta</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:paragraph {"className":"ce-landing-breadcrumb"} -->
<p class="ce-landing-breadcrumb"><a href="/">Tornar al mapa</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:post-title /-->

<!-- wp:post-excerpt /-->

<!-- wp:spacer {"height":"1rem","style":{"layout":{}}} -->
<div style="height:1rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:post-terms {"term":"category","separator":""} /-->

<!-- wp:spacer {"height":"2rem","style":{"layout":{}}} -->
<div style="height:2rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"className":"is-style-show-mobile-tablet","layout":{"type":"constrained"}} -->
<div class="wp-block-group is-style-show-mobile-tablet"><!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"65%"}},"className":"is-style-horizontal-padded","layout":{"type":"default"}} -->
<div class="wp-block-group is-style-horizontal-padded"><!-- wp:spacer {"height":"2rem","style":{"layout":{}}} -->
<div style="height:2rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"second-base-light","textColor":"typography","style":{"spacing":{"padding":{"left":"var:preset|spacing|50","right":"var:preset|spacing|50","top":"0.44rem","bottom":"0.44rem"}}},"fontSize":"x-small"} -->
<div class="wp-block-button has-custom-font-size has-x-small-font-size"><a class="wp-block-button__link has-typography-color has-second-base-light-background-color has-text-color has-background wp-element-button" style="padding-top:0.44rem;padding-right:var(--wp--preset--spacing--50);padding-bottom:0.44rem;padding-left:var(--wp--preset--spacing--50)">Ciutadania</a></div>
<!-- /wp:button -->

<!-- wp:button {"backgroundColor":"second-base-light","textColor":"typography","style":{"spacing":{"padding":{"left":"var:preset|spacing|30","right":"var:preset|spacing|30","top":"0.44rem","bottom":"0.44rem"}}}} -->
<div class="wp-block-button"><a class="wp-block-button__link has-typography-color has-second-base-light-background-color has-text-color has-background wp-element-button" style="padding-top:0.44rem;padding-right:var(--wp--preset--spacing--30);padding-bottom:0.44rem;padding-left:var(--wp--preset--spacing--30)">Societat Cooperativa</a></div>
<!-- /wp:button -->

<!-- wp:button {"backgroundColor":"brand","textColor":"base","style":{"spacing":{"padding":{"left":"var:preset|spacing|30","right":"var:preset|spacing|30","top":"0.44rem","bottom":"0.44rem"}}}} -->
<div class="wp-block-button"><a class="wp-block-button__link has-base-color has-brand-background-color has-text-color has-background wp-element-button" style="padding-top:0.44rem;padding-right:var(--wp--preset--spacing--30);padding-bottom:0.44rem;padding-left:var(--wp--preset--spacing--30)">Oberta</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:paragraph {"className":"ce-landing-breadcrumb"} -->
<p class="ce-landing-breadcrumb"><a href="/">Tornar al mapa</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:post-title /-->

<!-- wp:post-excerpt /-->

<!-- wp:spacer {"height":"1rem","style":{"layout":{}}} -->
<div style="height:1rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:post-terms {"term":"category","separator":""} /-->

<!-- wp:spacer {"height":"2rem","style":{"layout":{}}} -->
<div style="height:2rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"35%"}},"className":"is-style-no-padding","layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"stretch"}} -->
<div class="wp-block-group is-style-no-padding"><!-- wp:post-featured-image {"width":"100%"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","align":"full","backgroundColor":"second-base-ultra-light","className":"is-style-no-padding","layout":{"type":"default"}} -->
<section class="wp-block-group alignfull is-style-no-padding has-second-base-ultra-light-background-color has-background"><!-- wp:group {"className":"is-style-show-desktop","layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"stretch"}} -->
<div class="wp-block-group is-style-show-desktop"><!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"className":"is-style-horizontal-padded","layout":{"type":"default"}} -->
<div class="wp-block-group is-style-horizontal-padded"><!-- wp:spacer {"height":"6rem","style":{"layout":{}}} -->
<div style="height:6rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading {"level":3} -->
<h3 class="wp-block-heading">Qui som</h3>
<!-- /wp:heading -->

<!-- wp:post-content /-->

<!-- wp:spacer {"height":"7rem","style":{"layout":{}}} -->
<div style="height:7rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"backgroundColor":"brand","className":"is-style-no-padding","layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group is-style-no-padding has-brand-background-color has-background"><!-- wp:group {"style":{"layout":{"selfStretch":"fill","flexSize":null}},"className":"is-style-horizontal-padded","layout":{"type":"constrained"}} -->
<div class="wp-block-group is-style-horizontal-padded"><!-- wp:heading {"textAlign":"center","textColor":"base"} -->
<h2 class="wp-block-heading has-text-align-center has-base-color has-text-color">Fes-te’n soci/a</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","textColor":"base"} -->
<p class="has-text-align-center has-base-color has-text-color">Sol·licita adherir-te com a soci/a i accedeix al serveis <br>de la comunitat energètica La Tonenca SCC</p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":"1rem","width":"0px","style":{"layout":{}}} -->
<div style="height:1rem;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons"><!-- wp:button {"fontSize":"small"} -->
<div class="wp-block-button has-custom-font-size has-small-font-size"><a class="wp-block-button__link wp-element-button" href="#contacte">Posa-t'hi en contacte</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"className":"is-style-show-mobile-tablet","layout":{"type":"constrained"}} -->
<div class="wp-block-group is-style-show-mobile-tablet"><!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"className":"is-style-horizontal-padded","layout":{"type":"default"}} -->
<div class="wp-block-group is-style-horizontal-padded"><!-- wp:spacer {"height":"3rem","style":{"layout":{}}} -->
<div style="height:3rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading {"level":3} -->
<h3 class="wp-block-heading">Qui som</h3>
<!-- /wp:heading -->

<!-- wp:post-content /-->

<!-- wp:spacer {"height":"4rem","style":{"layout":{}}} -->
<div style="height:4rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"backgroundColor":"brand","className":"is-style-no-padding","layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group is-style-no-padding has-brand-background-color has-background"><!-- wp:group {"style":{"layout":{"selfStretch":"fill","flexSize":null}},"className":"is-style-horizontal-padded","layout":{"type":"constrained"}} -->
<div class="wp-block-group is-style-horizontal-padded"><!-- wp:spacer {"height":"3rem"} -->
<div style="height:3rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading {"textAlign":"center","textColor":"base"} -->
<h2 class="wp-block-heading has-text-align-center has-base-color has-text-color">Fes-te’n soci/a</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","textColor":"base"} -->
<p class="has-text-align-center has-base-color has-text-color">Sol·licita adherir-te com a soci/a i accedeix al serveis <br>de la comunitat energètica La Tonenca SCC</p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":"1rem","width":"0px","style":{"layout":{}}} -->
<div style="height:1rem;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons"><!-- wp:button {"fontSize":"small"} -->
<div class="wp-block-button has-custom-font-size has-small-font-size"><a class="wp-block-button__link wp-element-button" href="#contacte">Posa-t'hi en contacte</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:spacer {"height":"4rem"} -->
<div style="height:4rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","align":"full","backgroundColor":"main","className":"is-style-no-padding","layout":{"type":"default"}} -->
<section class="wp-block-group alignfull is-style-no-padding has-main-background-color has-background"><!-- wp:group {"className":"is-style-horizontal-padded","layout":{"type":"constrained"}} -->
<div class="wp-block-group is-style-horizontal-padded"><!-- wp:spacer {"height":"6rem","className":"is-style-show-desktop"} -->
<div style="height:6rem" aria-hidden="true" class="wp-block-spacer is-style-show-desktop"></div>
<!-- /wp:spacer -->

<!-- wp:spacer {"height":"3rem","className":"is-style-show-mobile-tablet"} -->
<div style="height:3rem" aria-hidden="true" class="wp-block-spacer is-style-show-mobile-tablet"></div>
<!-- /wp:spacer -->

<!-- wp:image {"align":"center","id":3178,"sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image aligncenter size-full"><img src="/wp-content/uploads/2023/07/share-thumbnail.png" alt="" class="wp-image-3178"/></figure>
<!-- /wp:image -->

<!-- wp:spacer {"height":"2rem"} -->
<div style="height:2rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading {"textAlign":"center","textColor":"base"} -->
<h2 class="wp-block-heading has-text-align-center has-base-color has-text-color">
      Ajuda a fer créixer la Comunitat Energètica
    </h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","textColor":"base","fontSize":"medium"} -->
<p class="has-text-align-center has-base-color has-text-color has-medium-font-size">       Comparteix entre els teus veïns i veïnes i ajuda a fer créixer la Comunitat Energètica. Fem possible la transició energètica!     </p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":"2rem"} -->
<div style="height:2rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:buttons {"className":"ce-landing-share-pannel","layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons ce-landing-share-pannel"><!-- wp:button {"textAlign":"center","fontSize":"small"} -->
<div class="wp-block-button has-custom-font-size has-small-font-size"><a class="wp-block-button__link has-text-align-center wp-element-button">Comparteix enllaç</a></div>
<!-- /wp:button -->

<!-- wp:button {"fontSize":"small"} -->
<div class="wp-block-button has-custom-font-size has-small-font-size"><a class="wp-block-button__link wp-element-button">Comparteix per correu</a></div>
<!-- /wp:button -->

<!-- wp:button {"fontSize":"small"} -->
<div class="wp-block-button has-custom-font-size has-small-font-size"><a class="wp-block-button__link wp-element-button">Comparteix per Telegram</a></div>
<!-- /wp:button -->

<!-- wp:button {"fontSize":"small"} -->
<div class="wp-block-button has-custom-font-size has-small-font-size"><a class="wp-block-button__link wp-element-button">Comparteix per Whatsapp</a></div>
<!-- /wp:button -->

<!-- wp:button {"fontSize":"small"} -->
<div class="wp-block-button has-custom-font-size has-small-font-size"><a class="wp-block-button__link wp-element-button">Comparteix per Twitter</a></div>
<!-- /wp:button -->

<!-- wp:button {"fontSize":"small"} -->
<div class="wp-block-button has-custom-font-size has-small-font-size"><a class="wp-block-button__link wp-element-button">Comparteix per Instagram</a></div>
<!-- /wp:button -->

<!-- wp:button {"fontSize":"small"} -->
<div class="wp-block-button has-custom-font-size has-small-font-size"><a class="wp-block-button__link wp-element-button">Comparteix per Mastodon</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:spacer {"height":"7rem","className":"is-style-show-desktop"} -->
<div style="height:7rem" aria-hidden="true" class="wp-block-spacer is-style-show-desktop"></div>
<!-- /wp:spacer -->

<!-- wp:spacer {"height":"4rem","className":"is-style-show-mobile-tablet"} -->
<div style="height:4rem" aria-hidden="true" class="wp-block-spacer is-style-show-mobile-tablet"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","align":"full","className":"is-style-no-padding","layout":{"type":"default"}} -->
<section class="wp-block-group alignfull is-style-no-padding"><!-- wp:group {"className":"is-style-show-desktop","layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group is-style-show-desktop"><!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"className":"is-style-no-padding","layout":{"type":"default"}} -->
<div class="wp-block-group is-style-no-padding"><!-- wp:cover {"url":"/wp-content/uploads/2023/07/igualada-cover-2.png","id":3181,"dimRatio":0,"minHeight":640,"minHeightUnit":"px","layout":{"type":"constrained"}} -->
<div class="wp-block-cover" style="min-height:640px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim"></span><img class="wp-block-cover__image-background wp-image-3181" alt="" src="/wp-content/uploads/2023/07/igualada-cover-2.png" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","placeholder":"Escriu un títol...","fontSize":"large"} -->
<p class="has-text-align-center has-large-font-size"></p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"className":"is-style-horizontal-padded","layout":{"type":"default"}} -->
<div class="wp-block-group is-style-horizontal-padded"><!-- wp:spacer {"height":"3rem","style":{"layout":{}}} -->
<div style="height:3rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading {"level":4} -->
<h4 class="wp-block-heading">Perquè fer-se soci/a</h4>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>La Tonenca és una comunitat energètica sense ànim de lucre, constituïda&nbsp; per la ciutadania i amb el propòsit de treballar en diferents àrees, inclosa la generació d’electricitat a partir de fonts renovables.</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":4} -->
<h4 class="wp-block-heading">Procés d’alta</h4>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Omplir el<a href="/alta-nova-comunitat/" data-type="page" data-id="2676"> formulari per fer-se sòcia des </a><a href="/alta-nova-comunitat/" data-type="page" data-id="2676">de la web</a> i fer l’aportació a capital social de 100 €.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"x-small"} -->
<p class="has-x-small-font-size">Fer una única aportació al capital social de 100€ al compte corrent. Quan facis la transferència no oblidis indicar clarament el teu nom i cognoms al concepte per tal de tenir identificada cada transferència amb la persona que es dona d’alta.</p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":"1rem","style":{"layout":{}}} -->
<div style="height:1rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"className":"is-style-rounded","fontSize":"small"} -->
<div class="wp-block-button has-custom-font-size is-style-rounded has-small-font-size"><a class="wp-block-button__link wp-element-button" href="#contacte">Posa-t'hi en contacte</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:spacer {"height":"3rem","style":{"layout":{}}} -->
<div style="height:3rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"className":"is-style-show-mobile-tablet","layout":{"type":"constrained"}} -->
<div class="wp-block-group is-style-show-mobile-tablet"><!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"className":"is-style-no-padding","layout":{"type":"default"}} -->
<div class="wp-block-group is-style-no-padding"><!-- wp:cover {"url":"https://wordpress.local/wp-content/uploads/2023/07/igualada-cover-2.png","id":3181,"dimRatio":0,"minHeight":400,"minHeightUnit":"px","layout":{"type":"constrained"}} -->
<div class="wp-block-cover" style="min-height:400px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim"></span><img class="wp-block-cover__image-background wp-image-3181" alt="" src="https://wordpress.local/wp-content/uploads/2023/07/igualada-cover-2.png" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","placeholder":"Escriu un títol...","fontSize":"large"} -->
<p class="has-text-align-center has-large-font-size"></p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"className":"is-style-horizontal-padded","layout":{"type":"default"}} -->
<div class="wp-block-group is-style-horizontal-padded"><!-- wp:spacer {"height":"3rem","style":{"layout":{}}} -->
<div style="height:3rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading {"level":4} -->
<h4 class="wp-block-heading">Perquè fer-se soci/a</h4>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>La Tonenca és una comunitat energètica sense ànim de lucre, constituïda&nbsp; per la ciutadania i amb el propòsit de treballar en diferents àrees, inclosa la generació d’electricitat a partir de fonts renovables.</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":4} -->
<h4 class="wp-block-heading">Procés d’alta</h4>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Omplir el<a href="/alta-nova-comunitat/" data-type="page" data-id="2676"> formulari per fer-se sòcia des </a><a href="/alta-nova-comunitat/" data-type="page" data-id="2676">de la web</a> i fer l’aportació a capital social de 100 €.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"x-small"} -->
<p class="has-x-small-font-size">Fer una única aportació al capital social de 100€ al compte corrent. Quan facis la transferència no oblidis indicar clarament el teu nom i cognoms al concepte per tal de tenir identificada cada transferència amb la persona que es dona d’alta.</p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":"1rem","style":{"layout":{}}} -->
<div style="height:1rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"className":"is-style-rounded","fontSize":"small"} -->
<div class="wp-block-button has-custom-font-size is-style-rounded has-small-font-size"><a class="wp-block-button__link wp-element-button" href="#contacte">Posa-t'hi en contacte</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:spacer {"height":"3rem","style":{"layout":{}}} -->
<div style="height:3rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","align":"full","backgroundColor":"primary","className":"is-style-no-padding ce-landing-contact-section","layout":{"type":"default"}} -->
<section class="wp-block-group alignfull is-style-no-padding ce-landing-contact-section has-primary-background-color has-background"><!-- wp:group {"className":"is-style-show-desktop","layout":{"type":"default"}} -->
<div class="wp-block-group is-style-show-desktop"><!-- wp:spacer {"height":"5rem"} -->
<div style="height:5rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"className":"is-style-horizontal-padded","layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"top"}} -->
<div class="wp-block-group is-style-horizontal-padded"><!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"className":"is-style-default","layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group is-style-default"><!-- wp:heading -->
<h2 class="wp-block-heading">Contacta amb Igualada</h2>
<!-- /wp:heading -->

<!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"3rem","selfStretch":"fixed"}}} -->
<div style="height:0px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:paragraph {"fontSize":"medium"} -->
<p class="has-medium-font-size">Adreça</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Carrer de la Font nº 10 Bústia 48. Ajuntament de Tona, 08551, Tona</p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"2rem","selfStretch":"fixed"}}} -->
<div style="height:0px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:separator {"style":{"layout":{"selfStretch":"fill","flexSize":null}}} -->
<hr class="wp-block-separator has-alpha-channel-opacity"/>
<!-- /wp:separator --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"2rem","selfStretch":"fixed"}}} -->
<div style="height:0px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:paragraph {"fontSize":"medium"} -->
<p class="has-medium-font-size">Butlletí</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Vols rebre informació de La Tonenca SCCL</p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"2rem","selfStretch":"fixed"}}} -->
<div style="height:0px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"className":"ce-landing-newsletter-form","layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group ce-landing-newsletter-form"><!-- wp:gravityforms/form {"formId":"5","title":false,"description":false,"ajax":true} /-->

<!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"100%","selfStretch":"fixed"}}} -->
<div style="height:0px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"2rem","selfStretch":"fixed"}}} -->
<div style="height:0px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:separator {"style":{"layout":{"selfStretch":"fill","flexSize":null}}} -->
<hr class="wp-block-separator has-alpha-channel-opacity"/>
<!-- /wp:separator --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"2rem","selfStretch":"fixed"}}} -->
<div style="height:0px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:paragraph {"fontSize":"medium"} -->
<p class="has-medium-font-size">Contacte</p>
<!-- /wp:paragraph -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p><a href="http://www.latonenca.cat"><strong>www.latonenca.cat</strong> </a></p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"1em","selfStretch":"fixed"}}} -->
<div style="height:0px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:social-links {"iconColor":"typography","iconColorValue":"#191919","className":"is-style-logos-only"} -->
<ul class="wp-block-social-links has-icon-color is-style-logos-only"><!-- wp:social-link {"url":"https://twitter.com","service":"twitter"} /-->

<!-- wp:social-link {"url":"https://instagram.com","service":"instagram"} /-->

<!-- wp:social-link {"url":"https://desktop.telegram.org/","service":"telegram"} /--></ul>
<!-- /wp:social-links --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"70px","selfStretch":"fixed"}}} -->
<div style="height:0px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"className":"is-style-default","layout":{"type":"default"}} -->
<div id="contacte" class="wp-block-group is-style-default"><!-- wp:paragraph {"fontSize":"medium"} -->
<p class="has-medium-font-size">Formulari de contacte</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Consulta <a href="/recursos/#faqs">les preguntes més freqüents</a> i posa’t en contacte amb la Comunitat Energètica</p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":"2rem","width":"0px"} -->
<div style="height:2rem;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"className":"is-style-default ce-landing-contact-form","layout":{"type":"default"}} -->
<div class="wp-block-group is-style-default ce-landing-contact-form"><!-- wp:gravityforms/form {"formId":"4","title":false,"description":false} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"7rem"} -->
<div style="height:7rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group -->

<!-- wp:group {"className":"is-style-show-mobile-tablet","layout":{"type":"default"}} -->
<div class="wp-block-group is-style-show-mobile-tablet"><!-- wp:spacer {"height":"3rem"} -->
<div style="height:3rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"className":"is-style-horizontal-padded","layout":{"type":"constrained"}} -->
<div class="wp-block-group is-style-horizontal-padded"><!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"className":"is-style-default","layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group is-style-default"><!-- wp:heading -->
<h2 class="wp-block-heading">Contacta amb Igualada</h2>
<!-- /wp:heading -->

<!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"2rem","selfStretch":"fixed"}}} -->
<div style="height:0px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:paragraph {"fontSize":"medium"} -->
<p class="has-medium-font-size">Adreça</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Carrer de la Font nº 10 Bústia 48. Ajuntament de Tona, 08551, Tona</p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"2rem","selfStretch":"fixed"}}} -->
<div style="height:0px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:separator {"style":{"layout":{"selfStretch":"fill","flexSize":null}}} -->
<hr class="wp-block-separator has-alpha-channel-opacity"/>
<!-- /wp:separator --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"2rem","selfStretch":"fixed"}}} -->
<div style="height:0px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:paragraph {"fontSize":"medium"} -->
<p class="has-medium-font-size">Butlletí</p>
<!-- /wp:paragraph -->

<!-- wp:group {"className":"ce-landing-newsletter-form","layout":{"type":"default"}} -->
<div class="wp-block-group ce-landing-newsletter-form"><!-- wp:gravityforms/form {"formId":"5","title":false,"description":false,"ajax":true} /--></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"1rem","selfStretch":"fixed"}}} -->
<div style="height:0px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:separator {"style":{"layout":{"selfStretch":"fill","flexSize":null}}} -->
<hr class="wp-block-separator has-alpha-channel-opacity"/>
<!-- /wp:separator --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"2rem","selfStretch":"fixed"}}} -->
<div style="height:0px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:paragraph {"fontSize":"medium"} -->
<p class="has-medium-font-size">Contacte</p>
<!-- /wp:paragraph -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p><a href="http://www.latonenca.cat"><strong>www.latonenca.cat</strong> </a></p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"1em","selfStretch":"fixed"}}} -->
<div style="height:0px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:social-links {"iconColor":"typography","iconColorValue":"#191919","className":"is-style-logos-only"} -->
<ul class="wp-block-social-links has-icon-color is-style-logos-only"><!-- wp:social-link {"url":"https://twitter.com","service":"twitter"} /-->

<!-- wp:social-link {"url":"https://instagram.com","service":"instagram"} /-->

<!-- wp:social-link {"url":"https://desktop.telegram.org/","service":"telegram"} /--></ul>
<!-- /wp:social-links --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"0px","width":"0px","style":{"layout":{"flexSize":"1rem","selfStretch":"fixed"}}} -->
<div style="height:0px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"className":"is-style-default","layout":{"type":"default"}} -->
<div id="contacte" class="wp-block-group is-style-default"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:separator {"style":{"layout":{"selfStretch":"fill","flexSize":null}}} -->
<hr class="wp-block-separator has-alpha-channel-opacity"/>
<!-- /wp:separator --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"2rem","width":"0px","style":{"layout":{}}} -->
<div style="height:2rem;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:paragraph {"fontSize":"medium"} -->
<p class="has-medium-font-size">Formulari de contacte</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Consulta <a href="/recursos/#faqs">les preguntes més freqüents</a> i posa’t en contacte amb la Comunitat Energètica</p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":"1rem","width":"0px","style":{"layout":{}}} -->
<div style="height:1rem;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"className":"ce-landing-contact-form","layout":{"type":"default"}} -->
<div class="wp-block-group ce-landing-contact-form"><!-- wp:gravityforms/form {"formId":"4","title":false,"description":false} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"4rem"} -->
<div style="height:4rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group --></section>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"wp-coop-ce-theme-v-2","tagName":"footer","className":"site-footer"} /-->
