/* Forms generic styles
--------------------------------------------- */
input {
  border: none;
}

.gform_wrapper {
  color: var(--wp--preset--color--typography);
}

.gform_required_legend {
  display: none;
}

.ginput_container input,
.ginput_container textarea,
.ginput_container select {
  border: none;
  border-radius: 5px;
  outline: none;
}

.gfield_select option.gf_placeholder {
  display: none;
}

.gform_wrapper .gfield.gfield--type-consent .gfield_consent_description {
  color: var(--wp--preset--color--typography-light);
  font-size: var(--wp--preset--font-size--xxx-small) !important;
  border: none !important;
  overflow-y: auto;
  opacity: 0.6;
}

.gform_button {
  border-radius: 5px;
}

.gfield_label {
  margin-bottom: 0 !important;
}

.ce-form-newsletter .gform_wrapper {
  position: relative;
}

.ce-form-newsletter .gfield .ginput_container_email input,
.ce-form-newsletter .gform_footer .gform_button[type="submit"] {
  font-size: var(--wp--preset--font-size--small);
  margin-bottom: 0;
  margin-top: 0;
  padding: var(--wp--custom--spacing--sxxs);
  border-radius: 0px;
}

.ce-form-newsletter .gform_footer .gform_button[type="submit"] {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10;
  padding-left: var(--wp--custom--spacing--sm);
  padding-right: var(--wp--custom--spacing--sm);
}

/* Forms alta comunitat and contact
--------------------------------------------- */
#ce-form .gform_wrapper {
  color: var(--wp--preset--color--main-light);
  font-family: var(--wp--preset--font-family--primary);
}

#ce-form .gfield.gfield--type-section {
  border-bottom: none;
  position: relative;
  padding: 0 0 8px 0;
}

#ce-form .gfield.gfield--type-section h3 {
  font-size: var(--wp--preset--font-size--medium);
  color: var(--wp--preset--color--main-light);
  font-weight: var(--wp--custom--font-weight--medium);
  display: flex;
}

#ce-form .gfield.gfield--type-section h3:after {
  overflow: hidden;
  height: 1px;
  content: "\a0";
  background-color: var(--wp--preset--color--main-light);
  flex: 1;
  margin: 0.6em 0 0 25px;
}

#ce-form .ginput_container textarea,
#ce-form .ginput_container input,
#ce-form .ginput_container select {
  border-radius: 10px;
  border: 1px solid var(--wp--preset--color--second-base);
  font-size: var(--wp--preset--font-size--small);
  font-weight: var(--wp--custom--font-weight--regular);
  font-family: var(--wp--preset--font-family--alternative);
  color: var(--wp--preset--color--main-light);
}

#ce-form .ginput_container textarea,
#ce-form .ginput_container input {
  font-size: var(--wp--preset--font-size--small);
}

#ce-form .ginput_container select {
  font-size: var(--wp--preset--font-size--x-small);
  height: 42px;
}

#ce-form .ginput_container textarea {
  resize: none;
}

.ginput_container_textarea .charleft {
  display: none;
}

#ce-form .gfield.gfield--type-checkbox legend {
  font-size: var(--wp--preset--font-size--small);
  font-weight: var(--wp--custom--font-weight--medium);
}

#ce-form .ginput_container.ginput_container_checkbox .gchoice input {
  border-radius: 5px;
  border: 1px solid var(--wp--preset--color--second-base);
  appearance: none;
  width: 20px;
  height: 20px;
  padding: 8px;
}

#ce-form .ginput_container.ginput_container_checkbox .gchoice input:checked {
  background-color: var(--wp--preset--color--brand);
  border: none;
}

#ce-form .gfield.gfield--type-checkbox .gfield_choice_all_toggle {
  display: none;
}

#ce-form .gform_footer.top_label input.gform_button {
  width: 100%;
  border-radius: 100px;
  background-color: var(--wp--preset--color--primary);
  font-size: var(--wp--preset--font-size--small);
  font-weight: var(--wp--custom--font-weight--medium);
}

.gform_confirmation_wrapper {
  width: 100%;
}

.gform_confirmation_message {
  color: var(--wp--preset--color--typography);
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--wp--custom--spacing--sxs);
  text-align: center;
  font-weight: bold;
}

/* Forms Butlletí
--------------------------------------------- */

#butlleti #form .gform_wrapper{
  color: var(--wp--preset--color--base);
  position: relative;
  
}
#butlleti #form .gform_wrapper a{
  color: var(--wp--preset--color--base);
  text-decoration: none;
}

#butlleti #form .gform_wrapper .gform_validation_errors,
#butlleti #form .gform_wrapper .gfield_validation_message{
  display: none;
}
#butlleti #form .ginput_container.ginput_container_email input{
  font-size: var(--wp--preset--font-size--small);
  margin-bottom: 0;
  margin-top: 0;
  padding: var(--wp--custom--spacing--sxxs);
  border-radius: 0px;
  height: 44px;
}

#butlleti #form .gform_footer.top_label input{
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border-radius: 0px;
  background-color: var(--wp--preset--color--primary);
  height: 44px;
}
#butlleti #form .ginput_container.ginput_container_consent{
  display: flex;
  margin-top: 10px;
}
#butlleti #form .ginput_container.ginput_container_consent input {
  border-radius: 0px;
  border: none;
  appearance: none;
  width: 20px;
  height: 20px;
  padding: 8px;
  outline: none;
}

#butlleti #form .ginput_container.ginput_container_consent input:checked {
  background-color: var(--wp--preset--color--primary);
  border: none;
}
#butlleti #form .ginput_container.ginput_container_consent input:checked{
  display: block;
}

#butlleti #form .ginput_container.ginput_container_consent .gform-field-label{
  margin-left: 8px;
}



/**Forms coordinadores**/

#ce-coordinadores-contact #ce-form .gform_footer.top_label input.gform_button{
  background-color: var(--wp--preset--color--main);
  color: white;
}
#ce-coordinadores-contact #ce-form .gform_wrapper{
  color: var(--wp--preset--color--main);
}


#ce-coordinadores-contact #ce-form a:where(:not(.wp-element-button)){
  color: var(--wp--preset--color--base);
}

#ce-coordinadores-contact #ce-form .gform_wrapper .gform_validation_errors,
#ce-coordinadores-contact #ce-form .gfield_validation_message{
  display: none;
}



#ce-coordinadores-contact #ce-form .gform_wrapper .gfield_consent_description{
  color: var(--wp--preset--color--main);
  opacity: 0.8;
}
