.wp-block-ce-block-slider .ce-card .wp-block-post-featured-image {
  height: 280px;
  overflow: hidden;
  width: 100%;
}

.wp-block-ce-block-slider .ce-card .wp-block-post-featured-image img {
  height: 100%;
}

.wp-block-ce-block-slider .ce-card .wp-block-post-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wp-block-ce-block-slider .ce-card .wp-block-post-title a {
  display: inline;
}

.wp-block-ce-block-slider .ce-card .wp-block-post-excerpt__excerpt {
  height: 80px;
  overflow: hidden;
  overflow: hidden;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.wp-block-ce-block-slider[slidestoshow] .slick-slide > * {
  margin: 2%;
}

.wp-block-ce-block-slider[slidestoshow="1"] .slick-slide > * {
  margin: 0;
}
