.taxonomy-ce-status.wp-block-post-terms a,
.taxonomy-post_tag.wp-block-post-terms a {
  padding: var(--wp--custom--spacing--sminimal) var(--wp--custom--spacing--sxs);
  border-radius: 40px;
  background-color: var(--wp--preset--color--brand);
  color: var(--wp--preset--color--white);
  font-weight: 700;
  font-size: var(--wp--preset--font-size--x-small);
  pointer-events: none;
}

.taxonomy-post_tag.wp-block-post-terms a:nth-child(3n) {
  background-color: var(--wp--preset--color--main);
}

.taxonomy-post_tag.wp-block-post-terms a:nth-child(n + 2) {
  margin-left: 0.5em;
}

.taxonomy-post_tag.wp-block-post-terms .wp-block-post-terms__separator {
  display: none;
}

.is-style-show-tablet .taxonomy-post_tag.wp-block-post-terms a {
  display: block;
  width: fit-content;
  margin: 0;
}

.is-style-show-tablet .taxonomy-post_tag.wp-block-post-terms a:nth-child(n + 2) {
  margin-top: 0.25em;
}

.taxonomy-ce-status.wp-block-post-terms {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.taxonomy-ce-status.wp-block-post-terms a {
  position: relative;
  padding-left: calc(var(--wp--custom--spacing--sxs) + 0.8rem);
}

.taxonomy-ce-status.wp-block-post-terms a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0.25rem;
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: center;
}

.taxonomy-ce-status.wp-block-post-terms a[href*="open"] {
  background-color: var(--wp--preset--color--brand);
}

.taxonomy-ce-status.wp-block-post-terms a[href*="open"]::before {
  background-image: url("/wp-content/themes/wp-coop-ce-theme-v-2/img/ce-status/open.svg");
}

.taxonomy-ce-status.wp-block-post-terms a[href*="closed"] {
  background-color: var(--wp--preset--color--label-purple);
}

.taxonomy-ce-status.wp-block-post-terms a[href*="closed"]::before {
  background-image: url("/wp-content/themes/wp-coop-ce-theme-v-2/img/ce-status/closed.svg");
}
