name: codeccoop/comunitats-energetiques/wp-coop-ce-theme-v2
on:
  push:
    tags:
      - '*'
  workflow_dispatch:
concurrency:
  group: "${{ github.ref }}"
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: node:latest
    timeout-minutes: 60
    # env:
    #   ZIP: "${{ github.event.repository.name }}.zip"
    #   PACKAGE_VERSION: "${{ github.ref }}"
    #   PACKAGE_REGISTRY_URL: "${{ github.api_url }}/projects/${{ github.repository }}/packages/generic/${{ github.event.repository.name }}/${PACKAGE_VERSION}"
    steps:
    - uses: actions/checkout@v4.1.0
      with:
        fetch-depth: 20
        lfs: false
    - run: npm install && npm run build
    - run: find . -name node_modules -type d | xargs rm -rf
    - uses: actions/upload-artifact@v4.1.0
      # if: succekkss()
      with:
        name: build-assets
        path: |-
          assets/js
          assets/css
          custom-blocks
  package:
    needs: build
    runs-on: ubuntu-latest
    # container:
    #   image: mappies/node-with-zip:latest
    # timeout-minutes: 60
    # env:
    #   ZIP: "${{ github.event.repository.name }}.zip"
    #   PACKAGE_VERSION: "${{ github.ref }}"
    #   PACKAGE_REGISTRY_URL: "${{ github.api_url }}/projects/${{ github.repository }}/packages/generic/${{ github.event.repository.name }}/${PACKAGE_VERSION}"
    steps:
    - uses: actions/checkout@v4.1.0
      with:
        fetch-depth: 20
    - uses: actions/download-artifact@v4.1.0
      with:
          name: build-assets
          path: build/
    - run: zip -r theme.zip build/*
    - run: ls -lah
    - uses: actions/upload-artifact@v4.1.0
      if: success()
      with:
        name: theme-zip
        path: theme.zip
  # upload:
  #   needs: package
  #   runs-on: ubuntu-latest
  #   container:
  #     image: curlimages/curl:latest
  #   timeout-minutes: 60
  #   env:
  #     ZIP: "${{ github.event.repository.name }}.zip"
  #     PACKAGE_VERSION: "${{ github.ref }}"
  #     PACKAGE_REGISTRY_URL: "${{ github.api_url }}/projects/${{ github.repository }}/packages/generic/${{ github.event.repository.name }}/${PACKAGE_VERSION}"
  #   steps:
  #   - uses: actions/checkout@v4.1.0
  #     with:
  #       fetch-depth: 20
  #       lfs: true
  #   - uses: actions/download-artifact@v4.1.0
  #   - run: 'curl --header "JOB-TOKEN: ${{ github.token }}" --upload-file ${ZIP} ${PACKAGE_REGISTRY_URL}/${ZIP}
  #       '
  release:
    needs: package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: theme-zip
          path: .
      - name: Create GitHub Release with assets
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          tag_name: ${{ github.ref_name }}
          release_name: Release ${{ github.ref_name }}
          draft: false
          prerelease: false
          files: |
            theme.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

