name: codeccoop/comunitats-energetiques/wp-coop-ce-theme-v2
on:
  push:
    tags:
      - '*'
  workflow_dispatch:
concurrency:
  group: "${{ github.ref }}"
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: node:latest
    timeout-minutes: 60
    env:
      ZIP: "${{ github.event.repository.name }}.zip"
      PACKAGE_VERSION: "${{ github.ref }}"
      PACKAGE_REGISTRY_URL: "${{ github.api_url }}/projects/${{ github.repository }}/packages/generic/${{ github.event.repository.name }}/${PACKAGE_VERSION}"
    steps:
    - uses: actions/checkout@v4.1.0
      with:
        fetch-depth: 20
        lfs: false
    - run: npm install && npm run build
    - run: find . -name node_modules -type d | xargs rm -rf
    - uses: actions/upload-artifact@v4.1.0
      if: success()
      with:
        name: "${{ github.job }}"
        path: |-
          assets/js
          assets/css
          custom-blocks
  package:
    needs: build
    runs-on: ubuntu-latest
    container:
      image: javieraviles/zip:latest
    timeout-minutes: 60
    env:
      ZIP: "${{ github.event.repository.name }}.zip"
      PACKAGE_VERSION: "${{ github.ref }}"
      PACKAGE_REGISTRY_URL: "${{ github.api_url }}/projects/${{ github.repository }}/packages/generic/${{ github.event.repository.name }}/${PACKAGE_VERSION}"
    steps:
    - uses: actions/checkout@v3.6.0
      with:
        fetch-depth: 20
    - uses: actions/download-artifact@v4.1.0
    - run: zip -r $ZIP * -x 'package*.json' -x '*.config.js' -x '*.md' -x '*.yml' -x 'src/*'
    - run: ls -lah
    - uses: actions/upload-artifact@v4.1.0
      if: success()
      with:
        name: "${{ github.job }}"
        path: "$ZIP"
  upload:
    needs: package
    runs-on: ubuntu-latest
    container:
      image: curlimages/curl:latest
    timeout-minutes: 60
    env:
      ZIP: "${{ github.event.repository.name }}.zip"
      PACKAGE_VERSION: "${{ github.ref }}"
      PACKAGE_REGISTRY_URL: "${{ github.api_url }}/projects/${{ github.repository }}/packages/generic/${{ github.event.repository.name }}/${PACKAGE_VERSION}"
    steps:
    - uses: actions/checkout@v4.1.0
      with:
        fetch-depth: 20
        lfs: true
    - uses: actions/download-artifact@v4.1.0
    - run: 'curl --header "JOB-TOKEN: ${{ github.token }}" --upload-file ${ZIP} ${PACKAGE_REGISTRY_URL}/${ZIP}
        '
  release:
    needs: upload
    runs-on: ubuntu-latest
    container:
      image: registry.gitlab.com/gitlab-org/release-cli:latest
    timeout-minutes: 60
    env:
      ZIP: "${{ github.event.repository.name }}.zip"
      PACKAGE_VERSION: "${{ github.ref }}"
      PACKAGE_REGISTRY_URL: "${{ github.api_url }}/projects/${{ github.repository }}/packages/generic/${{ github.event.repository.name }}/${PACKAGE_VERSION}"
    steps:
    - uses: actions/checkout@v4.1.0
      with:
        fetch-depth: 20
        lfs: true
    - uses: actions/download-artifact@v4.1.0
    - run: |
        release-cli create --name "Release ${{ github.ref }}" --tag-name ${{ github.ref }} \
          --assets-link "{\"name\":\"${ZIP}\",\"url\":\"${PACKAGE_REGISTRY_URL}\/${ZIP}\",\"link_type\":\"package\",\"filepath\":\"\/themes\/${ZIP}\"}"
